﻿div.panel-category-tree div.rtsLevel a.rtsLink 
{
    font: 14px/22px Helvetica,Arial,sans-serif;
    background-image: none;
    border-color: #903;
    color: #fff;
}

div.panel-category-tree div.rtsLevel1 ul.rtsUL {
    background: none repeat scroll 0 0 #990033;
    height: 22px;
}

.panel-category-tree .rtsLevel1 .rtsUL {
    padding: 5px 5px 0;
}

div.panel-category-tree div.rtsLevel1 a.rtsSelected {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #767676; 
}

div.panel-category-tree div.rtsLevel a.rtsLink span.rtsOut
{
    
    background-image: none;
}

#entryPointContainer ul, #entryPointContainer ul li {
    list-style: none;
}

/* Content */
div#main-content div#main-content-top {
	width: 912px;
	background-color: #f4f4f4;
	padding: 10px 10px 10px 10px;
    border: 1px solid #999;
    margin-top: 10px;
}

div#main-content-intro {
    text-align: left; 
    margin: 20px 10px 10px 10px;
}

div#main-content-intro > span 
{
    font-weight: bold;
    font-size: 14px;
    margin: 20px 10px 10px 10px;
}
div.images-button-pickup {
	background: url("Images/btn-left.png") no-repeat scroll top left;
	margin: 20px 0 0 10px;
	width: 183px;
	display: inline-block;
    float: left;
} 

div.images-button-pickup-mid {
	background: url("Images/btn-mid.png") repeat-x scroll top;
	height: 29px;    
	margin: 0 0 0 3px;
}

div.images-button-pickup div.images-button-pickup-right {
	background: url("Images/btn-right.png") no-repeat scroll top right;
	height: 29px;
}

/* set color for Save Setting button */

div.panel-category-tree div.rtsLevel1 
{
    background: #fff;
    margin: 0px 20px 0px 20px;
    
    border-bottom: 1px solid #990033;
}

div.panel-category-tree div.rtsLevel1 ul.rtsUL {
    background: #903;
}

div.panel-category-tree div.rtsLevel1 a.rtsLink{
    border: none;
}

div.csp_left_col a.RadButton {
    float: left;
    padding: 10px;
    border: none;
    color: #fff;
    border-color: #fff;
    width: 85px;
}

div#btnSaveEntry a.RadButton {
    display: inline-block;
    margin-bottom: 5px;
}

div#btnSaveCategory {
	height: 45px;
}

div#btnSaveCategory a.RadButton  
{
    background-image: none;
    display: inline-block;
    margin-bottom: 5px;
}

div.entrypoint_left_col a.RadButton  
{
    background-image: none;
    float: left;
    border: none;
    color: #fff;
    border-color: #fff;
    width: 85px;
    padding: 10px;
}

div.csp_left_col a.RadButton input.rbDecorated 
{
    background-image: none;
    background-color: #903;
    border-radius: 3px;
    color: white;
	height: 25px;
}

div.entrypoint_left_col a.RadButton input.rbDecorated {
    background-image: none;
    background-color: #903;
    border-radius: 3px;
    color: white;
	height: 25px;
}

#entryPointContainer ul, #entryPointContainer ul li {
    margin-top: 10px;
}

div.content_setup_header {
    border-bottom: 1px solid #DDD;
    padding-bottom: 5px;
}

div.panel-category-tree div.rtsLevel  ul.rtsUL li.rtsLI  a.rtsLink {
    text-transform: capitalize;
}

.rbSkinnedButton:hover {
    border: none;
}

div#entryPointHeader {
    font-size: 14px;
    padding-bottom: 25px;
    font-weight: bold;
}

div.content_setup_header {
    font-weight: bold;
}

div.step1Container {
    border: 1px solid #DDD;
}

div.step2Container {
    border: 1px solid #DDD;
}

div#wdCodePickup .title {
    background: none repeat scroll 0 0 #EDE9EA;
    border-bottom: 1px solid #FFFFFF;
    color: #666666;
    font: bold 11px Arial,Helvetica,sans-serif;
    padding: 5px;
}

div#wdCodePickup .codeBlock {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #6A6864 #9F9C96 #9F9C96 #6A6864;
    border-style: solid;
    border-width: 2px;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 5px;
    white-space: normal;
    /*width: 590px;*/
}

div#wdCodePickup .codeBlock P {
    margin: 0;
    padding: 5px 0 5px 10px;
    white-space: normal;
}
.warning_container {
    background: url("Images/alert-icon.png") left center no-repeat;
    padding-left: 25px;
    float: left;
    height: 22px;
    line-height: 22px;
    
}
.warning_combobox {
    float: left;
    margin-left: 10px;
}

#dnn_ContentPane .RadButton_Metro.rbSkinnedButton:hover, .RadButton_Metro.rbVerticalButton:hover {
    border: none;
    color: #fff;
    background-color: #fff;
}

.k-overlay {
	z-index: 9000 !important;
}

.k-window {
	z-index: 9001 !important;
}

#banner_image_preview img {
    max-width: 230px;
}
.csp_left_col .RadTreeView_Metro .rtPlus, .csp_left_col .RadTreeView_Metro .rtMinus {
    background-image: url("Images/tree_minus_plus.png");
}
.csp_left_col .RadTreeView .rtPlus, .csp_left_col .RadTreeView .rtMinus {
    background-image: url("Images/tree_minus_plus.png");
}

/* Pickup your code - Copy to clipboard { */
#generate_embed_code_email {
	padding-top: 10px;
}
#email_embed_code {
	width: 250px;
	padding: 3px 0px;
}
#email_embed_code, #submit_email_embed_code, #copy-embed-code {
	border: 1px solid #AAA;
}
#copy-embed-code {
	position: relative;
}
#code-copied {
	display: none;
	color: #FF0000;
	text-shadow: -1px 1px 1px #000;
}
/* } Pickup your code - Copy to clipboard */