﻿body {
   
}
 #createportal-wrapper {
     width: 660px;
     margin: 0 auto;
    }
 .formItemButtonBlue{
	height: 30px;
    margin-left: 0;
    width: 100px;
	color: #fff;
    font-family: 'Arial', serif;
    border: none;
    cursor: pointer;
    background-color: #2590d3;
}

table tr td {
    padding: 5px;
}
.tbPortalAlias {
    margin-left: 10px;
}