﻿.clear, .csp-clear { clear: both; }

.hide { display: none; }

.pos-relative { position: relative; }

.error-msg {
	display: none;
	position: absolute;
	top: -2px;
	right: 0px;
	display: block;
	color: white !important;
	background: url(../images/errorbg.gif) no-repeat left center;
	text-shadow: 0px 1px 1px black;
	padding: 5px 20px;
}

.long-input {
	width: 250px;
	border: 1px solid #BBB;
}

.popup-textarea {
	resize: none;
	border: 1px solid #BBB;
}

img { border: none; }

ul, li {
	padding: 0px; margin: 0px;
}

/*Priyanka Edits*/

a { color: #548dd4; }
a:visited  { color: #666666; }
a:hover    { color: #000000; }

p{
	font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
	font-style: normal;
	line-height: 120%;
	font-weight: normal;
	color: #000;
	margin-bottom: 14px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 6px;	           
}


h1{
	color: #666666;
	/*line-height:normal;*/
	font-size:24px;
	font-weight: normal;
	margin: 0px 0px 12px 0px;
}

h2{	
	color: #666666;
	margin: 0px 0px 6px 0px;
    line-height: 18px;
	font-size:18px;
	font-weight: normal;
}

h3{
	color: #666666;
    font-size: 12px;
    font-weight: bold;
    margin: 0px 0px 3px 0px;

}

/*Priyanka Edits End*/

div#csp-wrapper {
	width: 660px;
	position: relative;
	margin: 0 auto;
	padding: 0px;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
	min-height: 500px;
}

div#csp-wrapper * {
    font-family: Arial,Verdana,Univers !important; 
}

div#csp-top-section {
	position: relative;
	z-index: 2;
}

div#csp-logo {
	float: left;
}

div#csp-nav {
	border-top: 16px solid #404040;
	float: right;
	/*width: 510px;*/
	width: 660px;
	height: 64px;
	background: url("../images/topnav-bg.gif") repeat-x scroll bottom left;
}

div#csp-nav * {
	margin: 0 auto;
	padding: 0px;
}

div#csp-nav ul#main-nav {
    padding: 0px !important;
    overflow: hidden;
}

div#csp-nav li.root-item {
	list-style-type: none;
	width: 126px;
	float: left;
	height: 64px;
	background: url("../images/topnav-left-bevel.gif") no-repeat scroll bottom right;
	padding-right: 1px;
}

.root-item-title-editor {
	border: 1px solid #333;
}

div#csp-nav li.last-root {
	background: none;
	width: 129px;
	padding-right: 0px;
}

div#csp-nav li.root-item {
}

div#csp-nav li.root-item a.root-item-link {
	text-decoration: none;
	font-weight: bold;
	color: #404040;
	display: block;
	text-align: center;
	padding: 0px 5px 0px 5px;
}

div#csp-nav li.root-item a:hover {
	background-color: #FFF;
}

div#csp-nav li.root-item span.root-item-text {
	display: block;
	width: 100%;
	cursor: pointer;
}

div.sub-menu-wrapper {
	background: url("../images/topnav-overlay-bg.gif") repeat-x scroll 0 0 #F7F7F7;
    box-shadow: 0 0 3px #AAAAAA;
    cursor: default;
    left: 1px;
    padding-top: 1px;
    position: absolute;
    top: 79px;
    width: 658px;
	z-index: 1;
	display: none;
}

ul.sub-menu {
	margin-bottom: 20px;
    padding: 25px 26px 23px !important;
    text-align: left;
}

ul.sub-menu ul {
    padding: 0px !important;
}

ul.sub-menu li.sub-item {
	float: left;
	list-style: none outside none;
	color: #666666;
    font-size: 11px;
    line-height: 13px;
    margin: 5px 0 0;
    width: 25%;
}

ul.sub-menu li.sub-item * {
	color: #666666;
	text-decoration: none;
}

ul.sub-menu li.sub-item h2 {
	color: #131313;
    font-size: 14px;
    margin: 0 0 10px -1px;
	font-weight: bold;
}

li.sub-item div.menu-overlay-section li {
	color: #666666;
    float: none;
    font-size: 11px;
    line-height: 13px;
    margin: 5px 0 0;
	list-style-type: none;
}

li.sub-item a {
	display: inline;
}

ul.sub-menu-detail li.ctmenu-item {
	padding-top: 3px !important;
	padding-bottom: 3px !important;
}

li.missing-content-small {
	background: url("../images/missing_content.png") no-repeat scroll right center;
	padding-right: 15px !important;
}

div#csp-banner {
	height: 300px;
	z-index: 0;
}

div#csp-homepage-header {
	width: 450px;
	position: absolute;
	right: 0px;
	top: 115px;
	padding: 25px 0px 0px 0px;
	z-index: 0;
}

div#csp-homepage-header * {
	text-align: right;
}

div#csp-homepage-header  h1 {
	color: #404040;
    font-size: 30px;
    font-weight: normal;
    padding-bottom: 15px;
}

div#csp-homepage-header  h2 {
	color: #666666;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}

div#csp-tout-area li {
	background-color: #EEE;
	border-left: 1px solid #CCC;
    float: left;
    min-height: 200px;
    padding: 5px;
    position: relative;
    width: 154px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

div#csp-tout-area a.csp-tout-title {
	text-decoration: none;
	color: #565656;
}

div#csp-tout-area a.csp-tout-title h2 {
	font-size: 15px;
    height: 50px;
    padding: 5px 0;
}

div#csp-tout-area a.csp-tout-title p {
	padding-top: 10px;
	font-size: 13px;
}

div#csp-tout-area div.csp-tout-figure {
	text-align: center;
}

div#tieBrandingFooter {
	text-align: right;
	padding: 5px 5px 5px 0px;
}

/* Sub page { */
#csp-breadcrumb {
    color: #5F798F;
    font-size: 11px;
    padding: 10px 0px 5px 0px;
}

#csp-breadcrumb a {
	text-decoration: none;
	color: #404040;
}

#csp-page-title {
    color: #404040;
    font-size: 30px;
	line-height: normal;
}

.header-category-title-editor {
	width: 610px;
	height: 27px;
}

div#csp-content {
	
}

div.csp-side-col {
    width: 155px;
}
div.csp-right-col {
    width: 495px;
	overflow: hidden;
	padding-top: 13px;
	padding-left: 10px;
}
div.csp-side-col, div.csp-right-col {
    float: left;
}

ul#side-col-list {
	padding: 0px;
}

.csp-sibling-items {
    margin-top: 18px;
    width: 155px;
}

.csp-sibling-items li {
	list-style-type: none;
    font-size: 11px;
    margin-bottom: 10px;
}

.csp-sibling-items li a {
    color: #404040;
    text-decoration: none;
	display: block;
	padding: 2px 0px;
}

.csp-sibling-items li a:hover, .csp-sibling-items li.selected a {
	background-color: #E0E0E0;
}

.csp-right-col ul, .csp-right-col ol { padding: 10px 30px; }
.csp-right-col p { padding: 0px 0px 10px 0px; }
.csp-right-col ul li { padding: 5px 0px;}
.csp-right-col ol li {padding: 5px 0px;}

.csp-right-col p.title {
	color: #666666;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}
#csp-right-col table{
	border: none;
	width: 100%;
}
#csp-right-col table tr{
   vertical-align: top;
}
#csp-right-col table tr td{
	padding: 6px;
}
#csp-right-col table.table-middle-align tr{
	vertical-align:middle;
}
#csp-right-col table.table-border{
	border: 1px solid;
}

/* } EOF Sub page */

.RadMenu_Context { z-index: 99999 !important; }

.RadEditor td.reWrapper_corner,
.RadEditor td.reWrapper_center,
.RadEditor td.reToolZone,
.RadEditor td.reLeftVerticalSide,
.RadEditor td.reTlbVertical,
.RadEditor td.reRightVerticalSide,
.RadEditor td.reToolZone td,
.RadEditor td.reToolCell,
.RadEditor td.reContentCell {
    padding: 0px !important;
}

.reContentCell, .reContentCell iframe, iframe body {
    background-color: #FFFFFF !important;
}

#wdCategoryEditForm {
	padding: 10px 0px 0px 20px;
}

#wdCategoryEditForm td {
	padding-bottom: 5px;
}

#wdCategoryDescriptionEditor {
	padding: 10px 0px 0px 10px;
}

#wdDeleteCategoryOption {
	padding: 10px 0px 0px 10px;
}

.top-window {
	z-index: 1001 !important;
}

.lower-window {
	z-index: 1000 !important;
}

.un-published {
	color: #ff8686 !important;
}

.inactive-item {
	color: #999 !important;
}

/*
.sub-menu .ctmenu-item {
	padding: 2px 0px !important;
}

.sub-menu .ui-sortable-placeholder {
	padding: 2px 0px !important;
	border: 1px dashed #999 !important;
}
*/

.ui-sortable-helper a {
	cursor: move !important;
}

#textDescription {
	resize: none;
}