﻿/* reset.css */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol,  fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
article, aside, dialog, figure, footer, header, hgroup, nav, section {display:block;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}

.csp_support_register
{
    /*display:block;*/
    /*display:table;*/
}

.hide
{
    display:none;
}
.csp_modal
{
    padding:5px;
}

.csp_support_register ul
{
    list-style:none outside none;
    /*float:left;*/
    margin:0;
    padding:0;
}

.csp_support_register li
{
    height:40px;
    padding-bottom:6px;    
}

.csp_support_register label
{
    float:left;
    margin: 0;
    font-weight:bold;
}

.error
{
    background-color: #FF0000 !important; 
    color: #fff;
}
.csp_support_register label input
{
    background-color:#F7F7F7;
    border:1px solid #BBBBBB;
    display:block;
    margin:0;
    padding:0;
    width:350px;    
}

.csm_right_panel
{
    float: left;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #ddd;
    width:450px;

}
.csm_left_panel
{
    float: left;
    width: 400px;
    padding-right: 15px;
    padding-top: 13px;
}

b.csp_support_button, b.csp_support_button input
{
    background: url("flexButton.gif") no-repeat scroll left bottom transparent;
    height: 23px;
}

b.csp_support_button input
{
    background-position: right bottom;
    border: medium none;
    cursor: pointer;
    display: inline;
    /*float: left;*/
    margin: 0;
    padding: 0 15px 0 15px;
    color: #fff;
}

.csp_support_register textarea
{
    width:350px;
    height:150px;
    background: #F7F7F7 none no-repeat;
    border: solid 1px #ccc;
}

.csp_support_register_wrapper
{
    margin:0;
}
.csp_support_wrapper
{
    /*padding: 20px 0;
    border-bottom:solid 1px #ccc;*/
}
.csp_support_register div
{
    clear:both;
    padding:10px 0;
}
.csp_block
{
    display: block;
    float: left;
    width: 100%;
}
.csp_block_right
{
    float:right;
}

.csp_bottom_line 
{
    border-bottom:solid 1px #ccc;
}
.csp_support_register{
		display:block !important;
		width:50% !important;
		float:left;
	}
@media (max-width: 480px) {
.csp_support_register label input {
	width:100% !important;
}
.csp_support_register label {
	width:100% !important;
}

.csp_support_register textarea {
    width: 100% !important;
}
}

#recaptcha_widget_div div { padding: 0px !important; }