﻿body, p, div, h1, h2, h3, h4, h5, h6, table, tbody, tr, td, span, blockquote, a, abbr, address, cite, code, img, ul, ol, li, dl, dd, dt, form, label, fieldset, caption, input, textarea, button {
	border:0;
	outline:0;
	font-family:Arial, Helvetica, Sans-Serif;
	color:#fff;
	vertical-align:baseline;
	list-style:none;
	text-decoration:none;
	line-height:1.5em;
	margin:0;
	padding:0
}
#horizontal-ad
{
display:block;
}
#vertical-ad
{
display:none;
}

#bsads
{
	margin-top:20px;
	padding-left:10px;
}
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  src: local('Exo Regular'), local('Exo-Regular'), url(http://themes.googleusercontent.com/static/fonts/exo/v1/wocyXRLWPo2Av-yUTmmbTA.woff) format('woff');
}
@font-face {
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: 400;
  src: local('Oleo Script'), local('OleoScript-Regular'), url(http://themes.googleusercontent.com/static/fonts/oleoscript/v2/_weQNDK6Uf40CiGFKBBUjobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: 700;
  src: local('Oleo Script Bold'), local('OleoScript-Bold'), url(http://themes.googleusercontent.com/static/fonts/oleoscript/v2/hudNQFKFl98JdNnlo363fjqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}
body {
	background:#195f88;
	font-size:14px
}
div#wrap {
	width:980px;
	position:relative;
	margin:0 auto!important
}
div#sidebar {
	width:220px;
	height:100%;
	float:left;
	background:#2c2c2c;
	border-right:1px solid #2e2f2f;
	position:fixed
}
a#logo {
	text-align:center;
    font-family: 'Oleo Script';
    font-weight: bold;
	display:block;
	border-bottom:1px solid #353535;
	width:100%;
	position:relative;
	z-index:999;
	opacity:1;
	-webkit-transition:all 300ms;
	-moz-transition:all 300ms;
	-o-transition:all 300ms;
	transition:all 300ms;
	padding: 15px 0 9px 0;
    font-size: 25px;
    text-decoration: none;
}
ul#navigation {
	margin-top:25px;
	margin-right:-5px;
	position:relative;
	width:220px;
	z-index:999
}
ul#navigation li {
	border:none;
	background:none;
	margin:0;
	padding:0
}
#infomsg {
    border-left: 2px solid #fff;
    padding-left: 10px;
    text-align: justify;
}
#detectarea {
    border-left: 2px solid black;
    padding: 10px;
    margin: 10px 0 0;
    background: gray;
    font-family: "Exo";
    display: none;
}
#detectloading {
    display: none;
    background: url("images/ajax-loader.gif") center center no-repeat;
    width: 220px;
    height: 19px;
    text-align: center;
    margin: 10px auto;
}
.noobject {
    display: none;
}
.hasobject {
    display: none;
}
ul#navigation li a:link, ul#navigation li a:visited {
	text-decoration:none;
	font-family:'Exo', Arial, sans-serif;
	margin-bottom:1px;
	width:auto;
	font-size:20px;
	text-align:left;
	padding-left:10px !important;
	display:block;
	transition:all 200ms;
	-webkit-transition:all 200ms;
	-moz-transition:all 200ms;
	-o-transition:all 200ms;
	padding:5px 10px 5px 0
}
ul#navigation li a:hover, ul#navigation li a.active {
	background:#1b1b1b;
	color:#FFF;
}
div#container {
	width:730px;
	float:right;
	padding-right:25px;
	left:-5px;
	position:relative;
	padding-top:0;
	background:#619ec2;
}
div.page {
	margin-bottom:5px solid #dbdbdb;
	margin-bottom:0;
	padding-top:20px
}
div.page_content {
	padding:25px 0 40px 25px
}
div#container h3.page_title {
	font-family: 'Exo';
	margin-left:25px;
	font-size:35px;
	color:#fff;
	border-bottom:1px solid #fff;
	text-shadow:1px 1px 2px #185477;
	line-height:2;
	padding:5px 0 0px 0px
}
div#works {
	margin-top:10px;
	overflow:visible!important;
	width:725px;
}
div#works img {
	width:28%;
	min-height:150px;
	position:relative;
	margin-right:26px;
	margin-bottom:18px;
	float:left;
	cursor:pointer;
	transition:all 500ms;
	-webkit-transition:all 500ms;
	-moz-transition:all 500ms;
	-o-transition:all 500ms;
	background:#fff;
}
div#works img:hover {
	top:-10px!important;
	opacity:.5!important
}
ul#works_filter {
	margin-top:40px !important;
	float:left;
	clear:both;
	margin:15px 0 5px
}
ul#works_filter li {
	border:none;
	background:none;
	float:left;
	padding:0
}
ul#works_filter li a:link, ul#works_filter li a:visited {
	font-size:12px;
	text-decoration:none;
	display:block;
	color:#FFF;
	margin-right:1px;
	padding:2px 10px
}
ul#works_filter li a:hover, ul#works_filter li a.selected {
	background:#0D4667;
	color:#fff;
	opacity:1;
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	border-radius: 0.2em;
	/* IE hacks */
    zoom: 1;
 *display: inline;
}
.social_icons {
	margin:0 auto;
	margin-top:20px;
	background:#0D4667;
	border-radius:2em;
	line-height:45px;
	height:45px;
	width:142px;
}
.social_icons li {
	display:inline;
	padding:0px !important;
	margin:0px;
}
.social_icons li img {
	border:0px !important;
}
#contact_form input {
	background:#195f88;
}
fieldset#contact_form {
	width:100%;
	float:left
}
fieldset#contact_form textarea {
	width:97.5%;
	background:#195f88;
	height:150px
}
img.no_border {
	border:none!important
}
ul.pagination li, ul.pagination li:hover {
	display:inline;
	background:none;
	border:none;
	margin-left:1px;
	padding:0
}
ul.pagination a:link, ul.pagination a:visited {
	display:inline-block;
	text-decoration:none;
	background:url(./images/bg/15.png);
	padding:5px 10px
}
.objectbuynow {
    background: url("images/label_blue_buy-48.png") center left no-repeat;
    padding-left: 55px;
    display: block;
    height: 48px;
    line-height: 48px;
}
div.footer {
	text-align:center;
	font-size:12px;
	margin-top:40px;
	padding:15px 0
}
.gotop {
	position:fixed;
	right:15px;
	bottom:15px;
	opacity:.3;
	padding:10px;
	color:#fff;
	display:block;
	text-decoration:none;
	text-align:center;
	font-size:13px;
	font-weight:bold;
	z-index:999;
	transition:all 300ms;
	-webkit-transition:all 300ms
}
.gotop:hover {
	color:#eee;
	opacity:.7
}
.gotop.hidden {
	display:none;
	opacity:0
}
a.gotop {
	text-decoration:none!important
}
h1, h2, h3, h4, h5, h6 {
	font-family:Exo, Helvetica, sans-serif;
	font-weight:bold;
	color:#1d1d1d
}
h4.blue {
	font-family: 'Exo';
	color: #0D4667;
	text-shadow: 1px 1px 0px #84BBDB;
	font-size: 28px;
	margin-top:20px;
}
.one_half {
	float:left;
	width:50%
}
.one_third {
	float:left;
	width:33.33%
}
.one_fourth {
	float:left;
	width:25%
}
.one_half > .column_content, .one_third > .column_content, .one_fourth > .column_content, .one_half > div, .one_third > div, .one_fourth > div {
	padding-right:15px
}
.last > .column_content, .last > div {
	padding-right:0
}
.one_half.last > .column_content, .one_half.last > div {
	padding-left:15px
}
.one_third.first > .column_content, .one_third.first > div {
	padding-right:20px;
	padding-left:0
}
.one_third > .column_content, .one_third > div {
	padding-left:10px;
	padding-right:10px
}
.one_third.last > .column_content, .one_third.last > div {
	padding-left:20px;
	padding-right:0
}
.column_content {
	margin-top:20px;
}
.column_content p {
	margin-left:68px;
}
.column_content h4 {
	font-family: 'Exo';
	color:#0d4667;
	text-shadow:1px 1px 0px #84bbdb;
	font-size:28px;
}
.first {
	clear:left
}
.last {
	clear:right
}
.left {
	float:left
}
.clear {
	clear:both
}
.space {
	display:block;
	float:left;
	clear:both;
	margin:10px 0
}
ul li {
	line-height:2;
	background:url(../images/icons/bullet.jpg) no-repeat left center;
	padding-left:15px;
}
a:link, a:visited {
	text-decoration:underline
}
input, textarea, button {
	background:url(./images/bg/15.png);
	clear:both;
	float:left;
	font-style:italic;
	margin-bottom:1px;
	padding:10px
}
input {
	width:97.5%;
}
button {
	cursor:pointer;
	margin-right:-2px !important;
	font-style:normal
}
ol li {
	list-style:decimal inside;
	padding:5px 0
}
blockquote {
	border-left:5px solid #7cb3d3;
	font-style:italic;
	padding:10px;
	margin:20px;
}
div.page img {
	padding:5px;
	border:1px solid #73aaca;
	max-width:94%
}
a#logo:hover, a.facebook:hover, a.twitter:hover, a.linkedin:hover, a.dribbble:hover, div.image_gallery img:hover {
	opacity:.5
}
fieldset#contact_form button, .right {
	float:right
}
div.misc a, a:hover {
	text-decoration:none
}
div.blogpost a.readmore:hover, ul.pagination a:hover, ul.pagination a.active_page {
	background:url(./images/bg/50.png);
	color:#FFF
}
ol.comments li.comment a.reply:hover, div.tab ul.tab_menu li:hover, div.tab ul.tab_menu li.active {
	background:#8f8f8f;
	color:#FFF
}
.knob {
	color: White !important;
	text-shadow:1px 1px 0px #0d4667;
	font-size:25px !important;
}
.clearfix {
	float: none;
	clear: both;
}
.prev {
	position:absolute;
	margin-left:-5px;
	margin-top: 20px;
}
.next {
	position:absolute;
	margin-left: 680px;
	margin-top: 20px;
}
.button {
	color:#fff;
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	border-radius: 0.2em;
	/* IE hacks */
    zoom: 1;
 *display: inline;
	position: relative;
	overflow: visible;
	display: inline-block;
	padding: 0.5em 1em;
	font-size:12px;
	margin: 0;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
	outline: none;
	background-color: #0D4667;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	-o-background-clip: padding-box;
	/*background-clip: padding-box;*/ /* commented out due to Opera 11.10 bug */
    -webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	border-radius: 0.2em;
	/* IE hacks */
    zoom: 1;
 *display: inline;
}
.button:hover, .button:focus, .button:active {
	border-color: #3072b3;
	text-decoration: none;
	color: #fff;
	background-color: #35779d;
}
.button:active, .button.active {
	color: #fff;
	background-color: #12415c;
}

/* overrides extra padding on button elements in Firefox */
.button::-moz-focus-inner {
 padding: 0;
 border: 0;
}
ul.sublist li {
	width: 140px;
	float: left;
}
ul.sublist li {
	background: url('../images/ico-arrow.gif') 0px 10px no-repeat;
	font-size:12px;
}
ul.sublist li a {
	color:#fff;
	text-decoration:none;
}
ul.sublist li a:hover {
	color:#002b44;
}
/* GRID */
.grid {
	border: 1px solid #4b88ad;
	border-bottom: none;
	border-right: none;
	overflow: hidden;
}
.grid li {
	border-bottom: 1px solid #4b88ad;
	border-right: 1px solid #4b88ad;
	float: left;
	overflow: hidden;
	position: relative;
	width: 25%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	padding-left:10px !important;
}
.ie7 .grid li {
	width: 19.9%;
	padding-left:10px !important;
}
.grid li a {
	display: block;
}
.grid img {
	display: block;
	height: auto;
	border:0px !important;
	width: 100%;
	opacity: .65;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.grid li:hover img {
	opacity: 1;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}
/* CLIENTS */



#clients li:hover .original_img,  .ie7 #clients li:hover a img, .ie8 #clients li:hover a img {
	opacity: 1;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}
#clients li:hover .grayscale_img {
	opacity: 0;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}
/* CLIENTS */

#clients .westfield:hover, #clients .westfield.active {
	background: #d9001f;
}
#clients .smuin:hover, #clients .smuin.active {
	background: #2a2333;
}
#clients .cytosport:hover, #clients .cytosport.active {
	background: #292c33;
}
#clients .toyota:hover, #clients .toyota.active {
	background: #f60031;
}
#clients .lands_end:hover, #clients .lands_end.active {
	background: #1e1d3c;
}
#clients .microsoft:hover, #clients .microsoft.active {
	background: #0079b0;
}
#clients .a_e:hover, #clients .a_e.active {
	background: #451e53;
}
#clients .skittles:hover, #clients .skittles.active {
	background: #d9001f;
}
#clients .juicy_fruit:hover, #clients .juicy_fruit.active {
	background: #fdbb00;
}
#clients .ge:hover, #clients .ge.active {
	background: #0977b4;
}
#clients .glad:hover, #clients .glad.active {
	background: #f6a200;
}
#clients .altoids:hover, #clients .altoids.active {
	background: #a7000a;
}
#clients .absolut:hover, #clients .absolut.active {
	background: #919191;
}
#clients .facebook:hover, #clients .facebook.active {
	background: #44559b;
}
#clients .jameson:hover, #clients .jameson.active {
	background: #003e25;
}
#clients .toyota:hover, #clients .toyota.active {
	background: #f60031;
}
#clients .orbit:hover, #clients .orbit.active {
	background: #95d2ef;
}
#clients .zynga:hover, #clients .zynga.active {
	background: #a9011b;
}
#clients .nike:hover, #clients .nike.active {
	background: #868686;
}
#clients .adidas:hover, #clients .adidas.active {
	background: #395cd4;
}
#clients .campaign:hover {
	background: transparent;
}
.flex-control-nav {
	display:none;
}
div.pp_default .pp_top,div.pp_default .pp_top .pp_middle,div.pp_default .pp_top .pp_left,div.pp_default .pp_top .pp_right,div.pp_default .pp_bottom,div.pp_default .pp_bottom .pp_left,div.pp_default .pp_bottom .pp_middle,div.pp_default .pp_bottom .pp_right{height:13px}
div.pp_default .pp_top .pp_left{background:url(../images/prettyPhoto/default/sprite.png) -78px -93px no-repeat}
div.pp_default .pp_top .pp_middle{background:url(../images/prettyPhoto/default/sprite_x.png) top left repeat-x}
div.pp_default .pp_top .pp_right{background:url(../images/prettyPhoto/default/sprite.png) -112px -93px no-repeat}
div.pp_default .pp_content .ppt{color:#f8f8f8}
div.pp_default .pp_content_container .pp_left{background:url(../images/prettyPhoto/default/sprite_y.png) -7px 0 repeat-y;padding-left:13px}
div.pp_default .pp_content_container .pp_right{background:url(../images/prettyPhoto/default/sprite_y.png) top right repeat-y;padding-right:13px}
div.pp_default .pp_next:hover{background:url(../images/prettyPhoto/default/sprite_next.png) center right no-repeat;cursor:pointer}
div.pp_default .pp_previous:hover{background:url(../images/prettyPhoto/default/sprite_prev.png) center left no-repeat;cursor:pointer}
div.pp_default .pp_expand{background:url(../images/prettyPhoto/default/sprite.png) 0 -29px no-repeat;cursor:pointer;height:28px;width:28px}
div.pp_default .pp_expand:hover{background:url(../images/prettyPhoto/default/sprite.png) 0 -56px no-repeat;cursor:pointer}
div.pp_default .pp_contract{background:url(../images/prettyPhoto/default/sprite.png) 0 -84px no-repeat;cursor:pointer;height:28px;width:28px}
div.pp_default .pp_contract:hover{background:url(../images/prettyPhoto/default/sprite.png) 0 -113px no-repeat;cursor:pointer}
div.pp_default .pp_close{background:url(../images/prettyPhoto/default/sprite.png) 2px 1px no-repeat;cursor:pointer;height:30px;width:30px}
div.pp_default .pp_gallery ul li a{background:url(../images/prettyPhoto/default/default_thumb.png) center center #f8f8f8;border:1px solid #aaa}
div.pp_default .pp_social{margin-top:7px}
div.pp_default .pp_gallery a.pp_arrow_previous,div.pp_default .pp_gallery a.pp_arrow_next{left:auto;position:static}
div.pp_default .pp_nav .pp_play,div.pp_default .pp_nav .pp_pause{background:url(../images/prettyPhoto/default/sprite.png) -51px 1px no-repeat;height:30px;width:30px}
div.pp_default .pp_nav .pp_pause{background-position:-51px -29px}
div.pp_default a.pp_arrow_previous,div.pp_default a.pp_arrow_next{background:url(../images/prettyPhoto/default/sprite.png) -31px -3px no-repeat;height:20px;margin:4px 0 0;width:20px}
div.pp_default a.pp_arrow_next{background-position:-82px -3px;left:52px}
div.pp_default .pp_content_container .pp_details{margin-top:5px}
div.pp_default .pp_nav{clear:none;height:30px;position:relative;width:110px}
div.pp_default .pp_nav .currentTextHolder{color:#999;font-family:Georgia;font-size:11px;font-style:italic;left:75px;line-height:25px;margin:0;padding:0 0 0 10px;position:absolute;top:2px}
div.pp_default .pp_close:hover,div.pp_default .pp_nav .pp_play:hover,div.pp_default .pp_nav .pp_pause:hover,div.pp_default .pp_arrow_next:hover,div.pp_default .pp_arrow_previous:hover{opacity:0.7}
div.pp_default .pp_description{font-size:11px;font-weight:700;line-height:14px;margin:5px 50px 5px 0}
div.pp_default .pp_bottom .pp_left{background:url(../images/prettyPhoto/default/sprite.png) -78px -127px no-repeat}
div.pp_default .pp_bottom .pp_middle{background:url(../images/prettyPhoto/default/sprite_x.png) bottom left repeat-x}
div.pp_default .pp_bottom .pp_right{background:url(../images/prettyPhoto/default/sprite.png) -112px -127px no-repeat}
div.pp_default .pp_loaderIcon{background:url(../images/prettyPhoto/default/loader.gif) center center no-repeat}
div.light_rounded .pp_top .pp_left{background:url(../images/prettyPhoto/light_rounded/sprite.png) -88px -53px no-repeat}
div.light_rounded .pp_top .pp_right{background:url(../images/prettyPhoto/light_rounded/sprite.png) -110px -53px no-repeat}
div.light_rounded .pp_next:hover{background:url(../images/prettyPhoto/light_rounded/btnNext.png) center right no-repeat;cursor:pointer}
div.light_rounded .pp_previous:hover{background:url(../images/prettyPhoto/light_rounded/btnPrevious.png) center left no-repeat;cursor:pointer}
div.light_rounded .pp_expand{background:url(../images/prettyPhoto/light_rounded/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.light_rounded .pp_expand:hover{background:url(../images/prettyPhoto/light_rounded/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.light_rounded .pp_contract{background:url(../images/prettyPhoto/light_rounded/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.light_rounded .pp_contract:hover{background:url(../images/prettyPhoto/light_rounded/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.light_rounded .pp_close{background:url(../images/prettyPhoto/light_rounded/sprite.png) -1px -1px no-repeat;cursor:pointer;height:22px;width:75px}
div.light_rounded .pp_nav .pp_play{background:url(../images/prettyPhoto/light_rounded/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.light_rounded .pp_nav .pp_pause{background:url(../images/prettyPhoto/light_rounded/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.light_rounded .pp_arrow_previous{background:url(../images/prettyPhoto/light_rounded/sprite.png) 0 -71px no-repeat}
div.light_rounded .pp_arrow_next{background:url(../images/prettyPhoto/light_rounded/sprite.png) -22px -71px no-repeat}
div.light_rounded .pp_bottom .pp_left{background:url(../images/prettyPhoto/light_rounded/sprite.png) -88px -80px no-repeat}
div.light_rounded .pp_bottom .pp_right{background:url(../images/prettyPhoto/light_rounded/sprite.png) -110px -80px no-repeat}
div.dark_rounded .pp_top .pp_left{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -88px -53px no-repeat}
div.dark_rounded .pp_top .pp_right{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -110px -53px no-repeat}
div.dark_rounded .pp_content_container .pp_left{background:url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat-y}
div.dark_rounded .pp_content_container .pp_right{background:url(../images/prettyPhoto/dark_rounded/contentPattern.png) top right repeat-y}
div.dark_rounded .pp_next:hover{background:url(../images/prettyPhoto/dark_rounded/btnNext.png) center right no-repeat;cursor:pointer}
div.dark_rounded .pp_previous:hover{background:url(../images/prettyPhoto/dark_rounded/btnPrevious.png) center left no-repeat;cursor:pointer}
div.dark_rounded .pp_expand{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.dark_rounded .pp_expand:hover{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.dark_rounded .pp_contract{background:url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.dark_rounded .pp_contract:hover{background:url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.dark_rounded .pp_close{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -1px -1px no-repeat;cursor:pointer;height:22px;width:75px}
div.dark_rounded .pp_description{color:#fff;margin-right:85px}
div.dark_rounded .pp_nav .pp_play{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.dark_rounded .pp_nav .pp_pause{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.dark_rounded .pp_arrow_previous{background:url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -71px no-repeat}
div.dark_rounded .pp_arrow_next{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -22px -71px no-repeat}
div.dark_rounded .pp_bottom .pp_left{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -88px -80px no-repeat}
div.dark_rounded .pp_bottom .pp_right{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -110px -80px no-repeat}
div.dark_rounded .pp_loaderIcon{background:url(../images/prettyPhoto/dark_rounded/loader.gif) center center no-repeat}
div.dark_square .pp_left,div.dark_square .pp_middle,div.dark_square .pp_right,div.dark_square .pp_content{background:#000}
div.dark_square .pp_description{color:#fff;margin:0 85px 0 0}
div.dark_square .pp_loaderIcon{background:url(../images/prettyPhoto/dark_square/loader.gif) center center no-repeat}
div.dark_square .pp_expand{background:url(../images/prettyPhoto/dark_square/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.dark_square .pp_expand:hover{background:url(../images/prettyPhoto/dark_square/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.dark_square .pp_contract{background:url(../images/prettyPhoto/dark_square/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.dark_square .pp_contract:hover{background:url(../images/prettyPhoto/dark_square/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.dark_square .pp_close{background:url(../images/prettyPhoto/dark_square/sprite.png) -1px -1px no-repeat;cursor:pointer;height:22px;width:75px}
div.dark_square .pp_nav{clear:none}
div.dark_square .pp_nav .pp_play{background:url(../images/prettyPhoto/dark_square/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.dark_square .pp_nav .pp_pause{background:url(../images/prettyPhoto/dark_square/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.dark_square .pp_arrow_previous{background:url(../images/prettyPhoto/dark_square/sprite.png) 0 -71px no-repeat}
div.dark_square .pp_arrow_next{background:url(../images/prettyPhoto/dark_square/sprite.png) -22px -71px no-repeat}
div.dark_square .pp_next:hover{background:url(../images/prettyPhoto/dark_square/btnNext.png) center right no-repeat;cursor:pointer}
div.dark_square .pp_previous:hover{background:url(../images/prettyPhoto/dark_square/btnPrevious.png) center left no-repeat;cursor:pointer}
div.light_square .pp_expand{background:url(../images/prettyPhoto/light_square/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.light_square .pp_expand:hover{background:url(../images/prettyPhoto/light_square/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.light_square .pp_contract{background:url(../images/prettyPhoto/light_square/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.light_square .pp_contract:hover{background:url(../images/prettyPhoto/light_square/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.light_square .pp_close{background:url(../images/prettyPhoto/light_square/sprite.png) -1px -1px no-repeat;cursor:pointer;height:22px;width:75px}
div.light_square .pp_nav .pp_play{background:url(../images/prettyPhoto/light_square/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.light_square .pp_nav .pp_pause{background:url(../images/prettyPhoto/light_square/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.light_square .pp_arrow_previous{background:url(../images/prettyPhoto/light_square/sprite.png) 0 -71px no-repeat}
div.light_square .pp_arrow_next{background:url(../images/prettyPhoto/light_square/sprite.png) -22px -71px no-repeat}
div.light_square .pp_next:hover{background:url(../images/prettyPhoto/light_square/btnNext.png) center right no-repeat;cursor:pointer}
div.light_square .pp_previous:hover{background:url(../images/prettyPhoto/light_square/btnPrevious.png) center left no-repeat;cursor:pointer}
div.facebook .pp_top .pp_left{background:url(../images/prettyPhoto/facebook/sprite.png) -88px -53px no-repeat}
div.facebook .pp_top .pp_middle{background:url(../images/prettyPhoto/facebook/contentPatternTop.png) top left repeat-x}
div.facebook .pp_top .pp_right{background:url(../images/prettyPhoto/facebook/sprite.png) -110px -53px no-repeat}
div.facebook .pp_content_container .pp_left{background:url(../images/prettyPhoto/facebook/contentPatternLeft.png) top left repeat-y}
div.facebook .pp_content_container .pp_right{background:url(../images/prettyPhoto/facebook/contentPatternRight.png) top right repeat-y}
div.facebook .pp_expand{background:url(../images/prettyPhoto/facebook/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.facebook .pp_expand:hover{background:url(../images/prettyPhoto/facebook/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.facebook .pp_contract{background:url(../images/prettyPhoto/facebook/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.facebook .pp_contract:hover{background:url(../images/prettyPhoto/facebook/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.facebook .pp_close{background:url(../images/prettyPhoto/facebook/sprite.png) -1px -1px no-repeat;cursor:pointer;height:22px;width:22px}
div.facebook .pp_description{margin:0 37px 0 0}
div.facebook .pp_loaderIcon{background:url(../images/prettyPhoto/facebook/loader.gif) center center no-repeat}
div.facebook .pp_arrow_previous{background:url(../images/prettyPhoto/facebook/sprite.png) 0 -71px no-repeat;height:22px;margin-top:0;width:22px}
div.facebook .pp_arrow_previous.disabled{background-position:0 -96px;cursor:default}
div.facebook .pp_arrow_next{background:url(../images/prettyPhoto/facebook/sprite.png) -32px -71px no-repeat;height:22px;margin-top:0;width:22px}
div.facebook .pp_arrow_next.disabled{background-position:-32px -96px;cursor:default}
div.facebook .pp_nav{margin-top:0}
div.facebook .pp_nav p{font-size:15px;padding:0 3px 0 4px}
div.facebook .pp_nav .pp_play{background:url(../images/prettyPhoto/facebook/sprite.png) -1px -123px no-repeat;height:22px;width:22px}
div.facebook .pp_nav .pp_pause{background:url(../images/prettyPhoto/facebook/sprite.png) -32px -123px no-repeat;height:22px;width:22px}
div.facebook .pp_next:hover{background:url(../images/prettyPhoto/facebook/btnNext.png) center right no-repeat;cursor:pointer}
div.facebook .pp_previous:hover{background:url(../images/prettyPhoto/facebook/btnPrevious.png) center left no-repeat;cursor:pointer}
div.facebook .pp_bottom .pp_left{background:url(../images/prettyPhoto/facebook/sprite.png) -88px -80px no-repeat}
div.facebook .pp_bottom .pp_middle{background:url(../images/prettyPhoto/facebook/contentPatternBottom.png) top left repeat-x}
div.facebook .pp_bottom .pp_right{background:url(../images/prettyPhoto/facebook/sprite.png) -110px -80px no-repeat}
div.pp_pic_holder a:focus{outline:none}
div.pp_overlay{background:#000;display:none;left:0;position:absolute;top:0;width:100%;z-index:9500}
div.pp_pic_holder{display:none;position:absolute;width:100px;z-index:10000}
.pp_content{height:40px;min-width:40px}
* html .pp_content{width:40px}
.pp_content_container{position:relative;text-align:left;width:100%}
.pp_content_container .pp_left{padding-left:20px}
.pp_content_container .pp_right{padding-right:20px}
.pp_content_container .pp_details{float:left;margin:10px 0 2px}
.pp_description{display:none;margin:0}
.pp_social{float:left;margin:0}
.pp_social .facebook{float:left;margin-left:5px;overflow:hidden;width:55px}
.pp_social .twitter{float:left}
.pp_nav{clear:right;float:left;margin:3px 10px 0 0}
.pp_nav p{float:left;margin:2px 4px;white-space:nowrap}
.pp_nav .pp_play,.pp_nav .pp_pause{float:left;margin-right:4px;text-indent:-10000px}
a.pp_arrow_previous,a.pp_arrow_next{display:block;float:left;height:15px;margin-top:3px;overflow:hidden;text-indent:-10000px;width:14px}
.pp_hoverContainer{position:absolute;top:0;width:100%;z-index:2000}
.pp_gallery{display:none;left:50%;margin-top:-50px;position:absolute;z-index:10000}
.pp_gallery div{float:left;overflow:hidden;position:relative}
.pp_gallery ul{float:left;height:35px;margin:0 0 0 5px;padding:0;position:relative;white-space:nowrap}
.pp_gallery ul a{border:1px rgba(0,0,0,0.5) solid;display:block;float:left;height:33px;overflow:hidden}
.pp_gallery ul a img{border:0}
.pp_gallery li{display:block;float:left;margin:0 5px 0 0;padding:0}
.pp_gallery li.default a{background:url(../images/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;display:block;height:33px;width:50px}
.pp_gallery .pp_arrow_previous,.pp_gallery .pp_arrow_next{margin-top:7px!important}
a.pp_next{background:url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:right;height:100%;text-indent:-10000px;width:49%}
a.pp_previous{background:url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:left;height:100%;text-indent:-10000px;width:49%}
a.pp_expand,a.pp_contract{cursor:pointer;display:none;height:20px;position:absolute;right:30px;text-indent:-10000px;top:10px;width:20px;z-index:20000}
a.pp_close{display:block;line-height:22px;position:absolute;right:0;text-indent:-10000px;top:0}
.pp_loaderIcon{display:block;height:24px;left:50%;margin:-12px 0 0 -12px;position:absolute;top:50%;width:24px}
#pp_full_res{line-height:1!important}
#pp_full_res .pp_inline{text-align:left}
#pp_full_res .pp_inline p{margin:0 0 15px}
div.ppt{color:#fff;display:none;font-size:17px;margin:0 0 5px 15px;z-index:9999}
div.pp_default .pp_content,div.light_rounded .pp_content{background-color:#fff}
div.pp_default #pp_full_res .pp_inline,div.light_rounded .pp_content .ppt,div.light_rounded #pp_full_res .pp_inline,div.light_square .pp_content .ppt,div.light_square #pp_full_res .pp_inline,div.facebook .pp_content .ppt,div.facebook #pp_full_res .pp_inline{color:#000}
div.pp_default .pp_gallery ul li a:hover,div.pp_default .pp_gallery ul li.selected a,.pp_gallery ul a:hover,.pp_gallery li.selected a{border-color:#fff}
div.pp_default .pp_details,div.light_rounded .pp_details,div.dark_rounded .pp_details,div.dark_square .pp_details,div.light_square .pp_details,div.facebook .pp_details{position:relative}
div.light_rounded .pp_top .pp_middle,div.light_rounded .pp_content_container .pp_left,div.light_rounded .pp_content_container .pp_right,div.light_rounded .pp_bottom .pp_middle,div.light_square .pp_left,div.light_square .pp_middle,div.light_square .pp_right,div.light_square .pp_content,div.facebook .pp_content{background:#fff}
div.light_rounded .pp_description,div.light_square .pp_description{margin-right:85px}
div.light_rounded .pp_gallery a.pp_arrow_previous,div.light_rounded .pp_gallery a.pp_arrow_next,div.dark_rounded .pp_gallery a.pp_arrow_previous,div.dark_rounded .pp_gallery a.pp_arrow_next,div.dark_square .pp_gallery a.pp_arrow_previous,div.dark_square .pp_gallery a.pp_arrow_next,div.light_square .pp_gallery a.pp_arrow_previous,div.light_square .pp_gallery a.pp_arrow_next{margin-top:12px!important}
div.light_rounded .pp_arrow_previous.disabled,div.dark_rounded .pp_arrow_previous.disabled,div.dark_square .pp_arrow_previous.disabled,div.light_square .pp_arrow_previous.disabled{background-position:0 -87px;cursor:default}
div.light_rounded .pp_arrow_next.disabled,div.dark_rounded .pp_arrow_next.disabled,div.dark_square .pp_arrow_next.disabled,div.light_square .pp_arrow_next.disabled{background-position:-22px -87px;cursor:default}
div.light_rounded .pp_loaderIcon,div.light_square .pp_loaderIcon{background:url(../images/prettyPhoto/light_rounded/loader.gif) center center no-repeat}
div.dark_rounded .pp_top .pp_middle,div.dark_rounded .pp_content,div.dark_rounded .pp_bottom .pp_middle{background:url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat}
div.dark_rounded .currentTextHolder,div.dark_square .currentTextHolder{color:#c4c4c4}
div.dark_rounded #pp_full_res .pp_inline,div.dark_square #pp_full_res .pp_inline{color:#fff}
.pp_top,.pp_bottom{height:20px;position:relative}
* html .pp_top,* html .pp_bottom{padding:0 20px}
.pp_top .pp_left,.pp_bottom .pp_left{height:20px;left:0;position:absolute;width:20px}
.pp_top .pp_middle,.pp_bottom .pp_middle{height:20px;left:20px;position:absolute;right:20px}
* html .pp_top .pp_middle,* html .pp_bottom .pp_middle{left:0;position:static}
.pp_top .pp_right,.pp_bottom .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px}
.pp_fade,.pp_gallery li.default a img{display:none}
/* Tablet Devices Resizing */
@media screen and (min-width:750px) and (max-width: 970px) {
#horizontal-ad
{
display:none;
}
#vertical-ad
{
display:block;
}

div#wrap {
	width:740px
}
div#sidebar {
	width:175px /*200px*/;
}
ul#navigation {
	width:175px /*205px*/;
}
div#container {
	width:535px
}
input {
	width:98.5%;
	padding:5px;
	font-size:90%
}
textarea {
	width:98.5%;
	padding:5px;
	font-size:90%
}
button {
	padding:5px;
	font-size:85%
}
fieldset#contact_form textarea {
	width:98.5%;
	height:150px
}
.page_title {
	margin-left:25px;
}
ul li {
	font-size:90%
}
div.map iframe {
	width:90.5%;
	height:220px
}
div.social_icons a {
	margin-left:4px !important
}
h3.member_name {
	font-size:90%
}
div#members img {
	width:87.5%
}
img.featured_image {
	max-width:96% !important
}
div#works {
	width:535px
}
div#works img {
	width:25.8%;
	min-height:100px
}
div.image_gallery {
	width:535px
}
div.page_content img {
	max-width:92%
}
.social_icons {
	text-align:center
}
.social_icons a {
	background-size:25px;
	width:25px;
	height:25px
}
#skills .one_fourth {
	width:250px;
}
}

/* Phone Devices Resizing */
@media screen and (max-width:750px) {
#horizontal-ad
{
display:none;
}
#vertical-ad
{
display:block;
}
#bsads
{
	margin-top:20px;
	padding-left:100px;
}

div#wrap {
	width:320px
}
div#sidebar {
	width:320px;
	position:relative;
	border:none;
	float:none;
	clear:both;
	padding: 10px;
	padding-top:25px;
}
div#container {
	float:none;
	width:320px;
	clear:both
}
a#logo {
	position:relative;
	border-right:none;
	width:auto
}
a#logo:hover {
	border-right:none
}
ul#navigation {
	position:relative;
	width:320px;
	margin:10px 0 0 0
}
ul#navigation li a:link, ul#navigation li a:visited {
	border-right:none;
	text-align:left;
	padding:5px 5px 5px 10px;
	text-align:center
}
ul#navigation li a:hover, ul#navigation li a.active {
}
div#container {
	left:0;
	width:320px;
	padding: 10px;
}
div.page_content {
	width:320px;
	padding:5px 0 20px 0
}
div.page {
	width:320px;
	padding-top:10px
}
div#members img {
	border-width:5px;
	width:92.5%
}
div.footer {
	margin-top:25px
}
h1 {
	font-size:18px
}
h2 {
	font-size:16px
}
h3 {
	font-size:14px
}
h4 {
	font-size:12px
}
h5 {
	font-size:10px
}
h3.member_name {
	font-size:12px
}
div#members span.role {
	font-size:9px
}
div.blogpost div.misc p.post_info {
	font-size:9px
}
div.blogpost div.misc p.comments {
	font-size:9px
}
img.featured_image {
	max-width:93.5% !important
}
input {
	width:160px
}
textarea {
	width:285px
}
fieldset#contact_form textarea {
	width:300px;
	height:150px
}
fieldset#contact_form {
	width:100%;
	float:none
}
div.map {
	float:none;
	width:100%;
	margin-top:10px
}
div.map iframe {
	width:auto
}
div#works {
	width:345px
}
div#works img {
	width:21.7%;
	min-height:50px
}
ul#works_filter {
	float:left
}
div.page_content img {
	max-width:87%
}
div.post_content {
	padding-left:15px
}
#switcher {
	height:15px;
	position:relative;
	text-align:center
}
#switcher a {
	display:inline
}
div.image_gallery {
	width:330px
}
div.image_gallery img {
	border-width:7px
}
.flex-direction-nav {
	display:none !important
}
.flex-control-nav {
	bottom:10px !important;
	top:auto !important
}
.gf-slider {
	border:none !important
}
.flex-caption {
	display:none !important
}
.social_icons a {
	background:none;
	font-size:12px;
	width:auto;
	height:auto
}
.column_content p {
	margin-left:0px;
}
h3.page_title {
	margin-left:0px !important;
	line-height: 1.0 !important;
	margin-bottom:20px !important;
}
#skills .one_fourth {
	width:280px;
}
.flex-control-nav {
	display:block;
}
}
