﻿.page-message {
	border: 1px solid #FF0000;
	color: #FF0000;
	background-color: #EEE;
	text-align: center;
	padding: 10px 0px;
	width: 99%;
	display: block;
	margin: 0 auto;
}

#body-section #body-content #step-navigation {
	background: url("images/step-nav-bg.png") repeat-x scroll top left;
	height: 145px;
	overflow: hidden;
}

#body-section #body-content #step-navigation ul {
	padding-left: 2px;
	margin: 0px;
	overflow: hidden;
}

#body-section #body-content #step-navigation ul li {
	list-style-type: none;
	float: left;
	width: 200px;
	height: 115px;
	overflow: hidden;
	padding-left: 21px;
	padding-top: 30px;
}

#body-section #body-content #step-navigation ul li a {

}

#body-section #body-content #step-navigation .step-block {
	border: 5px solid #FFF;
	background-color: #99ccff;
	height: 75px;
	width: 185px;
	box-shadow: 0px 0px 2px #000;
	overflow: hidden;
}

#body-section #body-content #step-navigation .active {
	background-color: #0e4c86 !important;
}

#body-section #body-content #step-navigation .step-text {
	display: inline-block;
	zoom: 1;
	*display: inline;
	font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 100%;
	color: #FFF;
}

.btn-darkblue {
	padding: 12px 90px;
	color: #FFF !important;
	font-weight: bold;
	display: inline-block;
	background-color: #0E4C86;
	text-decoration: none;
}

.btn-darkblue:hover, .btn-lightblue:hover {
	box-shadow: -1px 1px 2px #000;
	color: #FFF;
	text-decoration: none;
}

.btn-darkblue-inactive {
	background-color: #87a6c3 !important;
	color: #FFF;
}

.btn-darkblue-inactive:hover {
	box-shadow: none !important;
}

.btn-lightblue {
	padding: 12px 90px;
	color: #FFF !important;
	font-weight: bold;
	display: inline-block;
	background-color: #3399cc;
	text-decoration: none;
}

.progressbar-wrapper {
	position: relative;
	border-radius: 2px;
}

.progressbar-wrapper .progressbar-text, .progressbar-wrapper .progressbar-percent {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
}

.progressbar-wrapper .progressbar-text {
	width: 100%;
	text-align: center;
	z-index: 2;
}

.progressbar-wrapper .progressbar-percent {
	background-color: #69bd46;
	overflow: visible !important;
	width: 0;
	z-index: 1;
	border-radius: 2px;
}

.progressbar-percent-text {
	background: url("images/upload-progress-tooltip-pointer.png") no-repeat scroll bottom center;
	padding-bottom: 5px;
	position: absolute; 
	right: -30px; 
	height: 25px; 
	width: 60px; 
	top: -30px; 
	display: none;
}

.progressbar-percent-text-inner {
	height: 22px;
	padding-top: 3px;
	width: 100%;
	background-color: #6d747b; 
	color: #FFF;
	text-align: center;
}
.RadAsyncUpload span.ruFileWrap {
    padding-left: 20px !important;
}
.RadUpload_Default .ruFakeInput {
    width: 150px !important;
}
.RadUpload, .RadUploadProgressArea {
    width: 200px !important;
}

.ruUploadProgress, li .ruCancel, li .ruRemove
{
    visibility:hidden;
}
li.ruUploading
{
    height:1px;
}
div.RadToolTip_Default table.rtWrapper td.rtWrapperContent {
    color: #0E4C86 !important;
    font-weight: bold !important;
    text-align: center;
}