﻿.pageOverlay {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1001;
    display: block;
}

#loadingOverlay
{
    background-position: 10px 23px;
    background: #fff no-repeat 10px 23px;
}

#loadingOverlay .loadingMessage {
    padding: 25px 40px;
    color: #999;
    border: 1px solid;
    left: 45%;
    position: absolute;
    top: 50%;
    width: 200px;    
}

#legend .dojoxLegendText
{
    margin-left:10px;
}
#legend 
{
    margin-top:10px;
}
.csp-chart-container
{
    display:block;
}    
.csp-chart-container .csp-chart-left
{
    float:left;
    width:500px;
}    
.csp-chart-container .csp-chart-right
{
    float:left;
    width:250px;
}    
.csp-clear{clear:both;}


.dojoxLegendText 
{
    margin-left: 5px;
}
.dojoxLegendNode
{
    border: 1px solid #000;
    padding:5px;
    margin-top:10px;
}

#legend {width:99%;}
