﻿div {
    display: block;
}
.ajax-loading-panel
{
	position:fixed;
	z-index:3;
	top:0;
	left:0;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

.hide {
    display: none;
}

.clear {
    clear: both;
}

.iframe_zoom_out_ie {
     zoom: 65%;
    -ms-zoom: 65%;
}

.iframe_zoom_out 
{
    -moz-transform-origin: top left;
   -webkit-transform-origin: top left;
   -o-transform-origin: top left;
   -ms-transform-origin: top left;
   transform-origin: top left;
  /* -moz-transform: scale( 0.65, 0.65 ); 
   -webkit-transform: scale( 0.65, 0.65 ); 
   -o-transform: scale( 0.65, 0.65 );
   -ms-transform: scale( 0.65, 0.65 );
   transform: scale( 0.65, 0.65 ); */
}

div#categories-language {
	margin: 10px 0px 20px 23px;
	display: inline-block;
}

.panelIntro {
    padding-bottom: 0px;
}

.csp_left_col {
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #DDDDDD;
    float: left;
    margin: 10px 0 20px 5px;
    overflow: hidden;
    width: 260px;
}

.csp_right_col {
    float: right;
    width: 700px;
    margin-top: 10px;
}

#step1Container .content_setup_header {
    border-bottom: 1px solid #ddd;
}

div.panel-category-tree div.rtsLevel a.rtsLink 
{
    font: 14px/22px Helvetica,Arial,sans-serif;
    background-image: none;
    border-color: #903;
    color: #fff;
}

div.panel-category-tree div.rtsLevel1 ul.rtsUL {
    background: none repeat scroll 0 0 #990033;
    height: 22px;
}

div.panel-category-tree div.rtsLevel1 .rtsTxt {

}

.panel-category-tree .rtsLevel1 .rtsUL {
    padding: 5px 5px 0;
}

div.panel-category-tree div.rtsLevel1 a.rtsSelected {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #767676; 
}

div.panel-category-tree div.rtsLevel a.rtsLink span.rtsOut
{
    
    background-image: none;
}

#entryPointContainer ul, #entryPointContainer ul li {
    list-style: none;
}
.cspConfigurationBox {
    margin-left: 15px;
}

/* Content */
div#main-content div#main-content-top {
	width: 912px;
	background-color: #f4f4f4;
	padding: 10px 10px 10px 10px;
    border: 1px solid #999;
    margin-top: 10px;
}

div#main-content-intro {
    text-align: left; 
    margin: 20px 10px 10px 10px;
}

div#main-content-intro > span 
{
    font-weight: bold;
    font-size: 14px;
    margin: 20px 10px 10px 10px;
}
div.images-button-pickup {
	background: url("Images/btn-left.png") no-repeat scroll top left;
	margin: 20px 0 0 10px;
	width: 183px;
	display: inline-block;
    float: left;
} 

div.images-button-pickup-mid {
	background: url("Images/btn-mid.png") repeat-x scroll top;
	height: 29px;    
	margin: 0 0 0 3px;
}

div.images-button-pickup div.images-button-pickup-right {
	background: url("Images/btn-right.png") no-repeat scroll top right;
	height: 29px;
}

div.images-button-pickup-right a{
	text-decoration: none; 
	color:#fff;
	padding-top: 5px;
	display: block;
	text-align: center;
	font-size: 14px;
}

/* set color for Save Setting button */
div.panel-category-tree {
}

div.panel-category-tree div.rtsLevel1 
{
    background: #fff;
    margin: 0px 0px 0px 20px;
    width: 934px;
    border-bottom: 1px solid #990033;
}

div.panel-category-tree div.rtsLevel1 ul.rtsUL {
    background: #903;
}

div.panel-category-tree div.rtsLevel1 a.rtsLink{
    border: none;
}

div.csp_left_col 
{
    margin-left: 20px;
    width: 240px;
}

.entrypoint_left_col 
{
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #DDDDDD;
    float: left;
    margin: 10px 0px 20px 20px;
    width: 270px;
    color: #767676;
	font: 12px "Segoe UI", Arial, sans-serif;
}

.entrypoint-left-col-content {
    margin: 5px 2px 5px 5px;
}

.entrypoint_right_col {
    float: left;
    width: 655px;
    margin-left: 15px;
    margin-top: 10px;
    overflow: hidden;
}

.entrypoint_right_col iframe {
	min-height: 710px;
	margin-left: -15px;
}

div.csp_left_col a.RadButton {
    float: left;
    padding: 10px;
    border: none;
    color: #fff;
    border-color: #fff;
    width: 85px;
}

div#btnSaveEntry a.RadButton {
    display: inline-block;
    margin-bottom: 5px;
}

div#btnSaveCategory {
	height: 45px;
}

div#btnSaveCategory a.RadButton  
{
    background-image: none;
    display: inline-block;
    margin-bottom: 5px;
}

div.entrypoint_left_col a.RadButton  
{
    background-image: none;
    float: left;
    border: none;
    color: #fff;
    border-color: #fff;
    width: 85px;
    padding: 10px;
}

div.csp_left_col a.RadButton input.rbDecorated 
{
    background-image: none;
    background-color: #903;
    border-radius: 3px;
    color: white;
	height: 25px;
}

div.entrypoint_left_col a.RadButton input.rbDecorated {
    background-image: none;
    background-color: #903;
    border-radius: 3px;
    color: white;
	height: 25px;
}

#entryPointContainer ul, #entryPointContainer ul li {
    margin-top: 10px;
}

div.content_setup_header {
    border-bottom: 1px solid #DDD;
    padding-bottom: 5px;
}

div.panel-category-tree div.rtsLevel  ul.rtsUL li.rtsLI  a.rtsLink {
    text-transform: capitalize;
}

.rbSkinnedButton:hover {
    border: none;
}

div#entryPointHeader {
    font-size: 14px;
    padding-bottom: 25px;
    font-weight: bold;
}

div.content_setup_header {
    font-weight: bold;
}

div.step1Container {
    border: 1px solid #DDD;
}

div.step2Container {
    border: 1px solid #DDD;
}

div#wdCodePickup .title {
    background: none repeat scroll 0 0 #EDE9EA;
    border-bottom: 1px solid #FFFFFF;
    color: #666666;
    font: bold 11px Arial,Helvetica,sans-serif;
    padding: 5px;
}

div#wdCodePickup .codeBlock {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #6A6864 #9F9C96 #9F9C96 #6A6864;
    border-style: solid;
    border-width: 2px;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 5px;
    white-space: normal;
    width: 590px;
}

div#wdCodePickup .codeBlock P {
    margin: 0;
    padding: 5px 0 5px 10px;
    white-space: normal;
}
.warning_container {
    background: url("Images/alert-icon.png") left center no-repeat;
    padding-left: 25px;
    float: left;
    height: 22px;
    line-height: 22px;
    
}
.warning_combobox {
    float: left;
    margin-left: 10px;
}

#dnn_ContentPane .RadButton_Metro.rbSkinnedButton:hover, .RadButton_Metro.rbVerticalButton:hover {
    border: none;
    color: #fff;
    background-color: #fff;
}

.k-overlay {
	z-index: 9000 !important;
}

.k-window {
	z-index: 9001 !important;
}

#ShowcasePreviewIframe {
    min-height: 800px;
    width: 660px;
    overflow: auto;
}

#banner_image_preview img {
    max-width: 230px;
}
.csp_left_col .RadTreeView_Metro .rtPlus, .csp_left_col .RadTreeView_Metro .rtMinus {
    background-image: url("Images/tree_minus_plus.png");
}
.csp_left_col .RadTreeView .rtPlus, .csp_left_col .RadTreeView .rtMinus {
    background-image: url("Images/tree_minus_plus.png");
}

/* Pickup your code - Copy to clipboard { */
#generate_embed_code_email {
	padding-top: 10px;
}
#email_embed_code {
	width: 250px;
	padding: 3px 0px;
}
#email_embed_code, #submit_email_embed_code, #copy-embed-code {
	border: 1px solid #AAA;
}
#copy-embed-code {
	position: relative;
}
#code-copied {
	display: none;
	color: #FF0000;
	text-shadow: -1px 1px 1px #000;
}
/* } Pickup your code - Copy to clipboard */
.csp_left_col .RadTreeView span.rtIndeterminate {
    background-position: 0 0;
}

#entryPointContainer label {
	position: relative;
	top: -3px;
}

/* Start Syndicating style { */
/* Button long styles { */
.ss-btn { display: inline-block;zoom: 1;*display: inline;cursor: pointer; }
.btn-long { background: url("Images/red_button_long_left.png") no-repeat scroll top left; }
.btn-long-right { background: url("Images/red_button_long_right.png") no-repeat scroll top right; }
.btn-long-mid { background: url("Images/red_button_long_mid.png") repeat-x scroll top left; height: 35px; margin: 0px 6px; overflow: hidden; }
.btn-long-text { padding: 8px 10px 0px 10px; font-weight: bold; color: #000;text-align: center;cursor: pointer; }

/* Description section { */
#description_section, #campaign_section_switch {
}
#description_section #desc_text {
	padding: 20px 20px 20px 40px;
	float: left;
	width: 570px;
}
#description_section #desc_controls {
	padding-bottom: 10px;
	text-align: center;
}
#description_section #desc_controls a {
	padding-right: 10px;
}
#description_section #desc_controls a:hover {
    text-decoration: none!important;
}
#description_section #desc_controls a .btn-long-text {
	min-width: 145px;
	text-align: center;
}
#description_section #desc_figure {
	float: right;
    margin: 20px 40px 20px 0;
    overflow: hidden;
    position: relative;
    width: 255px;
}
#desc_title {
	color: #3779d6;
	font-size: 14px;
	font-weight: bold;
	margin: 0px 0px 10px 0px !important;
}
#description_section #desc_detail p {
	padding: 0px 0px 10px 0px;
}
#description_section #desc_detail ul {
	padding-left: 30px;
	padding-bottom: 10px;
}
#description_section #desc_detail ul li {
	padding: 3px 0px;
}
/* } EOF Description section */

#campaign_section_switch {
	text-align: left;
	padding-left: 20px;
	padding-bottom: 20px;
}
#campaign_section_switch #switch_text {
	cursor: pointer;
}
#campaign_section_switch .icon-show {
	padding-left: 17px;
	background: url("Images/show-icon.png") no-repeat scroll left center;
}
#campaign_section_switch .icon-hide {
	padding-left: 17px;
	background: url("Images/hide-icon.png") no-repeat scroll left center;
}
/* } EOF Start Syndicating style */

.pvHelpDescription {
	margin: 0 21px 0 20px;
	padding: 10px 10px 10px 30px;
	background-color: #d9d9d9;
}

.wireframe {
	background: url("Images/wireframe.png") no-repeat scroll center;
}

.wireframe .wdContent {
	padding: 147px 0px 0px 20px;
}