﻿.module_main_wrap {
	margin: 20px 20px 0;
}
.hide {
    display: none;
}
/*a:active, a:selected, a:visited,a:focus,button, input { 
    border: none;
    outline: none;
    ie-dummy: expression(this.hideFocus=true);
}*/
*{outline: none;ie-dummy: expression(this.hideFocus=true);}

.module_main_wrap img {
	outline: none;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
.csp-asset-title {
	font-weight: bold;
    padding: 5px 0 10px;
}
.csp_asset_filter {
	text-align: center;
}
.csp_asset_filter_container {
	margin: 0 auto;
}
.csp_asset_title {
	font-size: 16px;
    font-weight: bold;
}
.csp-assets-paging {
	text-align: center;
}
.RadDataPager {
	padding: 10px 0 10px 33% !important;
	background-color: #000 !important;
}
.rdpSliderLabel {
    color: #fff;
}
.csp-assets {
	margin: 0 auto;
	position: relative;
}
.carousel-wrap {
	width: 720px;
	vertical-align: middle;
	margin: 20px 0 20px 95px;
	float: left;
}
.carousel-control 
{
	float: left;
    border: 0 none;
    cursor: pointer;
    height: 38px;
    line-height: 999px;
    overflow: hidden;
    text-indent: -9999px;
    vertical-align: middle;
    width: 20px;
    padding: 0px;
}
.csp-assets ul li {
	position: relative;
   width: 390px;
	 display: inline;
    float: left;
    overflow: hidden;
}
.carousel-next {
    background: url("images/right_arrow.png") no-repeat scroll 0 0 transparent;
    position: absolute;
	right: 0;
	top: 40%;
}
.carousel-previous {
    background: url("images/left_arrow.png") no-repeat scroll 0 0 transparent;
	position: absolute;
	left: 0;
	top: 40%;
}
.carousel-control:hover {
    opacity: 0.7;
}
.disabled, #container .carousel .disabled:hover {
    cursor: default;
   /* opacity: 0.1;*/
	display: none;
}
.csp_category_block {
	/*width: 400px;
	margin: 20px 0;*/
	width: 100%;
}
.csp_category_block_mainimage,.csp_category_block_subimage {
	display: block;
	width: 350px;
}
.csp_category_block_mainimage img,.csp_category_block_subimage img {
	/*float: left;*/
	border: 1px solid #ddd;
	padding: 2px;
	margin-right: 2px;
	margin-top: 2px;
	border-radius: 5px;
}
.csp_category_block_link {
	width: 350px;
}

.csp_category_block_mainimage img:hover,.csp_category_block_subimage img:hover {
	border: 1px solid #aaa;
}
#csp_asset_headline {
    background-color: #F3793A;
    color: #FFFFFF;
    display: block;
    font-size: 17px;
    font-weight: bold;
    height: 46px;
    line-height: 46px;
    margin: 21px -20px 0;
    width: 928px;
}
#csp_asset_headline span {
	margin-left: 20px;
}
.carousel-pagination {
	/*background: url('images/slide_footer_bg.png') top left repeat-x;*/
	background: url("Images/black_bg.png") repeat;
	display: block;
	height: 72px;
	text-align: center;
	width: 928px;
	margin: 0 -20px;
	/*
	width: 888px;
	margin: 0 0px;
	*/
	float: left;
}
.carousel-pagination p {
	margin: 0;
}
.carousel-pagination a{
	background: none repeat scroll 0 0 #333333;
    border: 1px solid #4F4F4F;
    border-radius: 12px 12px 12px 12px;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0 10px;
    padding: 2px 5px;
	line-height: 72px;
	font-size: 11px;
	
}
.carousel-pagination a.active {
	color: #5DB0E6;
    font-weight: bold;
}

.csp-cats-tile ul li {
    display: inline;
    float: left;
    overflow: hidden;
    position: relative;
	margin: 0;
	width: 200px;
	text-align: center;
}
.csp-cats-tile .carousel-wrap {
	margin: 10px 0 10px 95px;
	width: 800px;
}
.csp_cats_tile_title a {
	color: #fff;
	font-weight: bold;
}
.csp_cats_tile_title a:hover {
	text-decoration: underline;
}
.csp-cats-tile {
	position: relative;
}
.csp-cats-tile .carousel-previous {
	left: 20px;
}
.csp-no-sub-tile {
	font-weight: bold;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	margin-top: 60px;
	text-align: center;
}
.csp-asset-breadcrumb {
    font-size: 1.1em;
    padding: 20px;
}
.csp-asset-breadcrumb-mainview {
    font-size: 1.1em;
}
.csp-asset-breadcrumb a, .csp-asset-breadcrumb-mainview a, .csp-asset-breadcrumb a:hover {
    text-decoration: underline;   
}

.csp-no-asset { background: url("Images/black_bg.png") repeat !important;border: none !important; margin: 0px -20px;  text-align: center;padding: 10px 0px;color: #FFF;margin-top: 20px; }

/* Override styles of left, right edge & bottom */
#crcontentwrap_left {
	background: url("Images/left_shadow_black.png") repeat-y !important;
	width: 9px !important;
}
#crcontentwrap_right {
	background: url("Images/right_shadow_black.png") repeat-y !important;
	width: 9px !important;
}
#crcontentwrap_bottom {
	background: url("Images/corner_bottom_left_black.png") no-repeat scroll top left !important;
}
#crcontentwrap_bottom_right {
	background: url("Images/corner_bottom_right_black.png") no-repeat scroll top right !important;
}
#crcontentwrap_bottom_mid {
	background: url("Images/bottom_edge_black.png") repeat-x scroll top left !important;
	margin: 0 23px !important;
}
.setting_list_tb{
    width: 300px;
    border: 1px solid #ddd;    
}
.setting_list_tb .heading {
    background-color: #5db0e6;
}
.setting_list_tb .row {
    background-color: #dddddd;

}