﻿.headerModule {
    margin-bottom: 2px;
    padding-left: 25px;
}
.left {
    float: left;
}
.title {
    color: #2286c4;
    font-size: 25px;
    font-weight: bold;
}
.clear{ clear: both;}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-top-color: #eee;
    border-right-color: #eee;
    border-bottom-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin: 20px;
    padding: 20px;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout h4 {
    margin-bottom: 5px;
    margin-top: 0;
}
h4, .h4 {
    font-size: 18px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}