﻿#Form {  }
*{outline: none;ie-dummy: expression(this.hideFocus=true);}
.clear { clear: both; }
.invisible { visibility: hidden; }
.hide { display: none; }
.tb-vertical-center { width: 100%; height: 100%; border-spacing:0; border-collapse:collapse;}
.tb-vertical-center td { vertical-align: middle; }
.center-align { text-align: center; }
.left-align { text-align: left; }
.relative-pos { position: relative; }
.absolute-pos { position: absolute; }
.raquo { position: relative;top: -2px; }
img { border: none; }
#dnn_ContentPane { padding: 0px !important; }
#ss_category_wrapper{ background-color: #FFF; }
#ss_category_wrapper p { margin: 0;padding: 0; }

/* Button long styles { */
.ss-btn { display: inline-block;zoom: 1;*display: inline;cursor: pointer; }
.btn-long { background: url("../Images/button_long_left.png") no-repeat scroll top left; }
.btn-long-right { background: url("../Images/button_long_right.png") no-repeat scroll top right; }
.btn-long-mid { background: url("../Images/button_long_mid.png") repeat-x scroll top left; height: 35px; margin: 0px 6px; overflow: hidden; }
.btn-long-text { padding: 8px 10px 0px 10px; font-weight: bold; color: #000;text-align: center;cursor: pointer; }

.btn-black { background: url("../Images/button_black_long_left.png") no-repeat scroll top left; }
.btn-black-right { background: url("../Images/button_black_long_right.png") no-repeat scroll top right; }
.btn-black-mid { background: url("../Images/button_black_long_mid.png") repeat-x scroll top left; height: 35px; margin: 0px 7px; overflow: hidden; }
.btn-black-text { padding: 10px 10px 0px 10px; font-weight: bold; color: #FFCB05;text-align: center;cursor: pointer; }
.btn-marketcollat-download .btn-black-text { padding-top: 0px;}
.btn-black-inner-text { position: relative;top: 4px;}
/* } EOF Button long styles */

.csp-asset-breadcrumb { background-color: #DFDFE0; }

/* Description section { */
#ss_category_wrapper #description_section, #ss_category_wrapper #campaign_section_switch {
	background-color: #DFDFE0;
}
#ss_category_wrapper #description_section #desc_text {
	padding: 20px 20px 20px 40px;
	float: left;
	width: 570px;
}
#ss_category_wrapper #description_section #desc_controls {
	padding-top: 20px;
	text-align: center;
}
#ss_category_wrapper #description_section #desc_controls a {
	padding-right: 10px;
}
#ss_category_wrapper #description_section #desc_controls a .btn-long-text {
	min-width: 215px;
	text-align: center;
}
#ss_category_wrapper #description_section #desc_figure {
	float: right;
    margin: 20px 40px 20px 0;
    overflow: hidden;
    position: relative;
    width: 255px;
}
#desc_title {
	color: #3779d6;
	font-size: 14px;
	font-weight: bold;
	margin: 0px 0px 10px 0px !important;
}
/* } EOF Description section */

/* Campaign list { */
#ss_category_wrapper #campaign_section_switch {
	text-align: left;
	padding-left: 40px;
	padding-bottom: 20px;
}
#ss_category_wrapper #campaign_section_switch #switch_text {
	cursor: pointer;
}
#ss_category_wrapper #campaign_section_switch .icon-show {
	padding-left: 17px;
	background: url("../Images/show-icon.png") no-repeat scroll left center;
}
#ss_category_wrapper #campaign_section_switch .icon-hide {
	padding-left: 17px;
	background: url("../Images/hide-icon.png") no-repeat scroll left center;
}
#ss_category_wrapper #campaign_section {
	background: url("../Images/category_campaign_top_bg.png") repeat-x scroll top left #dfdfe0;
	min-height: 250px;
	padding: 20px 40px 0px 40px;
}
#ss_category_wrapper #campaign_section #campaign_section_title {
	font-weight: bold;
	padding-bottom: 10px;
}
#ss_category_wrapper #campaign_list {
	padding-top: 20px;
}
#ss_category_wrapper #campaign_list .campaign-item {
	border-top: 1px solid #555;
	height: 100px;
	padding: 10px 0px;
	position: relative;
}
.campaign-icons {
	position: absolute;
	bottom: 0px;
	left: 20px;
}
#ss_category_wrapper #campaign_list .campaign-item .campaign-item-desc {
	position: absolute;
	z-index: 1;
	top: 10px;
	left: 0px;
}
#ss_category_wrapper #campaign_list .campaign-item-controls {
	/*min-width: 380px;*/
	position: absolute;
	right: 0px;
	top: 0px;
	height: 120px;
	z-index: 0;
	width: 430px;
}
#ss_category_wrapper #campaign_list .campaign-item-controls a {
	padding-left: 10px;
}
#ss_category_wrapper #campaign_list .campaign-item-controls td {
	text-align: right;
}
#ss_category_wrapper #campaign_list .first-campaign-item {
	border-top: none;
}
#ss_category_wrapper #campaign_list .campaign-item-picture {
	width: 100px;
	height: 100px;
	float: left;
	overflow: hidden;
}
#ss_category_wrapper #campaign_list .campaign-item-desc-text {
	float: left;
	height: 100px;
	padding-left: 20px;
	width: 200px;
	position: relative;
}
.campaign-item-desc-full {display: none;left: -100px; color: #FFF;padding: 10px !important;position: absolute; z-index: 2; min-width: 420px;top: 0px; min-height: 80px;background: url("../Images/transparent_bg_dark.png") repeat;}
/* } EOF Campaign list */

/* Switch Product List { */
#switch_product_section {
	height: 180px;
	background: url("../Images/black_bg.png") repeat;
	position: relative;
}
#switch_product_title {
	font-weight: bold;
	color: #FFF;
	padding: 10px 0px 10px 40px;
	border-bottom: 1px solid #FFF;
}
#switch_product_list {
	position: relative;
}
/* } EOF Switch Product List */

/* All popup window style { */
/* Buy Now URL Window { */
#buynowurl-text { padding: 5px 0px; }
#txtBuyNowURL { width: 250px;border: 1px solid #999; }
#buynowurl-help-switch { cursor: pointer;text-decoration: underline;text-align: right;padding-right: 30px; }
#buynowurl-help-text { display: none;height: 45px;overflow: hidden; }

/* Campaign Preview { */
#wdCampaignPreview { overflow: auto; }
#preview-iframe {
	width: 99%;
	height: 99%;
	border: 0;
}
/* } EOF Campaign Preview */

/* Campaign Description { */
#wdCampaignDescription-text { font-size: 10px; }
/* } EOF Campaign Description */

/* Pick your banner { */
#PYB_list { position: relative; }
#PYB_list li { height: 650px;width: 910px;float: left; }
#PYB_list .banner_160_600 { width: 160px;float: left;margin-right: 20px; }
#PYB_list .banner_468_60 { width: 470px;float: left;margin-right: 20px; }
#PYB_list .banner_180_90 {width: 180px;float:left; }
#PYB_list .inner_banner_300_250 { margin-bottom: 99px; }
#PYB_list .inner_banner_468_60 { margin-bottom: 99px; }
#PYB_list .inner_banner_180_90 { margin-top: 160px; }
#PYB_list .inner_banner_134x60 { margin-top: 100px; }
#PYB_list .inner_banner_120x60 { margin-top: 100px; }

#PYB_list .carousel-wrap {
    float: left;
    margin: 20px 0 20px 30px;
    vertical-align: middle;
    width: 850px;
}

#PYB_list .carousel-control { width: 20px;visibility: hidden; }
/* } EOF Pick your banner */

/* Generate Embed Code window { */
#csp-generated-code { resize: none; }
#copy-embed-code {border: 1px solid #999999; position: relative;left: 5px;}
#code-copied { color: #FF0000;text-decoration: none;display: none;margin-left: 30px;position: relative;left: 5px;}
#wdGenerateEmbedCode-text ul { padding: 0px 30px; }
#wdGenerateEmbedCode-text li { list-style-type: decimal !important; }
#wdGenerateEmbedCode-text li h2 { font-size: 14px !important;font-weight: bold; }
#embed_code_text { width: 577px; height: 70px; resize: none;border: 1px solid #999; }
#wdGenerateEmbedCode p, #wdGenerateEmbedCode #generate_embed_code_email { padding: 0px 20px; }
#wdGenerateEmbedCode #email_embed_code { width: 250px;border: 1px solid #999;margin-right: 5px;}
#wdGenerateEmbedCode #submit_email_embed_code { border: 1px solid #999; }
/* } EOF Generate Embed Code window */

/* Download Window { */
.wdDownload { overflow: hidden !important; }
.wdDownload .asset-title { height: 60px;overflow: hidden; }
.wdDownload ul { text-align: center; }
.wdDownload li { display: inline-block;zoom: 1;*display: inline; }
.wdDownload .carousel-wrap { width: 600px;overflow: hidden; }
.wdDownload .carousel-previous { left: 15px; }
/* } EOF All popup window style */

/* Override styles of left, right edge & bottom */
#crcontentwrap_left {
	background: url("../Images/left_shadow_black.png") repeat-y;
}
#crcontentwrap_right {
	background: url("../Images/right_shadow_black.png") repeat-y;
}
#crcontentwrap_bottom {
	background: url("../Images/corner_bottom_left_black.png") no-repeat scroll top left;
}
#crcontentwrap_bottom_right {
	background: url("../Images/corner_bottom_right_black.png") no-repeat scroll top right;
}
#crcontentwrap_bottom_mid {
	background: url("../Images/bottom_edge_black.png") repeat-x scroll top left;
}