﻿.clear {
	clear: both;
}
.hide {
	display: none;
}
.align-center {
	text-align: center;
}
.block-label {
	background-color: #5893CB;
	color: #FFF;
}
.block-label * {
	text-align: center;
	padding: 10px;
	font-weight: bold;
	font-size: 16px;
}
.section-label {
	background-color: #9EC2E5;
	color: #1D5184;
	padding: 5px;
	font-size: 14px;
}
.field-row .srcFieldCol {
	padding: 4px 0px;
}
#connection-string-section {
	margin: 0 auto;
	padding: 0;
	width: 700px;
}