.shrinkBox
{
   background-color: #fff;
}

.shrinkBox h2
{
    color: #6d6e70;
    font-size: 26px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.shrinkForm
{
    background-color: #fff;
}

.shrinkForm p
{
    padding:4px;
}
.shrinkForm p label
{
    display:block;
    float:left;
    width:100px;
}
.btn_createUser {
    font-weight: bold;
    color: #19548e;
    background: url(images/plus_icon.png) center left no-repeat;
    margin: 10px;
    padding: 0 0 0 15px;
}
ul.form
{
    list-style: none none outside;
    margin: 0;
    padding: 0;
}
.t-filter-options {
    z-index: 99;
}
ul.form li
{
    display: inline;
    padding: 4px;
    float: left;
}

.largeTextBox
{
    border: 4px solid #c0d679;
    color: #494949;
    font-size: 15px;
    padding: 4px 10px;
}

.smallTextBox
{
    border: 2px solid #c0d679;
    color: #494949;
    font-size: 12px;
    padding: 2px;
}

.focusTextBox
{
    background-color: #ddedbb;
    border-color: #70a405;
    color: #494949;
}

.idleTextBox
{
    background-color: #fff;
    color: #6f6f6f;
}

.largeButton
{
    background: transparent url(images/forms/button.gif) repeat-x scroll center top;
    border: 2px solid #779F20;
    cursor: pointer;
    color: #494949;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 15px;
    font-size: 14px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.largeButton:focus
{
    background-position: bottom;
}
.heading {
    font-size: 14px;
    text-transform: uppercase;
    color: #004182;
    border-bottom: 1px solid #004182;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.logonform {
    width: 400px;
    border: 2px solid #0c324e;
    border-radius: 5px;
    margin: 0 auto 10px;
    box-shadow: 5px 5px 5px #c0c0c0;

}
.logonform-logo {
    background: url(images/logo.png) top left no-repeat;
    display: block;
    width: 118px;
    height: 41px;
    margin: 20px auto;
}
.logonform-main {
    background-color: #19548e;
    margin: 10px;
    color: #fff;
    padding: 15px;
}
.logonBtn {
    border: 1px solid #00beff;
    color: #00beff;
    padding: 5px 10px;
    background-color: #19548e;
    cursor: pointer;

}
.logonBtn:hover {
 
}
.logonform-heading {
    padding-bottom: 5px;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    font-size: 14px;
    font-weight: bold;
}
.defaultTxbox {
    height: 30px;
    border-radius: 3px;
    background-color: #fff;
    border: none;
    width: 200px;
    padding-left: 10px;
}
form.openid label {
    font-weight: normal !important;
    font-size: 12px !important;
}
.smallButton, .command
{
    border: 1px solid #00beff;
    cursor: pointer;
    font-size: 12px;
    padding: 3px 10px;
    color: #00beff;
    background-color: #fff;
}
.detailForm {
    margin: 10px 10px 0 40px;
}

a.command
{
   color: #00beff;
    text-decoration:none;
}


a.command:hover
{
    background-color: #00beff;
    color: #ffffff;
}

.tip
{
    display: block;
    font-size: smaller;
}

.validationBox, .messageBox
{
    margin: 8px 0;
    padding: 20px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.validationBox
{
    background-color: #f7cbca;
    border: 1px solid #c52020;
    color: #b72222;
}

.messageBox
{
    background-color: #c9ffca;
    border: 1px solid #349534;
    color: #008000;
}

.messageBox span
{
    background: transparent url(images/forms/success.png) no-repeat scroll 10px 10px;
    padding: 12px 0 4px 40px;
    font-weight: bold;
}

.messageBox ul
{
    margin-bottom: 0;
    padding: 0 0 12px 60px;
}

.messageBox ul li
{
    padding-bottom: 4px;
}

.messageBox ul li div
{
    padding-top: 4px;
}

.messageBox ul li div .readOnlyTextBox
{
    cursor: pointer;
    width: 260px;
}

.messageBox ul li div label
{
    float: left;
    padding-top: 10px;
    width: 60px;
}

span.warning 
{
    border: 1px solid;
    font-weight: bold;
    padding: 7px 10px 7px 30px;
    color: #9F6000;
    background-color: #FEEFB3;
    background: #FEEFB3 url(images/forms/warning.png) no-repeat scroll 5px center;
}

span.validation-summary-errors
{
    background: transparent url(images/forms/error.png) no-repeat scroll 10px 10px;
    font-weight: bold;
    padding: 12px 0 4px 40px;
}

ul.validation-summary-errors
{
    margin-bottom: 0;
    padding: 0 0 12px 60px;
}

ul.list
{
    margin: 0;
    padding: 0;
}

ul.list > li
{
    border-bottom: 2px solid #ddedbb;
    list-style: none none;
    padding: 8px 0;
}

ul.item li
{
    display: inline;
    float: left;
    list-style: none none;
    padding: 4px;
}

li.preview
{
    width: 155px;
}

li.preview img
{
    height: 108px;
    width: 150px;
}

li.visits
{
    text-align:center;
    width: 105px;
}

li.title
{
    width:320px;
    text-align:justify;
}

li.added
{
    text-align:right;
    width: 100px;
}

.input-validation-error
{
    border: 4px solid #c52020;
}

.field-validation-error
{
    color: #fff;
    font-weight: bold;
}

input[name=url]
{
    width: 420px;
}

input[name=alias]
{
    width: 180px;
}

input[name=url]
{
    width: 420px;
}
.url {
    width: 250px !important;
}
#ListUsers {
    width: 150px !important;
}
.shortenurl {
    color: #00beff;
    font-size: 18px;
}
.shortenurl-border {
    border: 1px solid #e1e0e0;
    height: 40px;
    padding-top: 20px;
    text-align: center;
    vertical-align: middle;
    width: 358px;
}
#chart {
    width:800px;
    margin: 0 auto;
    height: 400px;
}
.summary-title {
    color: #023e79;
    font-size: 16px;
}
.summary-header label {
    font-family: tahoma;
    font-size: 14px;
    color: #968585;
}
.summary-header select {
    width: 150px;
}
.summary-header {
    margin-left: 20px;
    margin-top: 10px;
}
#sltime,#slurl {
    width: 150px;
    margin-top: 20px
}
.summary-wrapper {
    width: 800px;
    margin: 0 auto
}