/*
----------------------------------------------------------*/
html {height:100%}
body {background-color:#eeeeee;font-size:12px;font-family:Tahoma, sans-serif;margin:0;padding:0;}
input,textarea,select {font-family:Tahoma, sans-serif}
img {border-style:none;}
a:link {/*color:#0c324e;*/text-decoration:none;}

/* HEADINGS
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {font-size:1.7em;color:#000;}
h1 {font-size:2em;padding-bottom:0;margin-bottom:0;}
h2 {padding:0 0 10px 0;}
h3 {font-size:1.2em;}
h4 {font-size:1.1em;}
h5, h6 {font-size:1em;}
/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2 {margin-top:0;}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
.clear{ clear: both;}
.page {width:960px;margin: 0 auto;background-color: #fff;}
#header { height: 78px;width: 960px;float: left;position: relative;background-color: #fff;}
#header h1 {padding:17px 0 0 106px;margin:0;color:#134130;border:none;font-size:1.7em; line-height:1em;}
#title {display:block;width: 118px;height: 41px;background: url(images/logo.png) top left no-repeat;position: absolute;top: 12px;left: 30px;}
#header-home{ position: absolute;top: 25px;left: 170px;}
#header-home a{display: block;width: 29px;height: 24px;background: url(images/home_symbol.png) top left no-repeat;}
#main { width: 960px;float: left;}
#logindisplay { position: absolute;top: 42px;right: 30px;background: url(images/logOff.png) center right no-repeat;}
#logindisplay a{ color: #0c324e;margin-right: 15px}
#footer { width: 960px;float: left;height: 82px;background-color: #0c324e;color: #ffffff;font-size: 10px;position: relative;}
#footer-menu{ position: absolute;top: 65px;left: 12px;}
#footer-menu a{ color: #ffffff;}
#footer-logo{ position: absolute;width: 127px;height: 29px;background: url(images/logo_footer.png) top left no-repeat;top: 25px;right: 10px;}
#footer-copyright{ position: absolute;bottom: 10px;right: 10px;font-size: 10px; }
/* MISC 
----------------------------------------------------------*/
.clear {clear:both;}
.error {color:#f00;}

.pager
{
    margin:8px 3px;
    padding:3px;
    text-align:center;
}

.pager .disabled
{
    border:1px solid #ddd;
    color:#999;
    margin-top:4px;
    padding:3px;
    text-align:center;
}

.pager .current
{
    background-color:#43d700;
    border:1px solid #70a405;
    color:#fff;
    font-weight:bold;
    margin-top:4px;
    padding:3px 5px;
    text-align:center;
}

.pager a
{
    border: 1px solid #43d700;
    margin-top: 4px;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
}

.preview ul
{
    list-style:none none;
    display:inline;
    padding:0;margin:0
}

.preview ul image.li
{
    float:left;
    padding-right:10px
}

.preview li.image
{
    float:left;
    padding-right:12px
}

.preview li.info ul li
{
    padding-bottom:8px
}

.preview li.info ul li a
{
    text-decoration:none;
}

.warningText
{
    color:#f00;
    font-weight:bold;
}
#grid-user {
    margin: 10px;
}