﻿* {}
.vert-mid {
	margin: 0px auto;
	padding: 0px;
}
.clear {
	clear: both;
}
.float-left {
	float: left;
}
.darkblue-text {
	color: #0E4C86;
}
.hide {
	display: none;
}
img {
	border: none;
}

body {
	font-family: 'Exo',serif;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
	background-color: #363434;
	color: #363434;
}

#wrapper {
	width: 100%;
}

#header-section {
	height: 185px;
	background-color: #FFF;
}

#header-content, #body-content {
	width: 950px;
	margin: 0px auto;
	padding: 0px;
}

#header-content #icons-links {
	height: 120px;
	overflow: hidden;
}

#header-content #icons-links #header-icons {
	float: left;
	padding-top: 68px;
}

#header-content #icons-links #header-icons  ul {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

#header-content #icons-links #header-icons li.misc-item {
	float: left;
	list-style-type: none;
	padding: 0px 10px;
}

#header-content #icons-links #header-icons #misc-global,
#header-content #icons-links #header-icons #misc-home,
#header-content #icons-links #header-icons #misc-help {
	display: block;
	width: 32px;
	height: 32px;
}

#header-content #icons-links #header-icons #misc-global {
	background: url("Images/white-symbol-earth.png") no-repeat;
}

#header-content #icons-links #header-icons #misc-home {
	background: url("Images/white-symbol-home.png") no-repeat;
}

#header-content #icons-links #header-icons #misc-help {
	background: url("Images/white-symbol-question-mark.png") no-repeat;
}

#header-content #icons-links #header-logos-links {
	float: right;
	padding-right: 10px;
}

#header-content #icons-links #header-logos-links #the-logo {
	padding-top: 35px;
}

#header-content #icons-links #header-logos-links #user-links {
	text-align: right;
}

#header-content #icons-links #header-logos-links #user-links * {
	font-size: 11px;
	text-decoration: none;
	color: #0e4c86;
}

#header-content #tabmodule-menu {
	height: 65px;
	background-color: #0e4c86;
}

#header-content #tabmodule-menu  * {
	font-size: 18px;
	font-weight: bold;
}

#header-content #tabmodule-menu ul {
	padding: 0px;
	margin: 0px;
}

div#tabmodule-menu ul li {
    display: inline-block;
    list-style-type: none;
    position: relative;
}
div#tabmodule-menu ul li a {
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    padding: 20px 30px;
    text-decoration: none;
}
div#tabmodule-menu ul li a:hover {
    text-shadow: 1px 1px 1px #000000;
}
div#tabmodule-menu ul li.selected {
    background: url("Images/tabmodule-menu-item-selected.png") no-repeat scroll center top transparent;
}
div#tabmodule-menu div.subLevel {
    background-color: #999999;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 2px #000000;
    display: none;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 60px;
    width: 190px;
    z-index: 999;
}
div#tabmodule-menu div.subLevel li {
    overflow: hidden;
    padding: 4px 0;
    width: 190px;
}
div#tabmodule-menu div.subLevel li.selected {
    background: none repeat scroll 0 0 transparent;
}
div#tabmodule-menu div.subLevel li a {
    padding: 6px 10px;
    width: 170px;
}
div#tabmodule-menu div.subLevel li a:hover, div#tabmodule-menu div.subLevel li.selected a {
    background-color: #B4B4B4;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000000;
}

#body-section {
	
}

#body-section #body-content {
	min-height: 500px;
	background-color: #FFF;
	overflow: hidden;
}