﻿.float-left { float: left; }

.float-right { float: right; }

.left-align { text-align: left !important; }

.center-align { text-align: center !important; }

.pos-relative { position: relative; }

.clear, .csp-clear { clear: both; }

.page-message {
	border: 1px solid #FF0000;
	color: #FF0000;
	background-color: #EEE;
	text-align: center;
	padding: 10px 0px;
	width: 99%;
	display: block;
	margin: 0 auto;
}

div#content-wrapper {
	overflow: hidden;
}

div#indicated-required-msg {
	margin: 33px 0px 33px 20px;
	border-left: 5px solid #FF0000;
	padding: 5px;
	font-weight: bold;
}

.content-block {
	margin-bottom: 32px;
}

.block-title-orange {
	background-color: #f4793b;
	color: #FFF;
	font-weight: bold;
	font-size: 15px;
	padding: 4px 0px 4px 20px;
}

.form-row {
	margin-top: 22px;
	padding: 0px 20px;
}

.short-field, .long-field , .short-required-field, .long-required-field{
	border: 1px solid #777;
	padding: 3px 0px;
	border-radius: 4px;
}

.short-required-field {
	border-left: 5px solid #FF0000;
	width: 179px;
}

.long-required-field {
	border-left: 5px solid #FF0000;
	width: 409px;
}

.form-row .short-col, .form-row .long-col { float: left; }

.form-row .short-col, .form-row .short-col input.short-field {
	width: 185px;
}

.form-row .long-col {
	width: 400px;
	text-align: center;
}

p.long-label, input.long-field {
	width: 415px;
}

p.field-label {
	text-align: left;
	margin-bottom: 3px;
	font-weight: bold;
	margin: 0 auto;
}

.form-row .item-right-padding {
	padding-right: 46px;
}

#mailing-check,#address-check,#billingaddress-field-col {
	padding-top: 10px;
}

#mailing-check label, #accept-terms-conditions label,#address-check label {
	position: relative;
	top: -2px;
	cursor: pointer;
}

#mailing-check label, #accept-terms-conditions label a {
	color: #000;
}

#mailing-check #recieve-mail{
	border: 1px solid #777777;
}

.button, .button * {
	display: inline-block;
	cursor: pointer;
}

.button-left {
	background: url(images/button-left.png) no-repeat scroll top left;
}

.button-right {
	background: url(images/button-right.png) no-repeat scroll top right;
	padding: 0px 6px;
}

.button-mid {
	background: url(images/button-mid.png) repeat-x scroll top left;
	height: 31px;
}

.button-text {
	text-align: center;
	color: #ffcb05;
	padding: 7px 30px 0px 30px;
	font-weight: bold;
}

div#submit-information {

}

div#submit-information td {
	vertical-align: center;
}

#username-field-col {
	padding-right: 45px;
}

.field-valid {
	/*background: url("images/icon-yes.png") no-repeat 190px 16px;*/
}

.field-invalid {
	/*background: url("images/icon-no.png") no-repeat 92% 16px;*/
}

#username-msg, #companyname-msg, #companywebsite-msg, #emailaddress-msg, #basedomain-msg, #confirm-emailaddress-msg, #password-msg,#expirationdate-msg {
	color: #FF0000;
	font-size: 11px;
}

#password-field-col {

}

#companyname-field-col {
	padding-right: 45px;
}

#address1-field-col {
	width: 463px !important;
	overflow: hidden;
}

#address1-field-col p, #address1-field-col input {
	float: left;
}

#basedomain-field-col {
	width: 495px;
}

#fake-basedomain-suffix {
	display: inline-block;
	width: 230px;
	text-align: left;
}

#emailaddress-field-col {
	width: 462px;
}

#confirm-emailaddress-field-col {
	width: 415px;
}

.RadComboBox table td.rcbInputCell, .RadComboBox .rcbInputCell .rcbInput {
    padding-left: 0 !important;
}
.RadComboBox .rcbReadOnly .rcbInput {
    border-left: 5px solid #FF0000 !important;
}

.dropdown-country,.dropdown-month,.dropdown-year {
	border: 1px solid #777777;
    border-radius: 4px 4px 4px 4px;
	border-left: 5px solid #FF0000;
    width: 179px;
	height: 24px;
}
.dropdown-month{
	width: 50px !important;
}
.dropdown-month option {
	width: 20px;
}
.dropdown-year{
	width: 70px !important;
}
.dropdown-year option {
	width: 40px;
 }
.dropdown-country option {
	width: 149px;
}

#basedomain-field-col p {
	width: 100%;
}

#basedomain-field-col div {
	text-align: left;
}
#welcome{
	width: 500px;
	padding-left: 30px;
}
#welcome h2{
	color: #555555;
}
#welcome p{
	color: #999999;
	font-size: 16px;
	line-height: 22px;
	margin: 0 0 1em;
}
#btnRedirect {
	font-size: 13px;
	height: 38px;
	line-height: 38px;
	padding: 0 20px;
	background-color: #4D90FE;
	background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
	border: 1px solid #3079ED;
	color: #FFFFFF;
	text-shadow: 0px 0px 1px #000;
	font-weight:bold;
	display: inline-block;
}

#btnRedirect:hover {
	text-decoration: none;
}

#description-text {
	float: left;
	width: 550px;
	padding-left: 30px;
}

#description-text h1 {
	font-size: 26px;
}

#description-text p {
	font-weight: bold;
}

#description-image {
	background-color: #E4E4E4;
    height: 150px;
    padding-left: 80px;
    padding-top: 35px;
    width: 465px;
}

#description-image ul {
	padding: 30px 20px 0 80px;
}
.email-description{
	background: url("images/vendor_email.png") no-repeat scroll center bottom transparent;
    float: left;
    height: 100px;
    margin-right: 112px;
    text-align: center;
    width: 116px;
	font-weight:bold;
}
.clear{
	clear:both;
}
#description-block-right{
	float: right;
    /*margin-left: 20px;*/
    padding-top: 30px;
    width: 320px;
	text-align:center;
}
#description-block-right-images{
	background: url("images/vendor_icon.png") no-repeat scroll center left transparent;
	width:299px;
	height:129px;
}
#description-block-right-button {
    margin-top: 40px;
	font-size:15px;
	font-weight:bold;
	height:42px;
}
#description-block-right-button a{
	background: url("images/vendor_button.png") repeat scroll left center transparent;
    height: 42px;
    padding: 10px 61px;
	color:#ffffff;
	text-decoration:none;
}

.RadWindow_Metro .rwTopLeft, .RadWindow_Metro .rwTopRight, .RadWindow_Metro .rwTitlebar, .RadWindow_Metro .rwTopResize {
    background: none repeat scroll 0 0 #0E4C86 !important;
}
.RadWindow_Metro .rwControlButtons a {
    background-color: #0E4C86 !important;
	border: none !important;
}
.RadWindow .rwDialogPopup {
    font: 12px "Exo",Arial,Verdana !important;
}
.rwPopupButton{
	display: none !important;
}
#accept-terms-conditions {
	float: left;
    padding-top: 52px;
    width: 200px;
}
#recaptchar-div {
	float: left;
	margin-right: 40px;
}
#summit-div {
	margin-left: 50px;
    padding-top: 23px;
    width: 115px;
	float: left;
}
#creditcardnumber-field-col,#expirationdate-field-col,#securitycode-field-col {
	padding-top: 10px;
    width: 400px ;
}
#creditcardnumber-field-col {
	width: 400px !important;
}
#security-block {
	background: url("images/security-block.png") no-repeat left;
    margin-left: 20px;
    margin-top: 24px;
    padding-left: 50px;
    width: 300px;
	height: 50px;
}
#security-block p {
	font-weight: bold;
    margin-bottom: 5px;
    padding-top: 7px;
}
#creditcard-type {
	background: url("images/creditcard-type.png") no-repeat left;
	width: 172px;
	height: 26px;
	display: inline-block;
	vertical-align: bottom;
	margin-left: 10px;
}
#security-icon {
	background: url("images/security-code.png") no-repeat left;
	width: 36px;
	height: 26px;
	display: inline-block;
	vertical-align: bottom;
	margin-left: 10px;
}
span {
	display: block;
}
@media (max-width: 930px) 
{
	#creditcard-type,#security-icon {
		display: block;
		margin: 5px 0 0 0 !important;
	}
	#summit-div {
		margin-left: 0 !important;
		padding: 0 !important;
	}
	#companyname-field-col,#address1-field-col,#city-field-col,#state-field-col,#zipcode-field-col,#country-field-col,
	#companywebsite-field-col,#firstname-field-col,#lastname-field-col,#jobtitle-field-col,#phonenumber-field-col,#emailaddress-field-col,
	#confirm-emailaddress-field-col,#username-field-col,#password-field-col,#password-confirm-field-col,#basedomain-field-col,
	#securitycode-field-col,#creditcardnumber-field-col,#expirationdate-field-col,#billing-firstname-field-col,#billing-lastname-field-col,
	#billing-address-field-col,#billing-state-field-col,#billing-zipcode-field-col,#billing-country-field-col,#billing-city-field-col{
		width: 100% !important;
		padding-bottom: 10px;
    }
    
	.short-required-field,.long-required-field,.dropdown-country{
		width: 80%;
	}	
	.form-row {
		margin-bottom: -15px;
	}
	#companyname-msg,#companywebsite-msg,#confirm-emailaddress-msg,#emailaddress-msg,#accept-msg,#basedomain-msg,#emailaddress-msg,
	#username-msg,#password-msg,#indicated-required-msg {
		display: block;
	}
	#description-block-right {
		float: left !important;
		padding-left: 15px !important;
	}
	.email-description {
		margin-right: 0 ;
		width: 35% !important;
	}
	#description-text {
		width: 95%;
		padding-left: 10px !important;
	}
	#description-image {
		width: 85%;
		padding: 10px 0 10px 85px;
		height: auto;
	}
	#description-text h1 {
		font-size: 25px;
	}
}
@media (max-width: 610px) {
	#accept-terms-conditions {
		padding-top: 10px;
	}
}
@media (max-width: 480px) {

	.email-description {
		margin-right: 40px !important;
	}
	#description-image {
		padding: 10px 0 10px 40px !important;
	}
	
}
#infor-label {
	display: inline-block;
	font-weight: bold;
	padding-right: 10px;
}