﻿<div id="wrap"> 
  <!-- wrapper -->
  <div id="sidebar"> 
    <!-- the  sidebar --> 
    <!-- logo --> 
    <a href="#" id="logo">CODER RENTAL</a> 
    <!-- navigation menu -->
    <ul id="navigation">
      <li><a href="#home" class="active">Home</a></li>
      <li><a href="javascript: return false;">API Document</a></li>
      <li><a href="javascript: return false;">About Us</a></li>
      <li><a href="javascript: return false;">Contact</a></li>
    </ul>
  </div>
  <div id="container"> 
    <div class="page" id="about"> 
      <!-- page about -->
      <h3 class="page_title">Video Player - Object Detection</h3>
        <div class="page_content">
            <div id="player">
                <video controls>
                    <source src="http://localhost/apiproject/videos/gucci.mp4" type="video/mp4">
                    <source src="http://localhost/apiproject/videos/gucci.webm" type="video/webm">
                </video>
                <canvas style="display: none;"></canvas>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
    <div class="page" id="portfolio"> 
      <!-- page portfolio -->
      <h3 class="page_title">Information</h3>
      <div class="page_content">
          <p id="infomsg">Object Detection Demo. Pause video when the Video Player is playing to detect object from CR Server.</p>
          <div id="detectloading"></div>
          <div id="detectarea">
              <p class="noobject">There are no object detected from this frame</p>
              <div class="hasobject">
                  <p class="objectname"></p>
                  <p class="objectprice"></p>
                  <p class="objectreseller"></p>
                  <p class="objectwebsite">Visit reseller <a href="#">website</a></p>
                  <p class="objectbuynow"><a href="#">Go to Product page</a></p>
              </div>
          </div>
        <div class="clear"> </div>
      </div>
    </div>
    <div class="footer">
      <p> &copy; 2013 <a href="http://coderrental.com">CoderRental.com</a>. All Rights Reserved.</p>
      <p> Designed by <a href="http://coderrental.com">CR TEAM</a></p>
    </div>
  </div>
</div>
@section scripts
{
    <script type="text/javascript">
        var video = document.querySelector('video');
        var canvas = document.querySelector('canvas');
        // Get a handle on the 2d context of the canvas element
        var context = canvas.getContext('2d');
        
        // Add a listener to wait for the 'loadedmetadata' state so the video's dimensions can be read
        video.addEventListener('loadedmetadata', function () {
            // Set the canvas width and height to the values just calculated
            canvas.width = 450;
            canvas.height = 360;
        }, false);
        
        // Add a listener , snap image when pause the video
        video.addEventListener('pause', function () {
            snap();
        }, false);
        
        // Takes a snapshot of the video
        function snap() {
            // Define the size of the rectangle that will be filled (basically the entire element)
            context.fillRect(0, 0, 450, 360);
            // Grab the image from the video
            context.drawImage(video, 0, 0, 450, 360);
            var imgData = canvas.toDataURL();
            
            jQuery("#detectloading").show();
            //post current frame to server
            $.ajax({
                type: "POST",
                url: "http://localhost/apiproject/api/object",
                data: {
                    imgData: imgData
                }
            }).done(function (jsonData) {
                console.log(jsonData);
                jQuery("#detectloading").hide();
                jQuery("#detectarea").fadeIn();
                if (jsonData.IsDetected) {
                    jQuery(".noobject").fadeOut();
                    jQuery(".objectname").html("Product name: "+ jsonData.FieldValuePairs.Name);
                    jQuery(".objectprice").html("Price: "+ jsonData.FieldValuePairs.Price + " " + jsonData.FieldValuePairs.Currency);
                    jQuery(".objectreseller").html("Reseller: " + jsonData.ListResellers[0].Name);
                    jQuery(".objectwebsite a").attr("href", jsonData.ListResellers[0].Website);
                    jQuery(".objectbuynow a").attr("href",jsonData.ListResellers[0].FieldValuePairs.ProductUrl);
                    jQuery(".hasobject").fadeIn();
                } else {
                    jQuery(".noobject").fadeIn();
                    jQuery(".hasobject").fadeOut();
                }
               
               
            });
        }
        
        jQuery(function() {
           
        });
    </script>
}