﻿#DownloadContainer { text-align: center; }
#DownloadContainer .csp-button { margin-bottom: 10px; }
#DownloadContainer .csp-button span { padding: 0px 5px; min-width: 200px;display: inline-block;zoom: 1;*display: inline; }
.asset-buttons span.rbText { display: none !important; }
.csp-asset-detail-container {  }
.black-bottom-nav {
	background: url("../Images/black_bg.png") repeat !important;
}

/* Override styles of left, right edge & bottom */
#crcontentwrap_left {
	background: url("../Images/left_shadow_black.png") repeat-y;
}
#crcontentwrap_right {
	background: url("../Images/right_shadow_black.png") repeat-y;
}
#crcontentwrap_bottom {
	background: url("../Images/corner_bottom_left_black.png") no-repeat scroll top left;
}
#crcontentwrap_bottom_right {
	background: url("../Images/corner_bottom_right_black.png") no-repeat scroll top right;
}
#crcontentwrap_bottom_mid {
	background: url("../Images/bottom_edge_black.png") repeat-x scroll top left;
}