* {
	outline: none;ie-dummy: expression(this.hideFocus=true);
}

.clear { clear: both; }

img { border: none; }

.hide { display: none; }

.float-left {
	float: left;
}

ul, li {
	padding: 0px; margin: 0px;
}

body {
	font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
	background-color: #E7E7E7;
}

/* Shadow effect { */
/*
div#left-shadow {
	background: url("Images/left-shadow.png") repeat-y scroll top left;
}

div#right-shadow {
	background: url("Images/right-shadow.png") repeat-y scroll top right;
	padding: 0px 8px;
}

div#bottom-shadow {
	background: url("Images/bottom-left-shadow.png") no-repeat scroll top left;
}

div#bottom-right-shadow {
	background: url("Images/bottom-right-shadow.png") no-repeat scroll top right;
	padding: 0px 8px;
}

div#bottom-mid-shadow {
	height: 9px;
	overflow: hidden;
	background: url("Images/bottom-mid-shadow.png") repeat-x scroll top left;
}
*/
/* } EOF Shadow effect */

div#wrapper {
	width: 976px;
	background-color: #FFF;
	border-radius: 0 0 12px 12px;
    box-shadow: 0 0 3px #000000;
	margin: 0 auto;
}

/* Header section { */
div#header {
	height: 85px;
}

div#the-logo {
	float: left;
    padding-left: 20px;
    padding-top: 25px;
}

div#header  #misc-left {
	padding: 25px 0 0 30px;
	width: 230px;
}

div#header  #misc-left ul li {
	list-style-type: none;
}

div#header  #misc-left ul#misc-ul {
	display: block;
	width: 100%;
}

#misc-left li.misc-item {
    float: left;
    list-style: none outside none;
	list-style-type: none;
    margin-right: 30px;
	display: inline-block;
	width: 37px;
	position: relative;
	z-index: 1000;
}

div#header  #misc-left a {
	display: block;
}

div#header  #misc-left .misc_global { 
	background: url("Images/symbol-earth.png") no-repeat scroll center;
	width: 32px;
	height: 32px; 
}

div#header  #misc-left .misc_home { 
	background: url("Images/symbol-home.png") no-repeat scroll center;
	width: 37px;
	height: 32px; 
}

div#header  #misc-left .misc_help { 
	background: url("Images/symbol-question-mark.png") no-repeat scroll center;
	width: 32px;
	height: 32px; 
}

div#header div#misc_user {
	float: right;
	padding: 32px 5px 0px 0px;
}

div#header div#misc_user * {
	color: #4d93cc;
}

div#header div#misc_user a {
	text-decoration: none;
}

#fake-lang-list-outer {
	background: url("Images/red_lang_list_pointer.png") no-repeat scroll 14px 0 transparent;
	padding-top: 12px;
	position: absolute;
    z-index: 999;
    display: none;
}

#fake-lang-list {
	border: none;
	width: 270px;
	background-color: #4D93CC;
	padding: 2px;
	
}

#fake-lang-list li {
	margin: 0;
	width: 135px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

#fake-lang-list li a {
	width: 125px;
	font-size: 8.5pt;
	background-color: #4D93CC;
	color: #FFF;
	padding: 5px 5px;
}

#fake-lang-list li a:hover {
	text-decoration: underline;
}

#fake-lang-list li a:hover, #fake-lang-list li a.MDMLang-Selected {
	 background-color: #FFF; 
	 color: #4D93CC;
}
/* } EOF Header section */

/* Header section { */
div#main-nav {
	background: url("Images/main-nav-left.png") no-repeat scroll top left;
	position: relative;
	z-index: 2;
}

div#main-nav-right {
	background: url("Images/main-nav-right.png") no-repeat scroll top right;
	padding: 0px 3px;
}

div#main-nav-mid {
	height: 64px;
	background: url("Images/main-nav-bg.png") repeat-x scroll top left;
}

div#main-nav ul li {
	list-style-type: none;
	display: inline-block;
	*display: inline;
	position: relative;
}

div#main-nav ul li a {
	color: #FFF;
	text-decoration: none;
	padding: 21px 20px 24px 20px;
	font-size: 14px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

div#main-nav ul li a:hover {
	text-shadow: 1px 1px 1px #000;
}

div#main-nav ul li.selected {
	background: url("Images/main-nav-item-selected.png") no-repeat scroll top center;
}

div#main-nav div.subLevel {
	position: absolute;
	background-color: #4d93cc;
	z-index: 999;
	width: 190px;
	box-shadow: 0px 1px 2px #000;
	border-radius: 0px 0px 4px 4px;
	display: none;
	left: 0px;
	top: 60px;
	overflow: hidden;
}

div#main-nav div.subLevel li {
	width: 190px;
	overflow: hidden;
	padding: 4px 0px;
}

div#main-nav div.subLevel li.selected {
	background: none;
}

div#main-nav div.subLevel li a {
	width: 170px;
	padding: 6px 10px;
}

div#main-nav div.subLevel li a:hover, div#main-nav div.subLevel li.selected a {
	background-color: #8DCCFC;
	text-shadow: 1px 1px 1px #000;
	color: #FFF;
}
/* } EOF Header section */

/* Content section { */
div#main-content {
	min-height: 200px;
	position: relative;
	z-index: 1;
}
/* } EOF Content section */

/* Footer { */
div#footer {
	padding-bottom: 20px;
}

div#footer div#bottom-nav {
	/*background: url("Images/bottom-nav-left.png") no-repeat scroll top left;*/
	height: 2px;
	background-color: #4d93cc;
	margin: 0px 1px;
	box-shadow: 0px 1px 2px #000;
}

div#footer div#bottom-nav-right {
	background: url("Images/bottom-nav-right.png") no-repeat scroll top right;
	padding: 0px 3px;
}

div#footer div#bottom-nav-mid {
	height: 31px;
	background: url("Images/bottom-nav-mid.png") repeat-x scroll top left;
}

div#footer div#bottom-nav ul li {
	list-style-type: none;
	float: left;
	
}

div#footer div#bottom-nav ul li a {
	text-decoration: none;
	color: #FFF;
	display: block;
	margin: 8px 10px 0px 10px;
	border-right: 1px solid #EEE;
	padding: 0px 16px 0px 0px;
	font-size: 11px;
}

div#footer div#bottom-nav ul li.last a {
	border: none;
}

div#footer div#footer-info {
	font: 11px Arial,Helvetica,sans-serif;
	position: relative;
	color: #333;
}

div#powered-by-logo {
	padding: 20px 20px 10px 0px;
	text-align: right;
	height: 26px;
}

div#footer div#terms-privacy-section {
	float: left;
}

div#footer div#terms-privacy-section ul li {
	list-style-type: none;
	float: left;
	padding: 0px 2px;
}

div#footer div#terms-privacy-section ul li a {
	text-decoration: none;
	color: #333;
}

div#footer div#copyright-text {
	float: right;
}

div#footer div#copyright-section {
	padding: 0px 20px;
}

/* } EOF Footer */

/* Register page { */
div.dnnRegistrationForm div.dnnForm,
div#dnnManageUsers div.dnnProfile, 
div#dnnManageUsers div.dnnForm {
	width: 95% !important;
}

div.dnnRegistrationForm .dnnFormItem label, 
div.dnnRegistrationForm .dnnFormItem .dnnFormLabel, 
div.dnnRegistrationForm .dnnFormItem .dnnTooltip {
	width: 170px !important;
}

div.dnnRegistrationForm .dnnForm .dnnFormItem {
	position: relative !important;
}

textarea.dnnFormRequired {
	font: 11px/150% Arial,Helvetica,sans-serif;
	width: 550px !important;
	height: 260px;
}
/* } EOF Register page */

/* Start Syndicating CSS OverRide { */
#csp_list_categories .carousel-pagination {
	margin: 0 !important;
	background: none !important;
	border-top: 1px solid #c3c3c3;
}

#csp_list_categories .carousel-pagination a {
	border-radius: 3px;
	background-color: #4D93CC;
}

#csp_list_categories .carousel-pagination a.active {
	color: #000;
	text-shadow: 1px 1px 1px #000;
}

#csp_asset_headline {
	background-color: transparent;
    border-bottom: 1px solid #C3C3C3;
    border-top: 1px solid #C3C3C3;
	color: #4D93CC;
	margin: 10px 0px 0px 0px;
}

#ss_category_wrapper .csp-asset-breadcrumb, 
#ss_category_wrapper #description_section, 
#ss_category_wrapper #campaign_section_switch {
    background-color: #FFF !important;
}

#ss_category_wrapper #campaign_section {
	background: #F7F7F7 !important;
    border-top: 2px solid #EEEEEE;
    margin: 0 1px;
}

#ss_category_wrapper #switch_product_section {
	background: #C3C3C3 !important;
    height: auto;
    margin: 0 1px;
    padding-top: 5px;
    color: #4D93CC;
}

#ss_category_wrapper #switch_product_title {
	padding: 5px 0px 5px 40px !important;
	margin: 0px 2px;
	box-shadow: 0px 1px 2px #000;
	background-color: #FFF;
	color: #4D93CC;
}

#ss_category_wrapper #switch_product_section .csp_cats_tile_title a {
	color: #4D93CC !important;
}

.btn-long {
    background: url("Images/button_long_left.png") no-repeat scroll left top transparent !important;
}
.btn-long-right {
    background: url("Images/button_long_right.png") no-repeat scroll right top transparent !important;
}
.btn-long-mid {
    background: url("Images/button_long_mid.png") repeat-x scroll left top transparent !important;
}
.btn-long-text {
    color: #FFF !important;
}

.btn-black {
    background: url("Images/button_long_left.png") no-repeat scroll left top transparent !important;
}
.btn-black-right {
    background: url("Images/button_long_right.png") no-repeat scroll right top transparent !important;
}
.btn-black-mid {
    background: url("Images/button_long_mid.png") repeat-x scroll left top transparent !important;
    margin: 0 6px !important;
}
.btn-black-text {
	color: #FFF !important;
}

#ss_category_wrapper #campaign_section_switch .icon-show {
    background: url("Images/show-icon.png") no-repeat scroll left center transparent !important;
}
#ss_category_wrapper #campaign_section_switch .icon-hide {
    background: url("Images/hide-icon.png") no-repeat scroll left center transparent !important;
}
/* } EOF Start Syndicating CSS OverRide */

/* Collateral Dashboard CSS OverRide { */
.main-pane-view .carousel-pagination {
	background: none !important;
	border-top: 1px solid #c3c3c3;
}

.main-pane-view .carousel-pagination a {
	border-radius: 3px;
	background-color: #4D93CC;
}

.main-pane-view .carousel-pagination a.active span {
	color: #000;
	text-shadow: 1px 1px 1px #000;
}

.csp-asset-detail-container .black-bottom-nav {
	background: #C3C3C3 !important;
	border-top: 1px solid #c3c3c3;
	padding: 2px 0px 10px 0px;
	margin: 0px 1px;
}

.csp-asset-detail-container .black-bottom-nav .nav-asset-title {
	color: #4D93CC;
	background-color: #FFF;
	padding: 3px 10px;
	margin: 0px 2px 10px 2px;
	box-shadow: 0px 1px 2px #000;
}

.csp-asset-detail-container .black-bottom-nav .rrClipRegion {
	top: 0px !important;
	left: 0px !important;
}

a.csp-button {
	background-image: url("Images/asset-button-bg.png") !important;
	color: #FFF;
}
/* } EOF Collateral Dashboard CSS OverRide */

/* Manage Partners CSS OverRide { */
div#cptDialog .dojoxGridRow {
	width: 100% !important;
}

#appLayout .dijitContentPane {
	padding: 0px !important;
	overflow: hidden !important;
}

#appLayout .dojoxGridView {
	width: 100% !important;
}

#appLayout .dojoxGridHeader,
#appLayout .dojoxGridRow {
	width: 738px !important;
}

#appLayout .dojoxGridRow {
	float: left !important;
}

.dojoxGridHeader div {
	width: auto !important;
}
/* } EOF Manage Partners CSS OverRide */

/* Inline Content Entry CSS OverRide { */
.cie-productdetail-container {
	padding: 0px 10px;
	overflow: hidden;
}

#product-description ul, .feature-text ul {
	padding: 0px 0px 0px 20px;
}
/* } EOF Inline Content Entry CSS OverRide */

.csp_supports_container {
	padding: 20px;
}

.dnnRequireProfile .dnnTooltip {
	width: 235px;
}

div.panel-category-tree div.rtsLevel1 ul.rtsUL {
	background-color: #00447c !important;
}

div.csp_left_col a.RadButton input.rbDecorated {
	background-color: #00447c !important;
}