﻿#dnn_ContentPane {
    font-family: 'Exo', serif;
    font-size: 13px;
}
.module_wrap {
    margin: 10px 20px;
    color: #0E4C86;
}
.module_heading {
     /*background: url("images/favs.png") no-repeat scroll left top transparent;
    font-size: 17px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 10px 0;
    padding-left: 30px;*/
    float: left;

    font-size: 28px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 10px 0 30px;
}
.module_export {
     font-size: 17px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 10px 0;
    padding-left: 30px;
    float: right;
}
.module_table_main  td.head-category{
    border-bottom: 5px solid red;
    vertical-align: top;
}

.module_table_main tr.row_even {
    background-color: #fff;
}
.module_table_main tr.row_odd {
    background-color: #F0F4F8;
}

.module_table_main td.value-column {
    text-align: center;
    color: red;
    font-weight: bold;
}
.module_table_main {
    width: 100%;

}
.table_wrap {
    width: 936px;
    overflow: auto;
}
.navigation_pager {
    text-align: center;
}
#dnn_ContentPane .rdpWrap {
    width: 300px;
    margin: 0 auto;
    float: none;
}
.loading-panel {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.clear {
    clear: both;
}