﻿div#csp-wrapper * {
	font-size: 13px;
}

.csp-form-field {
	border: 1px solid #777;
	width: 250px;
}

textarea {
	border: 1px solid #777;
}
.tieContentFormHeaderTitle{font-size:20px !important;margin-bottom:15px;}
.tieContentShortDescription{margin-bottom:15px;}
@media (max-width: 480px) {
	ul#main-nav {
		overflow: visible;
	}
	
	div#csp-nav li.root-item {
		width: 400px;
		min-height: 40px;
		height: auto;
		background-color: #4D97D4;
		border-bottom: 1px solid #FFF;
	}
	
	div#csp-nav li.root-item-hover a, div#csp-nav li.root-item a.root-item-link:hover, div#csp-nav li.selected a {
		text-shadow: 0.5px 0.5px 1.5px #333;
	}
	
	ul.sub-menu-detail {
		display: none;
	}
	
	.sub-menu-wrapper {
		position: relative !important;
		top: 0px !important;
		left: 0px !important;
	}
	
	.sub-item {
		width: 380px !important;
		padding-right: 0px !important;
	}
	
	#sub-category-blocks .sub-category-block {
		width: 400px !important;
	}
	
	#sub-category-blocks .sub-category-block .sub-category-block-figure {
		text-align: center;
		float: left;
	}
	
	#sub-category-blocks .sub-category-block .sub-category-block-figure img {
		width: 200px;
	}
	
	#page-banner img {
		width: 400px !important;
	}
	
	#banner-main-text h1 {
		font-size: 18px;
	}
	
	#csp-side-col {
		position: relative;
		width: 400px;
		min-height: 60px;
		padding-top: 10px;
	}
	
	#mobile-left-col-trigger {
		display: block;
		cursor: pointer;
	}
	
	#side-col-list {
		display: none;
		margin-top: 5px !important;
	}
	
	#side-col-list li {
		width: 400px;
		margin: 0 !important;
		background-color: #4D97D4;
	}
	
	.aside-menu-item {
		padding: 10px !important;
		border-bottom: 1px solid #FFF;
	}
	
	.aside-menu-item:hover {
		color: #FFF !important;
		text-shadow: 0.5px 0.5px 1.5px #333;
		
	}
	
	#cspContactButton {
		position: absolute;
		right: 0px;
		top: 0px;
		margin: 0 !important;
	}
	
	.csp-right-col {
		padding-left: 0px !important;
		width: 400px !important;
	}
}