form.openid ul { text-align:center; list-style-type:none; display:inline;margin:4px 0}
form.openid fieldset {border-style:none;}
form.openid ul li {float:left; padding:4px}
form.openid ul li span {padding:0 1em 0 3px}
form.openid fieldset {clear:both; padding:1em 0}
form.openid div+fieldset {display:none}
form.openid label {display:block; font-weight:bold; font-size:larger; margin-bottom:.5em}
input[name=openid_username] {width:8em}
input[name=openid_identifier] {width:18em}
form.openid ul li.highlight { -moz-border-radius:4px; -webkit-border-radius:4px; background-color: #fd6}
form.openid fieldset div {-moz-border-radius:4px; -webkit-border-radius:4px; background: #dcdcdc url(images/openid/fadegrey.png); padding:10px;display:inline-table}
form.openid input[type='submit'] {margin-left:1em;}
.openid_logo{color:#f7931e;padding:6px 0px 8px 28px; background: url(images/openid/openidico.png) no-repeat}
#openid_login{float:left; font-size:larger; width:30%; margin:2em 1em; text-align:center}
#openid_login div{margin-top:0.5em}
#openid_login div+span{font-size:smaller}