/*
----------------------------------------------------------*/
html {height:100%}
body {background:#82d2f5 url(images/bg-main.png) repeat-x fixed center bottom;font-size:12px;font-family:"Trebuchet MS", Arial, sans-serif;margin:0 0 400px 0;padding:0;color:#696969;}
input,textarea,select {font-family:"Trebuchet MS", Arial, sans-serif}
img {border-style:none;}
a:link {color:#43d700;text-decoration:underline;}
a:visited {color:#579a39;}
a:hover {color:#13ca00;text-decoration:none;}
a:active {color:#009ee7;}

/* HEADINGS
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {font-size:1.7em;color:#000;}
h1 {font-size:2em;padding-bottom:0;margin-bottom:0;}
h2 {padding:0 0 10px 0;}
h3 {font-size:1.2em;}
h4 {font-size:1.1em;}
h5, h6 {font-size:1em;}
/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2 {margin-top:0;}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
.page {width:950px;margin-left:auto;margin-right:auto;}
#header {position:relative;margin:0;color:#000;padding:0 0 0 0;width:950px;background:url(images/bg-header.png) no-repeat right top;height:131px;}
#header h1 {padding:17px 0 0 106px;margin:0;color:#134130;border:none;font-size:1.7em; line-height:1em;}
#title {display:block;width:260px;float:left;margin:0; text-align:center;}
#main {padding:30px 30px 15px 30px;background:#fff url(images/bg-main-corner-sprite.png) no-repeat;margin-bottom:30px;_height:1px;clear:both;position:relative;width:890px;}
#logindisplay {float:right;font-size:1.1em;font-weight:bold;margin:10px;}
#footer {color:#999;padding:30px 0;text-align:center;position:absolute;bottom:-70px;left:0;font-size:.9em;background:url(images/bg-main-corner-sprite.png) no-repeat -950px bottom;width:950px;}
/* MISC 
----------------------------------------------------------*/
.clear {clear:both;}
.error {color:#f00;}

.pager
{
    margin:8px 3px;
    padding:3px;
    text-align:center;
}

.pager .disabled
{
    border:1px solid #ddd;
    color:#999;
    margin-top:4px;
    padding:3px;
    text-align:center;
}

.pager .current
{
    background-color:#43d700;
    border:1px solid #70a405;
    color:#fff;
    font-weight:bold;
    margin-top:4px;
    padding:3px 5px;
    text-align:center;
}

.pager a
{
    border: 1px solid #43d700;
    margin-top: 4px;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
}

.preview ul
{
    list-style:none none;
    display:inline;
    padding:0;margin:0
}

.preview ul image.li
{
    float:left;
    padding-right:10px
}

.preview li.image
{
    float:left;
    padding-right:12px
}

.preview li.info ul li
{
    padding-bottom:8px
}

.preview li.info ul li a
{
    text-decoration:none;
}

.warningText
{
    color:#f00;
    font-weight:bold;
}