﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CspSubscriptionClusterForm.ascx.cs" Inherits="TIEKinetix.CspModules.CSPSubscriptionModule.CspSubscriptionClusterForm" %>
<%@ Register Assembly="Telerik.Web.UI, Version=2012.1.411.35, Culture=neutral, PublicKeyToken=121fae78165ba3d4"
	Namespace="Telerik.Web.UI" TagPrefix="telerik" %>


Add Cluster 

