﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CspSubscriptionMainView.ascx.cs" Inherits="TIEKinetix.CspModules.CSPSubscriptionModule.CspSubscriptionMainView" %>
<asp:Panel runat="server" ID="pError" CssClass="csp-error-container">
</asp:Panel>