﻿.csp-multi-select ul li {
    list-style: none;
}
.csp-form-wizard {width:100%;overflow: hidden;}
.csp-form-container{}
.csp-form-container .csp-form-block{ margin-bottom: 5px; }
.csp-form-container .csp-form-block h2
{
    background-color:#f4793b;
    padding:8px 5px;
    color:#fff;
    font-weight:bold;
}
.csp-form-container .csp-form-block .csp-form-fields { padding-left: 20px; }
.csp-form-container .csp-form-block .csp-form-fields > table {width:99%;border-spacing:0;border-collapse:collapse;}
.csp-form-container .csp-form-block .csp-form-fields td { padding: 3px 0px; }
.csp-form-field-label
{
    font-weight:bold;
}
/*.csp-form-container .csp-form-block .csp-form-fields */
.csp-form-field
{
    border:1px solid #aaa;
    color: #f4793b;
    font-size: 14px;
    background-color:#fff;
    padding:4px 5px;
    box-shadow:inset 0 0 1px 1px #eee;
    -moz-box-shadow:inset 0 0 1px 1px #eee;
    border-radius: 3px;
    -moz-border-radius:3px;
}

/*wizard navigation*/
.csp-clear {clear:both;}
.hide { display: none; }
.csp-mandatory-indicator{margin:15px 0px 5px 0px;}
.csp-mandatory-indicator span{border-left:5px solid red;padding-left:5px;font-weight:bold;}
.csp-form-wizard .csp-form-wizard-nav 
{
    clear:both;
    display:inline-block;
    width:100%;
    background-color: #bbb;
    margin: 0px;
    padding: 20px 0px;   
    border-bottom:1px solid #888;
}
.csp-form-wizard .csp-form-error {padding-top:5px;display:block;}
.csp-form-wizard-nav .csp-nav-item 
{
    background-color: #FFFFFF;
    margin: 10px;
    padding: 5px;
    box-shadow: 0 0 5px #000000;
    /*cursor:pointer;*/
    text-align:center;
	position: relative;
	display: inline-block;
	float: left;
}

.csp-form-wizard .csp-form-wizard-nav .csp-nav-item_wrap, .csp-nav-item_wrap_seleted {
	background-color: #0099cc;
    font-size: 16px;
    font-weight:bold;
    height: 65px;
    padding:5px;
	/*width:175px;*/
    color: #000;
	position: relative;
	display: inline-block;
}

.csp-nav-item_wrap a {
	position: relative;
	color: #fff;
	display: inline-block;
	zoom: 1;
	*display: inline !important;
	width: auto !important;
	min-width: 165px !important;
	text-align: center;
}

.csp-form-wizard .csp-form-wizard-nav .csp-nav-item a:hover 
{
    text-decoration:none;
    color:#000;
}

.csp-form-wizard .csp-form-wizard-nav .csp-nav-item_wrap_seleted
{
    background-color: #99cc33;
    color: #fff;
}
.item-not-selected
{
    color:#fff;
}
.csp-form-wizard table.csp-form-table {width:100%;}
table.csp-form-table tr td {padding:2px 5px;}
table.csp-form-table .csp-form-title
{
    background-color: #F4793B;
    color: #FFFFFF;
    padding: 5px 0;
    display:block;
    font-size:14px;
}
table.csp-form-table .csp-form-label{font-weight:bold;}
table.csp-form-table .csp-form-preview-image {max-width:300px;max-height:300px;}
.csp-form-mandatory {border-left:5px solid red;}
table.csp-form-table .csp-table-cell-label {width:125px;}
table.csp-form-table .csp-table-cell-label .dnnTooltip {padding-top:4px;}
table.csp-form-table csp-table-cell-input {}
table.csp-form-table .text,table.csp-form-table .longtext{width:300px;}
table.csp-form-table .select{ min-width: 150px; }
.validator {
    margin-left: 10px;
}
/* buttons */
.csp-buttons-ul {margin-top:30px; height: 26px;}
.csp-buttons-ul li 
{
    float: right;
    list-style: none inside none;
	margin: 10px 20px 10px 0px;
    text-align: center;
}

.csp-button 
{
    background-color: #940435;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;    
    color: #FFFFFF !important;
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px 15px;
    min-width: 120px;
    box-shadow: 0 0 2px #000000;
    display:inline-block;
     text-align: center;
    border: none;
}
.csp-button-Twitter 
{
    background: url("Images/twitterlogo.png") no-repeat 10px center #2385c4;   
}
.csp-button-Facebook 
{
    background: url("Images/facebooklogo.png") no-repeat 10px center #2385c4;   
}
.csp-button-LinkedIn {
     background: url("Images/linkedinlogo.png") no-repeat 10px center #2385c4;   
   
}
.csp-button-social {
     color: #FFFFFF !important;
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px 10px 5px 40px;
    min-width: 200px;
    box-shadow: 0 0 2px #000000;
    display:inline-block;
     text-align: center;
    border: none;
    cursor: pointer;
}
.disable {
    opacity: 0.2;
}
.unsubscribe-button {
    background-color: #f4793b;
}

a.csp-button:hover{text-decoration:none;background-color: #B80743;}
a.csp-button:active,a.csp-button:link{text-decoration:none;}


/* override skin.css */
.dnnActions>li {margin-right:5px;}
.rtsTxt {
	text-transform: capitalize;
}
.ajax-loading-panel
{
	position:fixed;
	z-index:3;
	top:0;
	left:0;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

span.csp-form-field-label label { position: relative;top: -3px; }
#mandatoryFieldsRequest-text {
	font-weight: bold;
	color: #FF0000;
}

#mandatoryFieldsRequest-overlay {
    background-color: #000000;
    height: 100%;
    left: 0;
    opacity: 0.5;
    filter: alpha(opacity=50);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
	display: none;
}
#mandatoryFieldsRequest-button-wrapper {
	text-align: center;
	padding-top: 10px;
}
.ss-btn { display: inline-block;zoom: 1;*display: inline;cursor: pointer; }
.btn-long { background: url("Images/red_button_long_left.png") no-repeat scroll top left; }
.btn-long-right { background: url("Images/red_button_long_right.png") no-repeat scroll top right; }
.btn-long-mid { background: url("Images/red_button_long_mid.png") repeat-x scroll top left; height: 35px; margin: 0px 6px; overflow: hidden; }
.btn-long-text { padding: 8px 20px 0px 20px; font-weight: bold; color: #000;text-align: center;cursor: pointer; }

.company-websiteurl-error {
	/*color: white !important;
	text-shadow: 0px 1px 1px black;
	*/
	background: url(Images/errorbg.gif) no-repeat left center;
	color: #000;
	padding: 5px 20px;
}
@media only screen and (max-width : 767px){
	.csp-form-fields  table{
		width: 100%;
	}
	.csp-form-fields td{
		display:block;
		position: relative;
		padding-left: 110px!important; 
	}
	.csp-form-field {
		width: 70% !important;
	}
	.csp-form-fields {
		padding-left: 15%;
	}
	.company-name-mobile:before {
		content: "Company Name: ";
	}
	.address-mobile:before {
		content: "Address: ";
	}
	.city-mobile:before {
		content: "City: ";
	}
	.state-mobile:before {
		content: "State: ";
	}
	.zipcode-mobile:before {
		content: "ZipCode: ";
	}
	.country-mobile:before {
		content: "Country: ";
	}
	.url-mobile:before {
		content: "Website-Url: ";
	}
	.firstname-mobile:before {
		content: "First Name: ";
	}
	.lastname-mobile:before {
		content: "Last Name: ";
	}
	.jobtitle-mobile:before {
		content: "Job Title: ";
	}
	.phonenumber-mobile:before {
		content: "Phone Number: ";
	}
	.emailaddress-mobile:before {
		content: "Email Address: ";
	}
	.bold{
		font-weight:bold;
	}
	.csp-form-field-label{
		display:none;
	}
	.csp-form-field-checkbox{
		display:block !important;
	}
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 8px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	.csp-buttons-ul li {
		float:left;
		margin-left:20px !important;
	}
}
@media only screen and (max-width : 480px){
	.csp-form-wizard-nav {
		text-align:center !important;
	}
	.csp-nav-item {
		float:none !important;
	}
}
