﻿<center>
    <strong>
        <h2 style="font-size:2em;font-weight:bold;">
            Microsoft Co-op Syndication Incentive Program</h2>
    </strong>
</center>
<br />
<p>
    Congratulations! You qualify to participate in the Microsoft Co-op Syndication Incentive
    Program. This program gives you the opportunity to claim and receive Co-op funds
    for syndicating. The claim amount is based on your partner type and is dependent
    on you meeting a few basic program requirements. Co-op funds will be distributed
    by Microsoft and must adhere to the program requirements and policies. Here are
    some program details from January 1 through June 30, 2012:
</p>
<h3 style="font-weight:bold;">
    Special Co-op Incentive Offers For <u>OEM Resellers</u>
</h3>
<i>(Note: This category includes <u>System Builders</u>.)</i>
<p>OEM Resellers and System
Builders who syndicate DCCN campaigns on their websites can qualify to claim Co-op
funds. OEM resellers and system builders can claim US$4,250 of Co-op funds per half
of Microsoft’s fiscal year (July through December, and January through June) for
qualifying syndication.
</p>
<p>
    Eligible partners can qualify by fulfilling the following requirements:
</p>
<ol style="padding: 10px 0 10px 20px;">
    <li>Syndicate 2 or more DCCN campaigns</li>
    <li>Prominently display the campaign banners “above the fold” (this equates to the top
        20% percent of the web page with no scrolling required to see the content).</li>
    <li>Syndicate for a minimum of 90 days<br />
        - OR –<br />
        Meet the minimum banner click-through requirement of 100 clicks. (Minimums vary
        by partner-type. See the PowerPoint presentation below for details, and contact
        your Partner Account Manager with any questions.)<br />    
    <a target="_blank" href="http://media.cnetcontentsyndication.com/FTP/Campaign/Microsoft/Co_Op_Docs/FY12%20DCCN%20Syndication%20Incentive%20Offer_OEM_FINAL%20.pptx">
        Review additional requirements for the DCCN syndication incentive program.</a>
    </li>
</ol>
<h3 style="font-weight:bold;">
    Special Co-op Incentive Offers For <u>Distributors</u></h3>
    <p>
Distributors who syndicate DCCN campaigns on their websites can qualify to claim
Co-op funds. Distributors can claim US$18,750 of Co-op funds per half of Microsoft’s
fiscal year (July through December, and January through June) for qualifying syndication.<br>
Eligible partners can qualify by fulfilling the following requirements:</p>
<ol style="padding: 10px 0 10px 20px;">
    <li>Syndicate 2 or more DCCN campaigns </li>
    <li>Prominently display the campaign banners “above the fold” (this equates to the top
        20% percent of the web page with no scrolling to see the content)</li>
    <li>Syndicate for a minimum of 90 days<<br />
        - OR –<br />
        Meet the minimum banner click-through requirement of 250 clicks. (Minimums vary
        by partner-type. See the PowerPoint presentation below for details, and contact
        your Partner Account Manager with any questions.)
    <br />
    <a target="_blank" href="http://media.cnetcontentsyndication.com/FTP/Campaign/Microsoft/Co_Op_Docs/FY12 DCCN Syndication Incentive Offer_OEM_FINAL .pptx">
        Review additional requirements for the DCCN syndication incentive program.</a>
        </li>
</ol>
<h3 style="font-weight:bold;">
    Special Co-op Incentive Offers For <u>MNAs</u></h3>
    <p>
Multi National Accounts (MNAs) who syndicate DCCN campaigns on their websites can
qualify to claim Co-op funds. MNAs can claim US$18,750 per half of Microsoft’s fiscal
year (July through December, and January through June) for qualifying syndication.</p>
Eligible partners can qualify by fulfilling the following requirements:<br>
<ol style="padding: 10px 0 10px 20px;">
    <li>Syndicate 2 or more DCCN campaigns </li>
    <li>Prominently display the campaign banners “above the fold” (this equates to the top
        20% percent of the web page with no scrolling to see the content)</li>
    <li>Syndicate for a minimum of 90 days<br />
        - OR –<br />
        Meet the minimum banner click-through requirement of 250 clicks. (Minimums vary
        by partner-type. See the PowerPoint presentation below for details, and contact
        your Partner Account Manager with any questions.)
    <br />
    <a target="_blank" href="http://media.cnetcontentsyndication.com/FTP/Campaign/Microsoft/Co_Op_Docs/FY12 DCCN Syndication Incentive Offer_OEM_FINAL .pptx">
        Review additional requirements for the DCCN syndication incentive program.</a></li>
</ol>
<br />
<h3 style="font-weight:bold;">
    Special Co-op Incentive Offers For <u>Named OEMs</u></h3>
Named OEMs who syndicate DCCN campaigns on their websites can qualify to claim Co-op
funds. Named OEMs can claim US$17,500 of Co-op funds per half of Microsoft’s fiscal
year (July through December, and January through June) for qualifying syndication.<br />
Eligible partners can qualify by fulfilling the following requirements:<br />
<ol style="padding: 10px 0 10px 20px;">
    <li>Syndicate 2 or more DCCN campaigns </li>
    <li>Prominently display the campaign banners “above the fold” (this equates to the top
        20% percent of the web page with no scrolling to see the content)</li>
    <li>Syndicate for a minimum of 90 days<br />
        - OR –<br />
        Meet the minimum banner click-through requirement of 250 clicks. (Minimums vary
        by partner-type. See the PowerPoint presentation below for details, and contact
        your Partner Account Manager with any questions.)</li>
    <br />
    <a target="_blank" href="http://media.cnetcontentsyndication.com/FTP/Campaign/Microsoft/Co_Op_Docs/FY12 DCCN Syndication Incentive Offer_OEM_FINAL .pptx">
        Review additional requirements for the DCCN syndication incentive program.</a><br />
</ol>
<br />
<h3 style="font-weight:bold;">
    Special Co-Op Incentive Offers for <u>Managed Resellers</u></h3>
<p>
    If you are not an OEM partner but are eligible for the Managed Reseller Incentive
    Program, you may be eligible for reimbursement of your actual costs associated with
    supporting and executing the DCCN syndication service from your Co-op earnings.
    Find details about the basic requirements in the PowerPoint presentation below,
    and contact your Partner Account Manager with any questions. Syndication requirements
    must be met within the current fiscal half-year period (July through December, and
    January through June), so start now!<br />
    <br />
    <a target="_blank" href="http://media.cnetcontentsyndication.com/FTP/Campaign/Microsoft/Co_Op_Docs/Managed-Reseller-Co-Op_SyndicationGuidelines_FINAL .pptx">
        Learn about basic requirements for the Managed Reseller Co-op syndication incentive
        program. </a>
    <br />
</p>
<br />
<h3 style="font-weight:bold;">
    Links</h3>
<table width="100%" border="0">
    <tr>
        <td>
            <div align="right">
                Link to US Co-Op Program:</div>
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            <a href="http://sbbdf.com" target="_blank">http://sbbdf.com</a>
        </td>
    </tr>
    <tr>
        <td>
            <div align="right">
                Link to WW Co-Op Program:</div>
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            <a href="http://www.microsoft.com/OEM/en/salesmarketing/Pages/local-OEM-incentives.aspx"
                target="_blank">http://www.microsoft.com/OEM/en/salesmarketing/Pages/local-OEM-incentives.aspx</a>
        </td>
    </tr>
    <tr>
        <td>
            <div align="right">
                Link to Download Co-op Template Form:</div>
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            <a href="http://media.cnetcontentsyndication.com/FTP/Campaign/Microsoft/Co_Op_Docs/FY12 Syndication Co-Op Claim Template - Final.xlsx"
                target="_blank">http://media.cnetcontentsyndication.com/FTP/Campaign/Microsoft/Co_Op_Docs/FY12
                Syndication Co-Op Claim Template - Final.xlsx</a>
        </td>
    </tr>
    <tr>
        <td>
            <div align="right">
                Link to Managed Reseller Co-op Guidelines:</div>
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            <a href="http://media.cnetcontentsyndication.com/FTP/Campaign/Microsoft/Co_Op_Docs/Managed-Reseller-Co-Op_SyndicationGuidelines_FINAL .pptx"
                target="_blank">http://media.cnetcontentsyndication.com/FTP/Campaign/Microsoft/Co_Op_Docs/Managed-Reseller-Co-Op_SyndicationGuidelines_FINAL
                .pptx</a>
        </td>
    </tr>
    <tr>
        <td>
            <div align="right">
                Link to DCCN Co-Op Syndication Incentive Offer Guidelines:</div>
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            <a href="http://media.cnetcontentsyndication.com/FTP/Campaign/Microsoft/Co_Op_Docs/FY12 DCCN Syndication Incentive Offer_OEM_FINAL .pptx"
                target="_blank">http://media.cnetcontentsyndication.com/FTP/Campaign/Microsoft/Co_Op_Docs/FY12
                DCCN Syndication Incentive Offer_OEM_FINAL .pptx</a>
        </td>
    </tr>
</table>
