﻿/*
#dnn_ContentPane ,#dnn_ContentPane td,#dnn_ContentPane input,#dnn_ContentPane a,#dnn_ContentPane h1,#dnn_ContentPane div,#dnn_ContentPane textarea
{
    font-family: Segoe UI Light,Segoe UI,Arial,Helvetica,Verdana,Sans Serif !important;
    font-size: 12px !important;
}
*/

* {
    margin: 0 auto;
    outline: medium none;
}
.pos-relative { position: relative; }
#dnn_ContentPane h1 
{
    font-size: 16px !important;
}

/*** content type tiles ***/
div.content-type-container {display:block;float:left;margin: 5px;min-width: 120px;}
div.content-type-container a 
{
    background-color:#00AEEF;
    height:100px;display:block;
    padding:7px 15px 15px 15px;
}
div.content-type-container a:hover 
{
    background-color: #0054A6;
}
div.content-type-container a span 
{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 100;
    line-height: 36px;
    margin: 10px 0 30px;    
}
div.clear {clear:both;}

/*****************/
.fields-wrapper {}
.form-item {display:block;clear:both;}
.form-item label { width: 200px; }
.form-item .form-text {width: 300px;}
.form-item .float-left {float:left;}

/****************/
table.edit-table {width:100%; background-color:#efefef;padding:5px;}
table.edit-table tr {}
table.edit-table th {text-align:right;}
table.edit-table td {padding:2px 3px;}
td.edit-table-label {width: 100px;}
td.edit-table-label label { font-weight: bold;}

/*** toolbar ***/
div.toolbar-container 
{
    background: none repeat scroll 0 0 #F4F4F4;
    min-height: 48px;    
}
div.toolbar 
{
    background-color: #F4F4F4;
    border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    padding: 0 8px;
}
div.property-toolbar 
{
    display:block;
    margin:5px 0;
}
/** breadcrumb **/
div.content-type-breadcrumb {margin: 10px 20px;}
/*** translation ***/
table.translation-table{width:100%;background-color: #f9f9f9;}
table.translation-table tr.even {background-color: #f4f4f4;}
table.translation-table tr.even input,table.translation-table tr.even textarea {background-color: #f9f9f9;}
table.translation-table tr.odd {}
table.translation-table td.label {font-weight:bold;text-align:right;vertical-align:top;width:50px;padding: 0 5px;}
table.translation-table td.field {}

/*** others ***/
UL LI {list-style-type:none !important;}
input.rgFilterBox {width:75%;}
.page-margin-5 {margin: 5px;}
.page-padding-5 {padding: 5px;}
.search-image {vertical-align:middle;}
div.content-field-group 
{
    background-color: #EFEFEF;
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px #CCCCCC;
    margin: 10px;
    padding: 10px;
}

div.cmsNavigation {
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px #CCCCCC;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
}
.csp-nav-title {
    font-weight: bold;
    padding: 5px 0 10px;
}
.cmsNavigation table td {
    padding: 0 15px;
}
.contentGridContainer {
    margin: 20px auto;
    width: 90%;
}
.contentGridContainer .RadGrid {
     border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px #CCCCCC;
}
.content-field-group .RadEditor,.content-field-group .RadUpload {
    float: left;
}

/** relation **/
table.add-relation-table {}
table.add-relation-table td.relation-label {width: 200px;}
/*
.ruFileInput 
{
    font: 500px monospace !important;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    padding: 0;
    margin: 0;
    cursor: pointer;
    right: 0; top: 0;
    z-index: 1;
}
ul.ruInputs
{
    padding:0;
}*/

.ajax-loading-panel
{
	position:fixed;
	z-index:3;
	top:0;
	left:0;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
#mainContainerPanel,#mainContainer {
	min-height: 530px;
}
.RadTabStrip .rtsOut, .RadTabStripVertical .rtsOut {
    text-transform: capitalize;
}
.content-field-group iframe body {
    background-color: #fff;
    width: 90%;
    height: 290px;
}
.commandBlock {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px #CCCCCC;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.content-field-group .RadUpload {
    width: 250px;
}
.cbcobranded-upload {
    padding-top: 2px;
}
.cbcobranded-upload input {
    vertical-align: top;
}
.cbcobranded-upload span {
    vertical-align: middle;
}
.hide {
    display: none;
}
.usecobranded-cb-wraper {
    margin: 10px;
}
.cancel-search {
    background: url("images/x-icon.png") center center no-repeat;
    height: 22px;
    width: 22px;
    margin-left: -5px;
    border: 1px solid #ccc;
    border-left: none;
    cursor: pointer;
    vertical-align: middle;
    padding: 0px;
}

.commandBlock .riTextBox,.commandBlock .riTextBox:hover {
    background-color: transparent;
    border: 1px solid #ccc !important;
    border-right: none !important;
    padding: 2px 0 !important;
    height: 22px !important;
}

/* Language Dropdown List In EditContent Page */
.rcb-lang { position: absolute;right: 10px;top: 9px; }

/* Custom Confirm Window in EditContent Page */
.cr-custom-confirm .rwTopLeft, 
.cr-custom-confirm .rwTopRight, 
.cr-custom-confirm .rwTitlebar, 
.cr-custom-confirm .rwFooterLeft, 
.cr-custom-confirm .rwFooterRight, 
.cr-custom-confirm .rwFooterCenter, 
.cr-custom-confirm .rwTopResize, 
.cr-custom-confirm .rwStatusbar div, 
.cr-custom-confirm .rwStatusbar, 
.cr-custom-confirm .rwPopupButton, 
.cr-custom-confirm .rwPopupButton span, 
.cr-custom-confirm .rwMinimizedWindow .rwCorner,
.cr-custom-confirm .rwBodyLeft, 
.cr-custom-confirm .rwBodyRight, 
.cr-custom-confirm .rwStatusbarRow .rwCorner,
.cr-custom-confirm td.rwWindowContent {
	background: none;
	background-image: none !important;
	background-color: transparent !important;
}
.cr-custom-confirm .rwControlButtons a { background-image: none !important; background: url("images/wd-confirm-close.png") no-repeat scroll center !important; }
.cr-custom-confirm { background: url("images/wd-confirm-bg.png") repeat-x scroll top left !important;border-radius: 4px;box-shadow: 0px 0px 2px #000; }

/* Save Options */
.cr-custom-confirm a.rwIcon {background-image: none !important; background: url("images/icon-save-s.png") no-repeat scroll center !important;height: 18px; }
#msg-save-options {margin: 20px 20px 0px 20px; padding: 20px 0px 20px 40px;background: url("images/icon-save-l.png") no-repeat scroll left center; }
#save-options-btn { text-align: center;padding: 20px 0px 0px 0px;}

.cr-save-confirm a.rwIcon, .cr-saveback-confirm a.rwIcon, .cr-clone-confirm a.rwIcon, .cr-publishall-confirm a.rwIcon, .cr-unpublishall-confirm a.rwIcon, .cr-clonemainlang-confirm a.rwIcon {background-image: none !important; background: url("images/icon-warning-s.png") no-repeat scroll center !important;height: 18px;width: 20px; }

/* Save Confirm Before Changing Lang */
#msg-save-confirm {margin: 20px 20px 0px 20px; padding: 20px 0px 20px 40px;background: url("images/icon-warning-l.png") no-repeat scroll left center; }
#save-confirm-btn { text-align: center;padding: 20px 0px 0px 0px;}

/* Save Confirm Before Going Back */
#msg-saveback-confirm {margin: 20px 20px 0px 20px; padding: 20px 0px 20px 40px;background: url("images/icon-warning-l.png") no-repeat scroll left center; }
#saveback-confirm-btn { text-align: center;padding: 20px 0px 0px 0px;}

/* Clone Notification */
#msg-clonelang-confirm {margin: 10px 20px 0px 20px; padding: 20px 0px 20px 50px;background: url("images/icon-warning-l.png") no-repeat scroll left 20px; }
#langlist-wrapper { padding: 20px 0px 0px; }
#clonelang-confirm-btn { text-align: center;padding: 0px;}
#cbCloneSrcLang { width: 200px; }

/* Saved Notification */
.custom-saved-notification .rnTitleBarIcon img, .custom-saved-notification .rnContentIconClip { display: none; }
.custom-saved-notification .rnTitleBarIcon { background: url("images/icon-success-16x16.png") no-repeat scroll top left; }
.custom-saved-notification .rnContentIconClipIn { background: url("images/icon-success-32x32.png") no-repeat scroll center; }

/* Publish All Confirmation */
#msg-publishall-confirm {margin: 20px 20px 0px 20px; padding: 20px 0px 20px 40px;background: url("images/icon-warning-l.png") no-repeat scroll left center; }
#publishall-confirm-btn { text-align: center;padding: 20px 0px 0px 0px;}

/* UnPublish All Confirmation */
#msg-unpublishall-confirm {margin: 20px 20px 0px 20px; padding: 20px 0px 20px 40px;background: url("images/icon-warning-l.png") no-repeat scroll left center; }
#unpublishall-confirm-btn { text-align: center;padding: 20px 0px 0px 0px;}

/* Clone Content Main Confirmation */
#msg-clonemainlang-confirm {margin: 10px 50px 0px 50px; padding: 20px 0px 20px 40px;background: url("images/icon-clone.png") no-repeat scroll left center; }
#newmaintitle-wrapper { margin: 0px 50px; }
#label-newmainid { display: inline-block;zoom: 1;*display: inline;padding: 0px 5px 0px 0px; }
#new-contentmain-title { width: 170px; }
#clonemainlang-confirm-btn { text-align: center;padding: 20px 0px 0px 0px;}

#secondToolbar { display: none;}

    