﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Coder Rental - Object Detection Demo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/swfobject.js")
    @Scripts.Render("~/Scripts/html2canvas.js")
    @Scripts.Render("~/Scripts/jwplayer.js")
    
    
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
