﻿.crosslink_container a.cross_link{
    background-color: #00AEEF;
    display: block;
    height: 100px;
    padding: 7px 15px 15px;
	color: #FFFFFF;
    font-size: 18px;
    font-weight: 100;
    line-height: 36px;

}

.crosslink_container a.cross_link:hover{
text-decoration:underline;
}

.crosslink_container{
display: block;
    float: left;
    margin: 5px;
    width: 160px;
    border: 2px solid #CCCCCC;
}
.clear {
    clear: both; 
}