﻿.clear, .csp-clear { clear: both; }

.hide { display: none; }

.pos-relative { position: relative; }

.error-msg {
	display: none;
	position: absolute;
	top: -2px;
	right: 0px;
	display: block;
	color: white !important;
	background: url(../images/errorbg.gif) no-repeat left center;
	text-shadow: 0px 1px 1px black;
	padding: 5px 20px;
}

img { border: none; }

ul, li {
	padding: 0px; margin: 0px;
}

/*Priyanka Edits*/

a { color: #00447C; }
a:visited  { color: #666666; }
a:hover    { color: #000000; }
p{
	font-family: 'PT Sans',Helvetica,Arial,sans-serif;
    font-size: 13px;
	font-style: normal;
	font-weight: normal;	           
}

h1{
	color: #00447C;
	/*line-height:normal;*/
	font-size:24px;
	font-weight: bold;
	margin: 0px 0px 12px 0px;
}

h2{	
	color: #00447C;
	margin: 0px 0px 6px 0px;
    line-height: 18px;
	font-size:18px;
	font-weight: bold;
}

h3{
	color: #00447C;
    font-size: 12px;
    font-weight: bold;
    margin: 0px 0px 3px 0px;
}
/*Priyanka Edits End*/

div#csp-wrapper {
	max-width: 660px;
	min-width: 330px;
	position: relative;
	margin: 0 auto;
	padding: 0px;
	vertical-align: top;
}

div#csp-wrapper * {
    font-family: 'PT Sans',Helvetica,Arial,sans-serif !important; 
}

div#csp-wrapper{
font-size: 14px;
}

div#csp-wrapper h3{
font-size: 14px;
}

.primary-heading{
	color: #00447C;
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;	
}

div#csp-top-section {
	position: relative;
	z-index: 2;
}

div#csp-logo {
	float: left;
}

div#csp-nav {
	border-top: none;
	float: right;
	/*width: 510px;*/
	width: 500px;
	margin-bottom: 10px;
	background: none;
}

div#csp-nav * {
	margin: 0 auto;
	padding: 0px;
}

div#csp-nav ul#main-nav {
    padding: 0px !important;
    overflow: hidden;
}

div#csp-nav li.root-item {
	list-style-type: none;
	float: left;
	background: none;
	height: 40px;
}

.main-nav-1 li.root-item {
	width: 100%;
}

.main-nav-2 li.root-item {
	width: 50%;
}

.main-nav-3 li.root-item {
	width: 33.33%;
}

.main-nav-4 li.root-item {
	width: 25%;
}

.main-nav-5 li.root-item {
	width: 20%;
}

.main-nav-6 li.root-item {
	width: 16.66%;
}

.root-item-title-editor {
	border: 1px solid #333;
}

div#csp-nav li.root-item a.root-item-link {
	
}

.root-item-title-editor {
	border: 1px solid #333;
}

div#csp-nav li.last-root {
	background: none;
	padding-right: 0px;
}

div#csp-nav li.root-item {
}

div#csp-nav li.root-item a.root-item-link {
	text-decoration: none;
	font-weight: bold;
	color: #00447C;
	display: block;
	text-align: center;
	font-size: 15px;
}

div#csp-nav li.root-item-hover a, 
div#csp-nav li.root-item a.root-item-link:hover, 
div#csp-nav li.selected a{
	background-color: #4D97D4;
	color: #FFF !important;
}

div#csp-nav li.root-item span.root-item-text {
	display: block;
	width: 100%;
	cursor: pointer;
}

div.sub-menu-wrapper {
	background-color: #4D97D4;
    cursor: default;
	left: 0px;
    padding-top: 1px;
    position: absolute;
    top: 40px;
	right: 77px;
    width: 660px;
	z-index: 1;
	display: none;
}

ul.sub-menu {
	margin-bottom: 20px;
    padding: 10px !important;
    text-align: left;
}

ul.sub-menu ul {
    padding: 0px !important;
}

ul.sub-menu li.sub-item {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top;
	list-style: none outside none;
	color: #FFF;
    font-size: 11px;
    line-height: 13px;
    
	width: 180px;
}

ul.sub-menu li.sub-item a {
	color: #FFF;
	text-decoration: none;
}

ul.sub-menu li.sub-item h2 {
	color: #FFF;
    font-size: 15px;
	font-weight: bold;
	background-color: #65A2D5;
    border-bottom: 1px solid #7CAED7;
	margin-bottom: 10px !important;
}

ul.sub-menu li.sub-item h2 a{
	background-color: transparent !important;
	display: block;
    padding: 5px !important;
}

ul.sub-menu li.sub-item h2 a:hover,
ul.sub-menu-detail li.ctmenu-item a:hover {
	background-color: #00447C !important;
}

li.sub-item div.menu-overlay-section li {
	color: #FFF;
    float: none;
    font-size: 13px;
    line-height: 13px;
    margin: 5px 0 0;
	list-style-type: none;
}

li.sub-item a {
	display: block;
	padding: 5px !important;
}

ul.sub-menu-detail li.ctmenu-item {
}

li.missing-content-small {
	background: url("../images/missing_content.png") no-repeat scroll right center;
	padding-right: 15px !important;
}

div#csp-banner {
	height: 300px;
	z-index: 0;
}

div#csp-homepage-header {
	width: 450px;
	position: absolute;
	right: 0px;
	top: 115px;
	padding: 25px 0px 0px 0px;
	z-index: 0;
}

div#csp-homepage-header * {
	text-align: right;
}

div#csp-homepage-header  h1 {
	color: #404040;
    font-size: 30px;
    font-weight: normal;
    padding-bottom: 15px;
}

div#csp-homepage-header  h2 {
	color: #666666;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}

div#csp-tout-area li {
	background-color: #EEE;
	border-left: 1px solid #CCC;
    float: left;
    min-height: 200px;
    padding: 5px;
    position: relative;
    width: 154px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

div#csp-tout-area a.csp-tout-title {
	text-decoration: none;
	color: #565656;
}

div#csp-tout-area a.csp-tout-title h2 {
	font-size: 15px;
    height: 50px;
    padding: 5px 0;
}

div#csp-tout-area a.csp-tout-title p {
	padding-top: 10px;
	font-size: 13px;
}

div#csp-tout-area div.csp-tout-figure {
	text-align: center;
}

div#tieBrandingFooter {
	text-align: right;
	padding: 5px 5px 5px 0px;
}

#csp-page-header {
	background: url("../images/double-border.gif") repeat-x scroll top left;
	padding-top: 4px;
}

/* Sub page { */
#csp-breadcrumb {
    color: #5F798F;
    font-size: 11px;
    padding: 10px 0px;
}

#csp-breadcrumb a {
	text-decoration: underline;
	color: #404040;
}

#csp-page-title {
    color: #404040;
    font-size: 30px;
	line-height: normal;
}

.header-category-title-editor {
	width: 610px;
	height: 27px;
}

div#csp-content {
	
}

div#csp-right-col {

}

div#csp-right-col div#page-banner, div#csp-right-col > div.feature {
	position: relative;
}

div#csp-right-col div.feature {
	overflow: hidden;
}

div.feature .feature-info {
    width: 250px;
	float: left;
	overflow: hidden;
}

div.feature .figure {
    float: right;
	width: 390px;
	overflow: hidden;
}

#csp-right-col #banner-main-text .media-subtitle {
	font-size: 14px;
	display: block;
	width: 200px;
}

#csp-right-col .lightbox {
	display: none;
}

div.csp-side-col {
    width: 155px;
}
div.csp-right-col {
    width: 495px;
	overflow: hidden;
	padding-top: 13px;
	padding-left: 10px;
}
div.csp-side-col, div.csp-right-col {
    float: left;
}

ul#side-col-list {
	padding: 0px;
}

.csp-sibling-items {
    margin-top: 18px;
    width: 155px;
}

.csp-sibling-items li {
	list-style-type: none;
    font-size: 11px;
    margin-bottom: 10px;
}

.csp-sibling-items li a {
    color: #00447C;
    display: block;
    font-weight: bold;
	font-size: 13px;
    padding: 2px 0;
    text-decoration: none;
}

.csp-children-items li {
	padding: 5px 0px;
	margin-bottom: 0px;
	border-bottom: 1px dashed #EEE;
}

.csp-children-items li a {
	font-size: 11px;
	padding-left: 10px;
}

.csp-sibling-items li a:hover, .csp-sibling-items li.selected > a {
	color: #009FC2;
}

.csp-right-col ul, .csp-right-col ol { padding: 10px 30px; }
.csp-right-col p { padding: 0px 0px 10px 0px; }
.csp-right-col ul li { padding: 5px 0px;}
.csp-right-col ol li {padding: 5px 0px;}

.csp-right-col p.title {
	color: #666666;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}
#csp-right-col table{
	border: none;
	width: 100%;
}
#csp-right-col table tr{
   vertical-align: top;
}
#csp-right-col table tr td{
	padding: 6px;
}
#csp-right-col table.table-middle-align tr{
	vertical-align:middle;
}
#csp-right-col table.table-border{
	border: 1px solid;
}

div#sub-category-blocks {
	padding-top: 20px;
	border-top: 3px solid #EEE;
}

#sub-category-blocks .sub-category-block {
	float: left;
	overflow: hidden;
}

#sub-category-blocks .sub-category-block  .sub-category-block-figure {
	display: block;
	padding: 0px 5px;
	overflow: hidden;
}

#sub-category-blocks .sub-category-block  h2 {
	margin: 5px 0px;
	padding: 0px 5px;
}

#sub-category-blocks .sub-category-block  p {
	margin: 0px;
	padding: 0px 5px;
}
/* } EOF Sub page */

.RadMenu_Context { z-index: 99999 !important; }

.RadEditor td.reWrapper_corner,
.RadEditor td.reWrapper_center,
.RadEditor td.reToolZone,
.RadEditor td.reLeftVerticalSide,
.RadEditor td.reTlbVertical,
.RadEditor td.reRightVerticalSide,
.RadEditor td.reToolZone td,
.RadEditor td.reToolCell,
.RadEditor td.reContentCell {
    padding: 0px !important;
}

.reContentCell, .reContentCell iframe, iframe body {
    background-color: #FFFFFF !important;
}

#wdCategoryEditForm td {
	padding-bottom: 5px;
}

.un-published {
	color: #ff8686 !important;
}

.inactive-item {
	color: #999 !important;
}

/*
.sub-menu .ctmenu-item {
	padding: 2px 0px !important;
}

.sub-menu .ui-sortable-placeholder {
	padding: 2px 0px !important;
	border: 1px dashed #999 !important;
}
*/

.ui-sortable-helper a {
	cursor: move !important;
}

.RadWindow {
	z-index: 99999 !important;
}
.RadWindow li {
	list-style-type: none;
}

#side-controls-menu ul {
	display: none;
}

#wdBannerFileMan {
	background-color: #FFFFFF;
    border: 1px solid;
    padding: 30px 5px 5px;
    position: absolute;
    z-index: 99999;
}

#wdBannerFileMan .k-window-titlebar {
	width: 540px;
}

#wdBannerFileMan .k-window-titlebar .k-window-actions {
	right: 0px;
}

#sci-addpagebanner {
	background: url("../images/window.png") no-repeat scroll left center transparent;
}
.rich-text ul li, .section-sub-topic ul li {
    list-style-type: disc;
    margin: 0 0 0 15px;
}

.rich-text .content-img {
    float: right;
    padding: 0 0 5px 5px;
}

#cspContactButton {
    background-color: #4D97D4;
	color:#ffffff;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 2px 2px 2px #AAAAAA;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 20px 0 0;
    padding: 10px;
    text-align: center;
    width: 120px;
}

#cspContactButton  a{
	color:#ffffff;
    text-decoration:none;
}

@media (max-width: 480px) {
	div#csp-top-section {
		min-width: 400px;
	}
	
	ul#main-nav {
		overflow: visible;
	}
	
	div#csp-nav {
		width: 400px;
	}
	
	div#csp-nav li.root-item {
		width: 400px;
		min-height: 40px;
		height: auto;
		float: none;
	}
	
	div#csp-nav li.root-item-hover a, div#csp-nav li.root-item a.root-item-link:hover, div#csp-nav li.selected a {
		text-shadow: 0.5px 0.5px 1.5px #333;
	}
	
	ul.sub-menu-detail {
		display: none;
	}
	
	.sub-menu-wrapper {
		position: relative !important;
		top: 0px !important;
		left: 0px !important;
		width: 400px !important;
	}
	
	.sub-item {
		width: 380px !important;
		padding-right: 0px !important;
	}
	
	#sub-category-blocks .sub-category-block {
		width: 400px !important;
	}
	
	#sub-category-blocks .sub-category-block .sub-category-block-figure {
		text-align: center;
		float: left;
	}
	
	#sub-category-blocks .sub-category-block .sub-category-block-figure img {
		width: 200px;
	}
	
	#page-banner img {
		width: 400px !important;
	}
	
	#csp-side-col {
		position: relative;
		width: 400px;
		min-height: 60px;
		padding-top: 10px;
	}
	
	#mobile-left-col-trigger {
		display: block;
		cursor: pointer;
		background: url("../images/side-menu-icon-blue.png") no-repeat;
		width: 30px;
		height: 30px;
	}
	
	#side-col-list {
		display: none;
		margin-top: 5px !important;
	}
	
	#side-col-list li {
		width: 400px;
		margin: 0 !important;
		background-color: #4D97D4;
	}
	
	.csp-sibling-items li a {
		color: #FFF;
		font-weight: normal;
	}
	
	.aside-menu-item {
		padding: 10px !important;
		border-bottom: 1px solid #FFF;
	}
	
	.aside-menu-item:hover {
		color: #FFF !important;
		text-shadow: 0.5px 0.5px 1.5px #333;
		
	}
	
	#cspContactButton {
		position: absolute;
		right: 0px;
		top: 0px;
		margin: 0 !important;
	}
	
	.csp-right-col {
		padding-left: 0px !important;
		width: 400px !important;
	}
}
	