* {
	margin: 0 auto;
	padding: 0;
	outline: none;ie-dummy: expression(this.hideFocus=true);
}

.clear { clear: both; }

body {
	font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
	background-color: #FFF;
}

div#wrapper {
	width: 960px;
	box-shadow: none;
}

div#login-page {
	width: 960px;
	height: 630px;
	background: url("Images/login-page-bg.png") no-repeat scroll top left;
}

div#login-page div#left-pane {
	width: 542px;
	float: left;
	height: 630px;
	overflow: hidden;
	position: relative;
}

div#login-page div#left-pane div#logo {
	padding: 10px 0px 0px 10px;
	display: none;
}

div#login-page div#left-pane .DnnModule-Authentication {
	position: absolute;
	bottom: 0px;
	left: 10px;
	width: 521px;
	height: 163px;
	padding-top: 38px;
	background: url("Images/login-box-bg.png") no-repeat scroll top center;
}

div#login-page div#left-pane .dnnFormItem label {
	display: block;
	text-align: left;
	width: 451px;
}

div#login-page div#left-pane .loginContent .dnnLoginService, div#login-page div#left-pane .loginContent .dnnLoginRememberMe {
	padding: 0px 0px 0px 70px; 
}

div#login-page div#left-pane .loginContent .dnnLoginService {
	position: relative;
	width: 451px;
}

div#login-page div#left-pane .loginContent .dnnLoginService p {
	position: absolute;
	left: 355px;
	bottom: -2px;
}

div#login-page div#left-pane .loginContent .dnnLoginService p  a, div#login-page div#left-pane .loginContent .dnnLoginService p input {
	display: block;
	background-color: #00447c;
	background: #00447c;
	padding: 7px 30px;
	text-decoration: none;
	color: #FFF;
	text-shadow: 1px 1px 1px #000;
	margin: 0;
	filter: none;
	margin-left: 0;
}

div#login-page div#left-pane .loginContent .dnnLoginService p input {
	border: 0;
	
	cursor: pointer;
}

div#login-page div#left-pane .loginContent .dnnLoginService .dnnFormItem input {
	width: 247px;
	height: 23px;
	border: 1px solid #AAA;
	background: url("Images/login-input-bg.png") no-repeat scroll top left;
	padding: 0px 5px;
	margin: 0;
}

div#login-page div#left-pane .loginContent .dnnLoginRememberMe {
	padding-top: 10px;
}

div#login-page div#left-pane .loginContent .dnnLoginRememberMe label {
	position: relative;
	top: -2px;
}

div#login-page div#left-pane .loginContent .dnnLoginActions {
	position: relative;
	display: block;
	width: 100%;
}

div#login-page div#left-pane .loginContent .dnnLoginActions ul {
	position: absolute;
	right: 65px;
	top: 10px;
	border: none;
	margin: 0;
	padding: 0;
}

div#login-page div#left-pane .loginContent .dnnLoginActions ul li {
	float: left;
	list-style-type: none;
	padding: 0px 5px;
}

div#login-page div#left-pane .loginContent .dnnLoginActions ul li a {
	text-decoration: none;
	color: #000;
	line-height: 1;
	padding: 0;
	margin: 0;
}

div#login-page div#left-pane .loginContent .dnnLoginActions span.reg-sep {
    float: left;
}

div#login-page div#right-pane {
	width: 418px;
	float: right;
	height: 630px;
	overflow: hidden;
	background-color: #00447c;
}

div#login-page div#right-pane #misc-left {
	padding: 30px 30px 0px 30px;
	height: 45px;
	display: block;
	z-index: 1;
}

div#login-page div#right-pane #misc-left ul li {
	list-style-type: none;
}

div#login-page div#right-pane #misc-left a {
	display: block;
}

div#login-page div#right-pane #misc-left .misc_global { 
	background: url("Images/white-symbol-earth.png") no-repeat scroll center;
	width: 32px;
	height: 32px; 
}

div#login-page div#right-pane #misc-left .misc_home { 
	background: url("Images/white-symbol-home.png") no-repeat scroll center;
	width: 37px;
	height: 32px; 
}

div#login-page div#right-pane #misc-left .misc_help { 
	background: url("Images/white-symbol-question-mark.png") no-repeat scroll center;
	width: 32px;
	height: 32px; 
}

#fake-lang-list-outer {
	background: url("Images/lang_list_pointer.png") no-repeat scroll 14px 0 transparent !important;
}

#fake-lang-list {
	background-color: #FFF !important;
}

#fake-lang-list li a {
	color: #940435 !important;
	background-color: #FFF !important;
}

#fake-lang-list li a:hover {
	text-decoration: underline;
}

#fake-lang-list li a:hover, #fake-lang-list li a.MDMLang-Selected {
	 color: #FFF !important; 
	 background-color: #940435 !important;
}

div#login-page div#right-pane div#cspHTMLModule-content {
	margin-top: 30px;
	padding: 0px 30px;
}

div#login-page div#right-pane div#cspHTMLModule-content * {
	color: #FFF;
}

div#login-page div#right-pane div#cspHTMLModule-content h2 {
	font-weight: normal;
	font-size: 20px;
}

div#login-page div#right-pane div#cspHTMLModule-content p {
	line-height: 1.3;
	padding-top: 20px;
}
.dnnFormMessage {
    border-radius: 3px 3px 3px 3px;
    line-height: 1.4;
    margin: 0.5em 1em;
    padding: 10px 10px 10px 40px;
}

.dnnFormValidationSummary {
    border: 2px solid #DF4A40;
    color: #990000;
    text-shadow: 0 1px 1px #FFFFFF;
    width: 304px;
	position: absolute;
	top: -55px;
	left: 60px;
	box-shadow: 0px -3px 4px #000;
}

/* OverRide Default.css { */
.dnnForm {
	min-width: 200px;
	width: 100%;
}

.dnnFormItem input, .dnnFormItem .dnnFormInput {
	box-shadow: none;
}

.LoginPanel {
	padding-right: 0;
	width: 521px;
}

.dnnForm .dnnFormItem {
	padding: 0;
}

.dnnProfile {
	position: absolute;
	top: -300px;
	background-color: #fff;
	box-shadow: 1px 1px 3px #000;
	border-radius: 3px;
}

.dnnProfile textarea.dnnFormRequired {
	width: 505px !important;
}

.dnnProfile .dnnTooltip {
	overflow: hidden;
}
/* } EOF OverRide Default.css */

/* Auto Login Button { */
.LoginTabGroup {
	display: none;
}
/* } Auto Login Button */