﻿#forgot-pwd-section { width: 555px; border-radius: 4px;margin: 0 auto; padding-top: 10px; border: 1px solid #ccc; }
#forgot-pwd-section * { font-family: 'lucida grande',tahoma,verdana,arial,sans-serif; }
#forgot-pwd-section-label { border-bottom: 1px solid #CCC;margin: 0px 20px;padding: 0px 0px 10px 0px; }
#forgot-pwd-section-label h2 { line-height: 20px; min-height: 20px; padding-bottom: 2px; vertical-align: bottom; color: #1c2a47;font-size: 16px;margin: 0px; outline: medium none;font-weight: bold; }

#forgot-pwd-section-form { width: 330px;padding: 30px 0px 50px 0px;margin: 0 auto; }
#username-label, #username-input { padding: 5px 0px 5px 35px; }
#username-input { background: url(../images/user_32.png) no-repeat scroll left center; }
#newpwd-label, #confirmpwd-label, #newpwd-input, #confirmpwd-input { padding: 5px 0px 5px 25px; }
#newpwd-input, #confirmpwd-input { background: url(../images/key_20x20.png) no-repeat scroll left center; }
#fps-username, #fps-newpasswod, #fps-confirmpassword { width: 255px; border: 1px solid #bdc7d8; }

#forgot-pwd-section-footer { background-color: #f2f2f2; border: 1px solid #ccc; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; line-height: 16px; border-bottom: medium none; border-left: medium none; border-right: medium none;text-align: right; }

.config-row { position: relative;padding: 5px 0px; }
.config-row .row-label { position: absolute;width: 300px;text-align: right;top: 9px;left: 0; }
.config-row .row-control { padding: 0px 0px 0px 310px; }
.config-row .row-control input { width: 300px; }

#config-man-msg { min-height: 20px;text-align: center;color: #FF0000; }

.reset-form { display: none; }