﻿.hide {
	display: none;
}

div#list-controls {
	text-align: right;
	height: 40px;
	position: relative;
}

div#list-controls-inner {
	display: inline-block;
	position: absolute;
	top: 8px;
	right: 158px;
}

div#list-controls-inner a {
}

div.list-button {
	height: 40px;
	width: 135px;
	float: left;
	margin-right: 159px;
}

div.list-button-text {
	font-size: 17px;
    padding-top: 9px;
	color: #383838;
	text-align: left;
}

div#btnGoActiveList {
	background: url("images/btnShowActive.png") no-repeat scroll right center;
	width: 163px;
}

div#btnGoAllList {
	background: url("images/btnShowAll.png") no-repeat scroll right center;
}

#delete-caption {
	background: url("images/warning-icon.png") no-repeat scroll left center;
	height: 30px;
	padding-top: 0px;
	padding-left: 35px;
	margin: 25px 0px;
}

#side-controls-menu {
	background: #32394a url("images/side-controls-menu-header-bg.png") repeat-x scroll top left; 
	width: 0px; 
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
}

#side-controls-menu ul {
	margin-top: 16px;
}

#side-controls-menu ul li {
	list-style-type: none;
	display: block;
	padding-bottom: 4px;
	padding-left: 6px;
	padding-right: 6px;
	background: url("images/side-controls-menu-line.png") repeat-x scroll bottom left;
	position: relative;
}

#side-controls-menu ul li a {
	color: #C4CCDA;
    display: block;
    font-size: 14px;
    /*height: 34px;
    line-height: 34px;*/
	padding: 10px 0px 10px 30px;
}

#side-controls-menu ul li .side-control-active {
	position: absolute;
	width: 13px;
	height: 13px;
	background: url("images/active-green.png") no-repeat;
	top: 10px;
	right: 10px;
	display: none;
}

a#sci-showactive {
	background: url("images/home.png") no-repeat scroll left center;
}

a#sci-showall {
	background: url("images/process.png") no-repeat scroll left center;
}

a#sci-newrootitem {
	background: url("images/folder_add.png") no-repeat scroll left center;
}

a#sci-addmissingcontents {
	background: url("images/new_page.png") no-repeat scroll left center;
}

a#sci-pageman {
	background: url("images/page_preview.png") no-repeat scroll left center;
}

a#sci-publishonfly {
	background: url("images/icon_on_the_fly.png") no-repeat scroll left center;
	padding: 10px 50px 10px 30px !important;
}

#sci-publishonfly-switch {
	background: url("images/pof_switch_on.png") transparent no-repeat scroll right center;
	height: 18px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 51px;
	cursor: pointer;
}

#sci-publishonfly-outter div.is-off {
	background: url("images/pof_switch_off.png") transparent no-repeat scroll right center !important;
}

#sci-broadcast {
	background: url("images/icon_broadcast.png") no-repeat scroll left center;
}

#sci-staging-list {
	background: url("images/icon_history.png") no-repeat scroll left center;
}

#sci-rollback-outter {
	position: relative;
}

#sci-rollback {
	background: url("images/icon_rollback.png") no-repeat scroll left center;
}

#WindowRollbackList {
	width: 600px;
	right: 0px;
}

#WindowRollbackList * {
	font-size: 11px !important;
}

#WindowRollbackList a {
	display: inline !important;
	color: #000 !important;
	padding: 0px !important;
}

#WindowRollbackList .cw-body-content {
	position: relative;
}

#WindowRollbackList div.k-grid-header .k-header {
	text-align: center;
}

#checkpoint-detail-outter {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.5;
	filter: alpha(opacity=50);
	display: none;
}

#checkpoint-detail {
	position: absolute;
	z-index: 2;
	width: 70%;
	height: 70%;
	top: 15%;
	left: 15%;
	background-color: #FFF;
	border-radius: 4px;
	display: none;
}

#checkpoint-detail-close {
	text-align: right;
}

#checkpoint-detail-close-trigger {
	position: relative;
	margin-top: -5px;
	margin-right: -5px;
	cursor: pointer;
}

#grid-checkpoint-detail {
	overflow: hidden;
}

#grid-checkpoint-detail .k-grid-content {
	height: 130px !important;
}

.reTool .AddCategoryLink {
	background-image: url("images/insert_link.png") !important;
}

.reTool .AddDocLink {
	background-image: url("images/Document-icon.png") !important;
}

.rtDropAbove, .rtDropBelow {
	z-index: 9999999;
}

.CustomWindow {
	position: absolute;
	z-index: 100;
	display: none;
	overflow: hidden;
}

.cw-top {
	background: url("images/mh-corner-tleft.png") no-repeat scroll top left;
}

.cw-top-right {
	background: url("images/mh-corner-tright.png") no-repeat scroll top right;
	padding: 0px 72px 0px 17px;
}

.cw-top-mid {
	background: url("images/mh-top-edge.png") repeat-x scroll top left;
	height: 29px;
	overflow: hidden;
}

.cw-body {
	background: url("images/mh-left-edge.png") repeat-y scroll top left;
	overflow: hidden;
}

.cw-body-right-edge {
	background: url("images/mh-right-edge.png") repeat-y scroll top right;
	padding: 0px 4px 0px 5px;
}

.cw-body-content {
	background-color: #fbf9f9;
}

.cw-bottom {
	background: url("images/mh-corner-bleft.png") no-repeat scroll bottom left;
}

.cw-bottom-right {
	background: url("images/mh-corner-bright.png") no-repeat scroll bottom right;
	padding: 0px 13px 0px 17px;
}

.cw-bottom-mid {
	background: url("images/mh-bottom-edge.png") repeat-x scroll bottom left;
	height: 16px;
	overflow: hidden;
}