﻿.cspReportTable
{
    border:solid 1px #000;
    padding: 5px;    
}
.cspReportTable .tbEven
{
    background: #eee none;
}

.cspReportTable .tbOdd
{
}

#CspReportTable td
{
    vertical-align:top;
    text-align: left;
}