#body-section #body-content #page-content {

}
.inactive{
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}
a{
	text-decoration:none;
}
#page-content{
	padding:20px 40px;
}
#description-text {
	float: left;
	width: 570px;
	height:70px;
}

#description-text h1 {
	font-size: 28px;
	padding: 3px 0px;
}

#description-block p {
	font-weight: bold;
}

#description-image {
	float: right;
	width: 270px;
	text-align: center;
	padding-top: 20px;
}
.btn-darkblue {
	padding:10px 40px ;
	float:right;
}
#company-link {
    background-color: #69BD46;
    margin: 30px 0;
    padding: 15px 10px;
    text-align: center;
}
#company-link a {
    color: #FFFFFF;
    display: block;
    font-size: 24px;
    margin: 0 auto;
}
.darkblue-text {
    color: #0E4C86 !important;
}


#detail-block {
	border-top:1px solid #cfdbe7;
	overflow:hidden;
}
#detail-block h2{
	font-size:18px;
}
#detail-block p{
	padding-right:50px;
	font-weight:bold;
	font-size:14px;
}
#detail-block-left{
	height:500px;
	width:49%;
	float:left;
	border-right:1px solid #cfdbe7;
	padding: 20px 0 0 10px;
}
#detail-block-list {
	padding:0;
}
#detail-block-list li {
	list-style-type: none;
	overflow: hidden;
	padding: 20px 60px;
}
#detail-block-list li  a{
	font-size:15px;
	font-weight:bold;
}
#detail-block-right{
	width:47%;
	padding-top: 20px;
	float:right;
}
#detail-campaign{
	background: url("../images/subscribe-file.png") no-repeat left center;
	display:none;
}
#detail-email{
	background: url("../images/subscribe-email.png") no-repeat left center;
}
#detail-guide{
	background: url("../images/subscribe-box.png") no-repeat left center;
	display:none;
}
a:hover {
    text-decoration: none;
}