#body-section #body-content #page-content {

}

#description-text {
	float: left;
	width: 570px;
	padding-left: 30px;
}

#description-text h1 {
	font-size: 26px;
}

#description-text p {
	font-weight: bold;
}

#description-image {
	float: right;
	width: 325px;
	text-align: center;
	padding-top: 20px;
}

#detail-toggle {
	padding: 0px 0px 0px 40px;
}

#detail-toggle #detail-toggle-link {
	text-decoration: none;
	background: url("../images/icon-expand.png") no-repeat scroll left center;
	padding: 3px 0 2px 20px;
	font-weight: bold;
}

#detail-toggle .icon-collapse {
	background: url("../images/icon-collapse.png") no-repeat scroll left center !important;
}

#detail-block {
	padding: 30px 0px;
}

#detail-block-list {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

#detail-block-list li {
	list-style-type: none;
	float: left;
	width: 260px;
	overflow: hidden;
	padding: 0px 20px;
}

#detail-block-list li .block-title {
	overflow: hidden;
	min-height: 150px;
}

#detail-block-list li .block-title h2 {
	margin-top: 0px;
}

#detail-block-list li .block-title img {
	padding: 0px 10px;
}

#detail-block-list li .block-title p {
	font-size: 13px;
}

#detail-block-list li .block-guideline {
	padding-left: 20px;
}

#detail-block-list li .block-guideline ul {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	width: 256px;
}

#detail-block-list li .block-guideline ul li {
	list-style-type: none;
	
}

#detail-block-list li .block-guideline ul#guideline-logo-detail li {
	background: url("../images/guideline-logo-detail-decor.png") no-repeat scroll top left;
	padding: 0px 0px 10px 40px;
	width: 216px;
}

#detail-block-list li .block-guideline ul#guideline-banner-detail li {
	background: url("../images/guideline-banner-detail-decor.png") no-repeat scroll top left;
	padding: 0px 0px 10px 35px;
	width: 221px;
}

#detail-block-list li .block-guideline ul#guideline-banner-detail ul {
	overflow: hidden;
}

#detail-block-list li .block-guideline ul#guideline-banner-detail ul li {
	background: url("../images/guideline-banner-sub-detail-decor.png") no-repeat scroll left center;
	padding: 0px;
	float: left;
	width: 100px;
	padding-left: 10px;
	font-size: 11px;
}

#detail-block-list li .block-guideline ul#guideline-content-detail li {
	background: url("../images/guideline-content-detail-decor.png") no-repeat scroll top left;
	padding: 0px 0px 10px 35px;
	width: 221px;
}

.server-message {
	background-color: #EEEEEE;
    border: 1px solid #FF0000;
    color: #FF0000;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    width: 99%;
}