#body-section #body-content #page-content {

}
.inactive{
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}
#description-text {
	float: left;
	width: 570px;
	padding-left: 30px;
}

#description-text h1 {
	background: url("../images/page-logo-icon-upload.png") no-repeat scroll left center;
	font-size: 26px;
	padding: 3px 0px 3px 50px;
}

#description-text p {
	font-weight: bold;
}

#description-image {
	float: right;
	width: 325px;
	text-align: center;
	padding-top: 70px;
}
#detail-block {
	padding: 30px 0px;
}

#detail-block-list {
	padding-left: 30px;
	margin: 0px;
	overflow: hidden;
}

#detail-block-list li {
	list-style-type: none;
	float: left;
	overflow: hidden;
	padding: 0px 10px;
}

#detail-block-list li .block-guideline {
	padding-left: 20px;
}

#detail-block-list li .block-guideline ul {
    margin: 0;
    padding: 0;
    width: 200px;
}

#detail-block-list li .block-guideline ul li {
	list-style-type: none;
	
}

#detail-block-list li .block-guideline ul#guideline-logo-detail li {
	background: url("../images/guideline-logo-detail-decor.png") no-repeat scroll top left;
	padding: 0px 0px 10px 40px;
	width: 216px;
	font-size:12px;
	margin-top:5px;
	width:170px;
}
#detail-block-list li .block-guideline ul#guideline-banner-detail ul {
	overflow: hidden;
}

#detail-block-list li .block-guideline ul#guideline-banner-detail ul li {
	background: url("../images/guideline-banner-sub-detail-decor.png") no-repeat scroll left center;
	padding: 0px;
	float: left;
	width: 100px;
	padding-left: 10px;
	font-size: 11px;
}

#detail-block-list li .block-guideline ul#guideline-content-detail li {
	background: url("../images/guideline-content-detail-decor.png") no-repeat scroll top left;
	padding: 0px 0px 10px 35px;
	width: 221px;
}
#detail-block-list li .block-guideline h2{
	margin:0;
	font-size:18px;
}
#detail-block-list .company-logo-img-inactive {
	background: url("../images/company-logo-inactive.png") no-repeat top left;
	width:104px;
	height:122px;
}
#detail-block-list .company-logo-img-active{
	background: url("../images/company-logo-active.png") no-repeat top left;
	width:104px;
	height:122px;
}
#detail-block-list #upload-company-logo{
	width:200px;
	height:90px;
	border: 2px dashed #449bc5;
	margin-top:10px;
}
#UploadPanel {
    padding: 40px;
	overflow: hidden;
}
ul li {
    list-style: none;
}
.banner-label {
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
    font-size: 15px;
}
.ruActions, .ruCheck {
	display: none;
}

#ie-radupload-content {
	text-align: center; 
	padding: 25px 0px 0px 55px;
}

#ie-radupload-content li {
	list-style: none;
}

li.ruUploading {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}