#body-section #body-content #page-content {
	min-height: 700px;
}

#description-text {
	float: left;
	width: 570px;
	padding-left: 30px;
}

#description-text h1 {
	background: url("../images/page-logo-icon-upload.png") no-repeat scroll left center;
	font-size: 26px;
	padding: 3px 0px 3px 50px;
}

#description-text p {
	font-weight: bold;
}

#description-image {
	float: right;
	width: 325px;
	text-align: center;
	padding-top: 70px;
}

#detail-block {
	padding: 10px 0px;
}

#page-guideline {
	min-height: 125px;
	background: url("../images/icon-zipfile-inactive.png") no-repeat scroll top left;
	padding-left: 130px;
	margin: 0px 30px;
}

.guideline-active {
	background: url("../images/icon-zipfile-active.png") no-repeat scroll top left !important;
}

ul#guideline-content-detail {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

ul#guideline-content-detail li {
	background: url("../images/guideline-content-detail-decor.png") no-repeat scroll top left;
	padding: 5px 15px 10px 35px;
	width: 330px;
	list-style-type: none;
	float: left;
	margin-bottom: 10px;
}

#content-upload-section {
	padding: 20px 30px 0px 30px;
}

#content-filename {
	background: url("../images/icon-up.png") no-repeat scroll left center;
	padding: 2px 0px 0px 30px;
	min-height: 22px;
	margin: -10px 0px 10px 0px;
	position: relative;
	display: none;
	width: 400px;
	overflow: hidden;
}

#content-upload-progress {
	margin-left: 50px;
	display: none;
}

#content-upload-progress #content-upload-progressbar {
	width: 400px;
	height: 22px;
	background-color: #d7d7d7;
}
#UploadPanel {
    padding: 40px;
	overflow: hidden;
}
ul li {
    list-style: none;
}
#content-banner {
    padding: 20px 30px;
}
#content-banner h2,#content-banner p {
    font-weight: bold;
}
#content-banner-images 
{
    margin: 30px 0 50px 0;
}
#tk_csp_TB_overlay {
	z-index: 902 !important;
}