#body-section #body-content #page-content {

}
.left{
	float:left;
}
.inactive{
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}
#description-text {
	float: left;
	width: 570px;
	padding-left: 30px;
}

#description-text h1 {
	background: url("../images/page-logo-icon-upload.png") no-repeat scroll left center;
	font-size: 26px;
	padding: 3px 0px 3px 50px;
}

#description-text p {
	font-weight: bold;
}

#description-image {
	float: right;
	width: 325px;
	text-align: center;
	padding-top: 70px;
}

#detail-block {
	padding: 30px 0px;
}

#detail-block-list {
	padding-left: 30px;
	margin: 0px;
	overflow: hidden;
}

#detail-block-list li {
	list-style-type: none;
	float: left;
	overflow: hidden;
	padding: 0px 5px;
}
#detail-block-list li .block-guideline {
	padding-left: 20px;
}

#detail-block-list li .block-guideline ul {
    margin: 0;
    padding: 0;
    width: 260px;
}

#detail-block-list li .block-guideline ul li {
	list-style-type: none;
	
}

#detail-block-list li .block-guideline ul#guideline-banner-detail li {
	background: url("../images/guideline-banner-detail-decor-bold.png") no-repeat scroll top left;
	padding: 0px 0px 10px 40px;
	width: 216px;
	font-size:12px;
	margin-top:5px;
	width:220px;
}
#detail-block-list li .block-guideline ul#guideline-banner-detail ul {
	overflow: hidden;
}

#detail-block-list li .block-guideline ul#guideline-banner-detail ul li {
	background: url("../images/guideline-banner-sub-detail-decor.png") no-repeat scroll left center;
	padding: 0px;
	float: left;
	width: 100px;
	padding-left: 15px;
	font-size: 11px;
	line-height:1;
}

#detail-block-list li .block-guideline ul#guideline-content-detail li {
	background: url("../images/guideline-content-detail-decor.png") no-repeat scroll top left;
	padding: 0px 0px 10px 35px;
	width: 221px;
}
#detail-block-list li .block-guideline h2{
	margin:0;
	font-size:18px;
}
#detail-block-list .upload-banners-inactive {
	background: url("../images/upload-banners-inactive.png") no-repeat top left;
	width:148px;
	height:128px;
}
#detail-block-list .upload-banners-active{
	background: url("../images/upload-banners-active.png") no-repeat top left;
	width:150px;
	height:124px;
}
#detail-banner{
	padding:30px;
	text-align:center;
	font-size:15px !important;
}
.dashed-blue{
	border: 2px dashed #449bc5;
}
#detail-banner-left{
	width:160px;
	height:600px;
	margin-right:50px;
	text-align:center;
}
#detail-banner-right{
	width:650px;
	text-align:center;
}
#detail-banner-center-top{
	width:300px;
	height:250px;
	margin-right:50px;
}
#detail-banner-right-top{
	width:143px;
	height:60px
}
#detail-banner-right-bottom{
	width:234px;
	height:60px;
	margin-top:40px;
}
#detail-banner-center{
	width:468px;
	height:60px;
	margin-top:40px;
}
#detail-banner-center-bottom{
	clear:both;
	width:180px;
	height:90px;
	margin-top:40px;
}
#detail-banner-right-top,#detail-banner-right-bottom,#detail-banner-center,#detail-banner-center-bottom{

}

.banner-label {
	position: absolute;
	top: 30%;
	width: 100%;
	text-align: center;
	font-size: 11px;
}

.banner-trigger {
	position: relative;
}

.delete-banner {
	position: absolute;
	width: 27px;
	height: 27px;
	background: url("../images/icon-delete-banner.png") no-repeat center;
	top: 10px;
	right: 10px;
	z-index: 10;
	display: none;
}

.ruActions, .ruCheck {
	display: none;
}

#ie-radupload-content {
	text-align: center; 
	padding: 25px 0px 0px 55px;
}

#ie-radupload-content li {
	list-style: none;
}

li.ruUploading {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}