﻿.dijitMenuPopup,.dijitDialog, .dojoxGridRowTable th {color: #000;}
.dojoxGridFDPaneAddCBoxBtnIcon {display:none;}
#dojox_grid_enhanced_plugins_filter_FilterDefPane_0 .dijitButtonDisabled {display:none;}
#dojox_grid_enhanced_plugins_filter_FilterDefPane_1 .dijitButtonDisabled {display:none;}

#appLayout{height: 700px;}
#gridContainer{height: 660px;}
#cptDialog{height:550px;width:500px;}
#cptDialog .cptDialogContainer {height: 460px;}
#notificationDialog{}
#updateDeepLinkUrlDialog{width:570px;}
#updateDeepLinkUrlDialog table {width:100%;}
#updateDeepLinkUrlDialog td {padding: 5px 0;}

#grid .dojoxGridRow 
{
    /*height: 50px;*/
    clear:both;
    display:block;   
}
#grid .dojoxGridHeader .dojoxGridRowTable
{
    height: 50px !important;
}

.pageOverlay {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1001;
    display: block;
}

#loadingOverlay
{
    background-position: 10px 23px;
    background: #fff no-repeat 10px 23px;
}

#loadingOverlay .loadingMessage {
    padding: 25px 40px;
    color: #999;
    border: 1px solid;
    left: 45%;
    position: absolute;
    top: 50%;
    width: 200px;    
}
:focus {
  outline: 0;
}

/*infobox*/
.infobox-title ,.infobox-info
{
    font-size:11px !important;
}
.dojoxGridContent{overflow:visible !important;}