﻿#dnn_ContentPane {
    font-family: 'Exo', serif;
    font-size: 15px;
}
.module_wrap {
   color: #0E4C86;
    margin: 10px 30px;
}
.module_heading {
    font-size: 28px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 10px 0 30px;
}
.dnnFormItem {
    padding: 10px;
}
.edit-form-label {
    float: left;
}
.row-odd {
    background-color: #F0F4F8;
}
.form-table-heading {
    border-bottom: 5px solid red;
}
.edit-form-wraper {
    width: 720px;
    margin: 0 10px;    
}
.heading-form-wraper {
    margin: 10px;
}
.edit-form-textbox {
    width: 200px;
}
.edit-form-table {
    width: 100%;
    color: #0e4c86;
}
.clear{ clear: both;}
.button-left {
    background: url("images/button-left.png") no-repeat scroll left top transparent;
}
.button-right {
    background: url("images/button-right.png") no-repeat scroll right top transparent;
    padding: 0 6px;
}
.button-mid {
    background: url("images/button-mid.png") repeat-x scroll left top transparent;
    height: 31px;
}
.button-text {
    color: #FFCB05;
    font-weight: bold;
    padding: 7px 30px 0;
    text-align: center;
}
.button, .button * {
    cursor: pointer;
    display: inline-block;
}
.module_wrap .rgMasterTable {
    font-family: "exo" !important;
    color: #0e4c86 !important;
    font-size: 13px !important;
}
.module_wrap .RadGrid_Default .rgHeader, .module_wrap .RadGrid_Default .rgHeader a{
   background-color: #F0F4F8;
    background-image: none;
    color: #0E4C86 !important;
    font-size: 13px !important;
    height: 35px;
    line-height: 35px;
    border-bottom-color: #C7D6E3 !important;
}
.module_wrap .RadGrid .rgWrap {
    color: #0E4C86 !important;
    font-family: exo !important;
    font-size: 13px !important;
}
.module_wrap .RadGrid_Default .rgFilterRow {
    background: none repeat scroll 0 0 #F0F4F8;
    height: 45px;
}
.module_wrap .RadGrid_Default .rgFilterBox {
    border-color: #B7CADB !important;
     font-family: "exo" !important;
    color: #0e4c86 !important;
}
.module_wrap .RadGrid .rgRow,.module_wrap .RadGrid .rgAltRow {
    height: 45px;
}
.module_wrap .RadGrid .rgAltRow {
    background: none repeat scroll 0 0 #F0F4F8 !important;    
}
.module_wrap .RadGrid_Default .rgFilterRow td, .module_wrap.RadGrid_Default .rgHeader {
    border-bottom-color: #c7d6e3 !important;
}
.module_wrap .RadGrid_Default {
    border: 1px solid #c7d6e3 !important;
}
.module_wrap .RadGrid_Default .rgFilter {
    background: url("images/filter-icon.png") center center no-repeat !important;
}
.command-button {
    border: none;
    font-size: 13px;
    font-weight: bold;
    color: #0e4c86;
    height: 20px;
    line-height: 20px;
    padding-left: 25px;
    cursor: pointer;
    margin-right: 35px;
}

.command-button-export, .command-button-exporttest {
    background: url("images/user-icon.png") center left no-repeat;
}
.command-button-remove {
    background: url("images/remove-icon.png") center left no-repeat;
}
html body .RadInput_Default .riTextBox {
    border-color: #B7CADB !important;
    color: #0E4C86 !important;
    font-family: "exo" !important;
}

.buttons-wrap {
    margin: 0 20px 15px;
}
.RadGrid_Default{
	overflow: auto;
    width: 900px !important;
}