﻿body 
{
    text-align:left !important;
}
.property_panel
{
}

.property_panel h1
{
    /*background:url(Images/background.png) repeat-x;*/
    font-size: 1.2em;
    width:100%;
    background-color: #ddd;
    /*padding:5px 0;*/
    height:26px;
    display:block;
    font-weight:bold;
}

.property_table tr td
{
    padding: 3px 0px 3px 5px;
}

.property_group  
{
    border: 1px solid #B8CBDE;
}
/*
.level4 {margin:20px;}
.level2 {margin:10px;}
.level1 {margin:5px;}
.level0 {margin:0px;}
*/

.property_field { width:350px !important;}      
.val_fail 
{
    background:url(Images/warning.png) no-repeat;
    height:16px;
    width:16px;
    display:block;
    float:left;
}
.val_pass
{
    background:url(Images/check.png) no-repeat;
    height:16px;
    width:16px;
    display:block;
    float:left;
}
.property_group_expand 
{
    background-position: 0 -181px;
    background-color: transparent;
    background-image: url("Images/Expandable.png");
    background-repeat: no-repeat;  
    display: block;
    float: right;
    height: 15px;
    margin: 5px 5px 0 0;
    width: 15px;      
}
.property_group_expand:hover
{
    background-position: 100% -181px;
}
.need_focus {background-color: #eee !important;}
.use_default {/*color: #ccc !important;*/}
.property_page_view 
{
    border-left: 1px solid #ccc;
    /*border-right: 1px solid #ccc;*/
    border-bottom:1px solid #ccc;
    padding:5px;
}
.notification {color: #000;}
.property_table {width:100%}
.property_header 
{
    background-color:#ccc;font-weight:800;
    -moz-border-radius: 5px;
    border-radius: 5px;                  
}
.child_group
{
    border: 1px solid #ccc;
    background-color: #eee;    
}
.level2
{
}