﻿body {
}
.containerModule {
    margin-bottom: 100px;
    overflow: hidden;
}
.rgPartnerModule {
    width: 900px;
    margin: 5px auto;
}
.headerModule {
    padding-left: 25px;
    margin-bottom: 2px;
}
.title {
    color: #2286C4;
    font-weight: bold;
    font-size: 25px;
}
.btnContainer {
    margin: 0 auto 20px;
    width: 903px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
.button {
    margin-left: 10px;
}
.RadGrid_Default .rgAltRow {
    background: none !important;
}

.RadGrid_Default .rgRow td, .rgRow td {
    border-color: #f2f2f2 !important;
}
.highlight {
     background-color: #afffef;
}
.highlight td {
    border-color:  #dddddd !important;
    border-style: solid;
    border-width: 0 0 1px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 3px;
    padding-top: 4px;
}
.header-link {
    border-bottom: 3px solid #b2b2b2;
    color: #2286c6;
    font-family: tahoma;
    font-size: 12px;
    margin-right: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}

.right.header-right {
    padding: 10px 0;
    margin-right: 35px;
}
.border-top {
    border-top: 1px solid #b2b2b2;
    margin-bottom: 20px;
}
.inactive a {
    color: #737373;
    font-weight: bold;
    font-family: tahoma;  
}
.inactive a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #2286c6;
}
.oldview-link {
    margin-right: 0 !important;
    margin-left: 20px !important;
}
.oldview-header {
    margin-top: 45px;
}