﻿/* asset main view */
.clear { clear: both; }
.hide { display: none;}
.main-pane-view {width: 928px; overflow: hidden;}
.csp-asset-detailwrapper { padding: 0px 10px !important; }
div.csp-assets{ padding: 10px 0px 10px 14px; }
div.csp-asset{padding-right:6px;height:210px;width:175px;float: left;}
.csp-clear{clear:both;display:block;}
div.csp-asset-title {font-weight: bold;padding:5px 0 10px 0;}
div.csp-asset-breadcrumb{font-size:1.1em;padding:20px;}
div.csp-asset-breadcrumb>a{text-decoration:underline;}
.csp-nav-panel {padding-top: 20px;}
.csp-nav{margin:0px auto;padding:0 !important; width:825px;}
.csp-nav li{float:left;padding-right: 30px;list-style: none none;}

.csp-asset a {position:relative;display:block;width:100%;}
.csp-asset a span.csp-asset-statusbar
{
    display:block;
    color:#fff;
    position:absolute;
    /*top:205px;*/
    top:115px;
    left:0;
    /*width:100%;*/
    width:175px;
    opacity:0.7;filter:alpha(opacity=70);
    padding:5px 0;
    background-color: #888;
    height:24px;
    z-index:0;
}
.csp-asset a span.csp-asset-indicators 
{
    position: absolute;
    display: block;
    /*top: 83%;*/
    top: 120px;
    z-index: 1;
    left: 5px;
}
.csp-asset-indicators img {width:24px;}
.csp-nav-container{text-align:center;}
.csp-nav-container>table
{
    margin: 0 auto;
    text-align:left;    
}

/* asset details*/
.asset-header h1 
{
    color:#006699;
    font-size:1.25em;
    margin-top: 0px;
}
.nav-asset-container 
{
    background-color:#000;
}
.nav-asset-title
{
    font-weight:bold;
    font-size: 1.25em;
    color: #fff;
	padding-left: 24px;
}
.csp-asset-panel
{
    padding: 10px 0;
}
.csp-asset-details
{
    display:block;
}
.asset-preview-image
{
    float:left;
    width:340px;
    padding-bottom: 5px;
}
.asset-content
{
    float:left;
    width:560px;
}
div.asset-buttons
{
	padding-left:40px;
}
div.asset-buttons ul
{    
    padding:0;
    margin:0;
}
div.asset-buttons ul li
{
    float: left;
    list-style: none outside none;
    margin: 15px 30px 15px 10px;
    /*min-width: 200px;*/
}
a.csp-button
{
    /*padding: 5px;*/
    border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 0 0 2px #555;
    -moz-box-shadow: 0 0 2px #555;
    -webkit-box-shadow: 0 0 2px #555;
    background-color: #ff9933;
    height: 35px;
    display: inline-block;
	zoom: 1;
	*display: inline;
    background-image: url("Images/asset-button-bg.png");
    background-repeat: repeat-x;
    vertical-align:middle;
    line-height: 33px;
    border: 1px solid #E5E5E5;
	position: relative;
}
.asset-buttons a.csp-button span {
	display: inline-block;
	zoom: 1;
	*display: inline;
	height: 33px;
	min-width: 190px;
	/*position: absolute;*/
	top: 0;
	left: 0;
	cursor: pointer;
    color: #fff;
}
.asset-buttons .rbLinkButton { padding: 0px !important; }
a.csp-button 
{
    font-weight: bold;
    font-size: 1.25em;
    color: #000;
}
a.csp-button:link,a.csp-button:visited,a.csp-button:active 
{
    text-decoration: none;
}

/*rorator*/
#rightButton,#leftButton{position:relative;top:46px;z-index:999;opacity:.5;filter:alpha(opacity=50);}
#rightButton:hover,#leftButton:hover{opacity:1;filter:alpha(opacity=100);}
#rightButton{float:right}
#leftButton{float:left;}
.rrClipRegion{}

/* upload screen */
div.asset-upload-container{display:block;width:640px;}
.upload-label
{
    font-weight:bold;
    font-size:1.25em;
}
.upload-field
{
    background-color: #fff !important;
    border: 1px solid #AAAAAA !important;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 1px 1px #EEEEEE inset;
    /*color: #F4793B;*/
    font-size: 1.2em !important;
    padding: 4px 5px !important;
    width:250px;
}
.upload-buttons ul li {margin:15px 5px !important; width:auto !important;list-style: none none;float:left;}
.upload-buttons a.csp-button {width:200px !important;}
#asset-upload-container .upload-field-label>div {width:150px;padding-top:4px;}
.csp-error {font-weight:bold;font-size:1.2em;color:#ff0000;padding-top: 10px;display:block;}
/* end of upload screen */

/* telerik override css*/
.rcbInput {color:#000;}
.rrItem{margin: 3px; list-style:none none;}
.rrClipRegion{border:0 !important;top: -50px;left: 20px;}
.rbLinkButton{color:#000 !important;}
.rrItem{cursor:pointer;}
.RadWindow_Metro .rwControlButtons a {background-color:#000 !important;}
.RadWindow_Metro .rwTopLeft, .RadWindow_Metro .rwTopRight, .RadWindow_Metro .rwTitlebar, .RadWindow_Metro .rwTopResize {background-color:#000 !important;}
.rbLinkButton{vertical-align:baseline !important;}
.RadSlider_Metro .rslHorizontal a.rslHandle{background-image: url('Images/white-pager.gif') !important;}
#carousel-pagination .RadDataPager_Metro {background-color:transparent !important;border: none !important;height: 72px !important;}
#carousel-pagination .RadDataPager_Metro .rdpSliderLabel {color:White;}
a.RadButton_Metro.rbLinkButton:hover{border: 1px solid #E5E5E5;background-color:inherit;}

/*kendo*/
#kWin{overflow:hidden;}
.ajax-loading-panel
{
	position:fixed;
	z-index:3;
	top:0;
	left:0;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
#carousel-pagination {
	/*background: url('images/slide_footer_bg.png') top left repeat-x;*/
	background: url("Images/black_bg.png") repeat !important;
	display: block;
	height: 72px;
	text-align: center;
	width: 928px;
	float: left;
    margin-bottom: 0px !important;
}
.RadDataPager, .csp-no-asset { background: url("Images/black_bg.png") repeat !important;border: none !important; }
.csp-no-asset { text-align: center;padding: 10px 0px;color: #FFF;margin-top: 20px; }
#carousel-pagination .rdpNumPart {
    line-height: 72px !important;
    float: none !important;
}
#carousel-pagination .RadDataPager .rdpNumPart a {
    float: none !important;
    line-height: 72px !important;
    background: none repeat scroll 0 0 #333333;
    border: 1px solid #4F4F4F;
    border-radius: 12px 12px 12px 12px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    line-height: 72px;
    margin: 0 10px;
    padding: 2px 5px;
}
#carousel-pagination .RadDataPager .rdpNumPart a.rdpCurrentPage span {
    color: #5DB0E6;
    font-weight: bold;
	background: transparent;
}
.rdpNumPart a:hover span, #carousel-pagination .RadDataPager .rdpNumPart a:hover span { background: transparent !important; }

#carousel-pagination .RadDataPager .rdpNumPart span {
     float: none !important;
    padding: 0 !important;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    line-height: 72px;
    background: transparent;
}

/* Override styles of left, right edge & bottom */
#crcontentwrap_left {
	background: url("Images/left_shadow_black.png") repeat-y !important;
	width: 9px !important;
}
#crcontentwrap_right {
	background: url("Images/right_shadow_black.png") repeat-y !important;
	width: 9px !important;
}
#crcontentwrap_bottom {
	background: url("Images/corner_bottom_left_black.png") no-repeat scroll top left !important;
}
#crcontentwrap_bottom_right {
	background: url("Images/corner_bottom_right_black.png") no-repeat scroll top right !important;
}
#crcontentwrap_bottom_mid {
	background: url("Images/bottom_edge_black.png") repeat-x scroll top left !important;
	margin: 0 23px !important;
}
ul.rnCommands {
    list-style: none;
}
ul.rnCommands li {
    list-style: none;
}
.carousel-wrap ul li {
    display: inline;
    float: left;
    overflow: hidden;
    position: relative;
    width: 724px;
}
.carousel-control {
    border: 0 none;
    cursor: pointer;
    float: left;
    height: 38px;
    line-height: 999px;
    overflow: hidden;
    padding: 0;
    text-indent: -9999px;
    vertical-align: middle;
    width: 20px;
}

.carousel-control:hover {
    opacity: 0.7;
}

.carousel-next {
    background: url("images/right_arrow.png") no-repeat scroll 0 0 transparent;
    position: absolute;
    right: 0;
    top: 45%;
    margin-right: 20px;
}
.carousel-previous {
    background: url("images/left_arrow.png") no-repeat scroll 0 0 transparent;
    left: 0;
    position: absolute;
    top: 45%;
    margin-left: 20px;
}

.disabled, #container .carousel .disabled:hover {
    cursor: default;
    display: none;
}
.carousel-wrap {
    float: left;
    margin: 20px 0 20px 90px;
    vertical-align: middle;
    width: 724px;
}

.carousel-pagination {
    background: url("Images/black_bg.png") repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 72px;
    margin: 0 -14px;
    text-align: center;
    width: 928px;
}
.carousel-pagination a.active {
    color: #5DB0E6;
    font-weight: bold;
}
.carousel-pagination a {
    background: none repeat scroll 0 0 #333333;
    border: 1px solid #4F4F4F;
    border-radius: 12px 12px 12px 12px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 11px;
    line-height: 72px;
    margin: 0 10px;
    padding: 2px 5px;
}

.carousel-pagination p {
    margin: 0;
}

/* Button long styles { */
.ss-btn { display: inline-block;zoom: 1;*display: inline;cursor: pointer; }
.btn-long { background: url("Images/red_button_long_left.png") no-repeat scroll top left; }
.btn-long-right { background: url("Images/red_button_long_right.png") no-repeat scroll top right; }
.btn-long-mid { background: url("Images/red_button_long_mid.png") repeat-x scroll top left; height: 35px; margin: 0px 6px; overflow: hidden; }
.btn-long-text { padding: 8px 10px 0px 10px; font-weight: bold; color: #000;text-align: center;cursor: pointer;min-width: 170px; }
.btn-long-link { border: none !important; }
.setting_list_tb{
    width: 300px;
    border: 1px solid #ddd;    
}
.setting_list_tb .heading {
    background-color: #5db0e6;
}
.setting_list_tb .row {
    background-color: #dddddd;

}
.alert-info {
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #31708F;
}
.alert {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    margin-top: 20px;
    padding: 15px;
    width: 70%;
}