﻿#cr_maincontainer {
	
}
.cr_uploadform {
	margin-bottom: 20px;
}
#cr_maincontainer ul li {
	list-style: none;
}

.invalidLabel {
	color: red;
	font-weight: bold;
}
#cr_proccessbar {
	display: none;
	margin-top: 10px;
}
#cr_proccessbar pre {
	background-color: #ddd;
	height: 400px;
	overflow: auto;
	margin: 10px 0;
}
.msgHolder {
	display: none;
	font-weight: bold;
}
#crAction {
	margin: 10px 0;
}