﻿.CspManageConsumerProfile-permission-inline-combobox
{
	vertical-align: middle;
}
.CspManageConsumerProfile-permission-inline-button
{
	vertical-align: middle;
}

.CspManageConsumerProfile-permission-subview-container
{
	background-color: #7ac9fe;
	padding: 5px;
}

table.tabContent 
{
    margin: 10px;
}
table.tabContent tr td
{
    padding: 2px 5px;
}
.clear {clear:both;}
input.rgFilterBox {width:90%;}
.listEditForm {
	text-align: center;
}

.crlablel {
	width: 200px;
	text-align: right;
	vertical-align: top;
}

.crvalue {
	width: 200px;
	text-align: left;
}
.dropClue
{
    width: 24px;
    height: 24px;
    position: absolute;
    left: -10px;
    top: -10px;
}

#manage_consumer_theme_wrap .RadListBox .rlbGroup {
    border: none;
}

.dropEnabled
{
    background-image: url('Images/Green.png');
}
        
.dropDisabled
{
    background-image: url('Images/Red.png');
}

.nodot li
{
	list-style-type: none;
}

.category-tree
{
    overflow: hidden;
}