﻿.codeBlock {
	/*width: 590px;*/
	background: #FFFFFF;
	overflow-y: auto;
	overflow: auto;
	overflow-x: hidden;
	white-space: normal;
	display: block;
	padding-bottom: 5px;
	border-top: 2px solid #6A6864;
	border-right: 2px solid #9F9C96;
	border-bottom: 2px solid #9F9C96;
	border-left: 2px solid #6A6864;
}
.codeBlock P {
	padding: 5px 0px 5px 10px;
	margin: 0px;
	white-space: normal;
}
.title {
	font: bold 11px Arial, Helvetica, sans-serif;
	padding: 5px;
	background: #EDE9EA;
}
.clearfix
{
    clear:both;
}

#csp_doc_container
{
    padding:15px;
}
