﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Settings.ascx.cs" Inherits="DesktopModules.CSPModules.CSPContentSetup.CSPDocumentation.Settings" %>
<table>
    <tr><td><asp:CheckBox runat="server" ID="cbShowcase" Text="Showcase" /></td></tr>
    <tr><td><asp:CheckBox runat="server" ID="cbExploreProduct" Text="Explore Product" /></td></tr>           
</table>
