<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Controller.ascx.cs" Inherits="TIEKinetix.CSPModules.CspCoOpProgram.Controller" %>
<div class="csp-coop-program-container">
<%=HtmlBlock %>
</div>
