﻿div.csp-coop-program-container p{padding: 5px 0;}
div.csp-coop-program-container h3 {font-weight:bold; padding: 30px 0 10px 0;}
div.csp-coop-program-container ol {padding: 10px 0 0px 20px;}
div.csp-coop-program-container table tr td {padding: 5px 0 5px 5px; vertical-align: top;border-bottom:1px dotted #000;}
div.csp-coop-program-container table {border: 1px solid #000;}